﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SmartMFG Foley</title>
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/fontawesome/fontawesome-all.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/all.min.css" asp-append-version="true" />
    </environment>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>
<script>
    
    $(document).ready(function () {
        $('.filter-icon-con').click(function () {
            $(this).addClass('filter-icon-active')           
        })
       
        $(document).on('click touch', function (e) {
            if (!$(e.target).parents().addBack().is('.filter-icon-con')) {
                $('.filter-icon-con').removeClass('filter-icon-active');
                
            }
        })
        $(document).on('click touch', function (e) {
            if (!$(e.target).parents().addBack().is('.key-icon-con')) {
               
                $('#export-filters').hide();
                $('#export-filter-icon').show();
            }
        })
    })
</script>
<body>
    <header class="apm-header">
        @*<h1 id="navbarLogo" onclick="location.href='@Url.Action("Index", "InboundRawMaterials")';return false;"><span>smart</span>MFG - Suzhou</h1>*@
        <h1 id="navbarLogo" onclick="location.href='./';return false;"><span>smart</span>MFG - Foley</h1>

        <h1 id="navbarheader">@ViewData["Title"]</h1>

        @await Component.InvokeAsync("UserInfo")

    </header>
    <main role="main" class="mt-5">
        <div class="container-fluid">
            @RenderBody()
        </div>
    </main>
   
    <footer class="apm-footer">
        <p>SmartMFG &copy; @DateTime.Now.Year - Ascend Performance Materials</p>
        <p>Version 3.1.0</p>
    </footer>

    <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
    <script src="~/js/TypeAhead/bootstrap3-typeahead.min.js"></script>
    <script src="~/js/CountryDropDown/bootstrap-select-country.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
