﻿<div class="row pl-3">
    <div class="apm-icon-home" id="home-icon" onclick="location.href='@Url.Action("Index", "Home")';return false;">
        <i class="fa fa-home apm-icon"></i>
        <span>Home</span>
    </div>

    <div class="apm-icon-home" id="barcode-icon" onclick="location.href='@Url.Action("STO", "InboundRawMaterials")';return false;">
        <i class="fas fa-clipboard-list apm-icon"></i>
        <span>STO</span>
    </div>
    
    <div class="apm-icon-home" id="barcode-icon" onclick="location.href='@Url.Action("Index", "InboundRawMaterials", new { rmType = "Purchase_Order" })';return false;">
        <i class="fab fa-product-hunt apm-icon"></i>
        <span>Purchase Order</span>
    </div>
</div>
