﻿@model DataLibrary.Models.RunSheetModel

@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm("Create", "RUNSHEETs", FormMethod.Post, new { id = "runSheetCreate", enctype = "multipart/form-data" }))
{
<div class="container-fluid">

   

    <div class="row">
        <div class="col-sm-3 pull-left">
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.Ext_Nbr)
            @Html.HiddenFor(model => model.Material_Num)
            <table>
                <tr>
                    <td style="padding-right:10px">
                        <div class="dropdown">
                            <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown">
                                <i class='far fa-arrow-alt-circle-left' style="font-size:24px"></i>
                            </button>
                            <div id="RES" class="dropdown-menu" style="padding-left:10px">
                                <p>@Html.ActionLink("Production Schedule", "ProductionSchedule", "Home")</p>
                                <p>@Html.ActionLink("Process Order Details", "ProcessOrderDetails", "Home", new { PO = ViewBag.PSM.Process_Order_Number }, null)</p>
                                @*<p>@Html.ActionLink("X-Base Control Charts", "Xbase", "Home", new { desc = "Select...", tag = "NoTagExists", MN = ViewBag.PSM.Material_Number, MD = ViewBag.PSM.Material_Description, PO = ViewBag.PSM.Process_Order_Number }, null)</p>*@
                            </div>
                        </div>
                    </td>
                    <td style="padding-right:10px">
                        @if (ViewBag.CanEdit == true)
                        {
                            <button type="submit" class="btn btn-info" id="processForm" onclick="createLists();"><i class="fa fa-save" style="font-size:24px"></i></button>
                        }
                        else
                        {
                            <button type="submit" class="btn btn-info" id="processForm" disabled><i class="fa fa-save" style="font-size:24px"></i></button>
                        }
                    </td>
                    <td>
                        <div class="dropdown" style="width:450px;float:left;">
                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" style="width:450px;text-align:left;font-size:18px;"><span class="caret"></span>&nbsp;&nbsp;@*@ViewBag.PSM.MATERIAL_DESCRIPTION @ViewBag.PSM.RESOURCE*@ Details</button>
                            <div class="dropdown-menu well well-sm" id="ddBody" style="width:650px">

                                <table class="center">
                                    <tr>
                                        <td class="center-td">
                                            <div class="form-group">
                                                <label for="SETUP_BY">Batch Number</label>
                                                @*<input class="form-control" id="BATCH_NBR" name="BATCH_NBR" value="@Model.Batch_Nbr" type="number" min="1" onblur="this.value=absVal(this.value,99)">*@
                                            </div>
                                        </td>
                                        <td class="center-td">
                                            <div class="form-group">
                                                <label for="VERIFIED_BY">Process Order Number</label>
                                                <input class="form-control" id="PO_NBR" name="PO_NBR" type="number" value="@Model.Po_Nbr" readonly>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="center-td">
                                            <div class="form-group">
                                                <label for="SETUP_BY">SAP Material Number</label>
                                                <input class="form-control" id="MATERIAL_NUMBER" name="MATERIAL_NUMBER" type="number" value="@Model.Material_Num" readonly>
                                            </div>
                                        </td>
                                        <td class="center-td">
                                            <div class="form-group">
                                                <label for="SETUP_BY">Amount</label>
                                                <input class="form-control" id="QUANTITY" name="QUANTITY" type="number" min="0" value="@Model.Pack_Qty" onblur="this.value=absVal(this.value,99)">
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="center-td">
                                            <div class="form-group">
                                                <label for="VERIFIED_BY">Issued By</label>
                                                <input class="form-control" id="ISSUED_BY" name="ISSUED_BY" type="text" value="@Model.Issued_By">
                                            </div>
                                        </td>
                                        <td class="center-td">
                                            <div class="form-group">
                                                <label for="VERIFIED_BY">Issued Date</label>
                                                <input class="form-control" id="ISSUED_DATE" name="ISSUED_DATE" type="datetime-local" value="@Model.Issued_Date">
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="center-td">
                                            <div class="form-group">
                                                <label for="SETUP_BY">Package Type</label>
                                                <input class="form-control" id="PACKAGE_TYPE" name="PACKAGE_TYPE" type="text" value="@Model.Packing_Type">
                                            </div>
                                        </td>
                                        <td class="center-td">
                                            <div class="form-group">
                                                <label for="VERIFIED_BY">Verified By</label>
                                                <input class="form-control" id="VERIFIED_BY" name="VERIFIED_BY" type="text" value="@Model.Verified_By">
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="center-td">
                                            <div class="form-group">
                                                <label for="SETUP_BY">Setup By</label>
                                                <input class="form-control" id="SET_UP_BY" name="SET_UP_BY" type="text" value="@Model.Created_By">
                                            </div>
                                        </td>

                                        <td class="center-td">
                                            <div class="form-group">
                                                <label for="SETUP_BY">Setup Date</label>
                                                <input class="form-control" id="SET_UP_DATE" name="SET_UP_DATE" type="datetime-local" value="@Model.Create_Date">
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
            @if (Model.Production_Ready == true)
            {
                <label for="PRODUCTION_READY">Production Ready</label>
                <select name="PRODUCTION_READY" id="PRODUCTION_READY">
                    <option value="false">No</option>
                    <option value="true" selected>Yes</option>
                </select>
            }
            else
            {
                <label for="PRODUCTION_READY">Production Ready</label>
                <select name="PRODUCTION_READY" id="PRODUCTION_READY">
                    <option value="false" selected>No</option>
                    <option value="true">Yes</option>
                </select>
            }

            @Html.DisplayFor(model => model.Create_Date)

            @if (ViewBag.Previous == true)
            {
                @Html.ActionLink("Copy Previous Run Sheet", "PreviousDates", "Runsheets", new { PO = ViewBag.PSM.Process_Order_Num }, null)
            }
        </div>
        <div class="col-sm-4">
            <h1 class="text-primary text-center" style="text-align:center">Foley Run Sheets</h1>
        </div>
        <div class="col-sm-5 yellowPanel">
            <br />
            <div class="container">
                <div class="col-sm-2">
                    <strong>
                        @Html.EditorFor(model => model.Pack_Qty, new { htmlAttributes = new { @placeholder = "How Many?" } })
                        @Html.ValidationMessageFor(model => model.Pack_Qty, "", new { @class = "text-danger" })
                    </strong>
                </div>
                <div class="col-sm-2">
                    <strong>
                        @*@Html.DropDownListFor(model => model.Pack_Default_Wgt, new SelectList(ViewBag.WgtDefaults, "Text", "Value"), new { htmlAttributes = new { @class = "yellowPanel" } })
                            @Html.ValidationMessageFor(model => model.Pack_Default_Wgt, "", new { @class = "text-danger" })*@
                    </strong>
                </div>
                <div class="col-sm-2">
                    <strong>
                        @*@Html.DropDownListFor(model => model.Logo_Nologo, new SelectList(ViewBag.Logo, "Text", "Value"), new { htmlAttributes = new { @class = "yellowPanel" } })
                            @Html.ValidationMessageFor(model => model.Logo_Nologo, "", new { @class = "text-danger" })*@
                    </strong>
                </div>
                <div class="col-sm-2">
                    <strong>
                        @*@Html.DropDownListFor(model => model.Packing_Type, new SelectList(ViewBag.PackTypes, "Text", "Value"), new { htmlAttributes = new { @class = "yellowPanel" } })
                            @Html.ValidationMessageFor(model => model.Packing_Type, "", new { @class = "text-danger" })*@
                    </strong>
                </div>
            </div>
            <br />
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12 col-lg-4">
            <br />
            <div class="row well well-sm">
                <form class="form-inline">
                    <table>
                        <tr>
                            <td>
                                @Html.LabelFor(model => model.Master_Rate)

                                @Html.EditorFor(model => model.Master_Rate)
                                @Html.ValidationMessageFor(model => model.Master_Rate, "", new { @class = "text-danger" })
                            </td>
                            @*<td>
                                    @Html.LabelFor(model => model.REWORK_RATE)

                                    @Html.EditorFor(model => model.REWORK_RATE)
                                    @Html.ValidationMessageFor(model => model.REWORK_RATE, "", new { @class = "text-danger" })

                                </td>*@
                        </tr>
                    </table>
                </form>
            </div>

            <table class="table table-bordered table-hover table-striped table-sm" id="feederTable" style="width:100%">
                <thead>
                    <tr>
                        <th>Feeder</th>
                        <th>Contents</th>
                        <th>Feed Percent</th>
                        <th>Feed LBS/Hour</th>
                    </tr>
                </thead>
                <tbody id="feederBody">
                    <tr id="feeder1">
                        <td>
                            @Html.LabelFor(model => model.Feeder1_Material)
                        </td>
                        <td>
                            @Html.DropDownListFor(model => model.Feeder1_Material, new SelectList(ViewBag.AltBom, "SAP_MATL_NBR", "MATERIAL_DESCRIPTION"))
                            @Html.ValidationMessageFor(model => model.Feeder1_Material, "", new { @class = "text-danger" })
                        </td>
                        <td>
                            @*@Html.EditorFor(model => model.Feeder1_Percetage)*@<input type="number" class="form-control form-control-sm" id="Feeder1_Percetage" />
                        </td>
                        <td>
                            <span id="FEEDER1_WGT"></span>
                        </td>
                    </tr>
                    <tr id="feeder2">
                        <td>
                            @Html.LabelFor(model => model.Feeder2_Material)
                        </td>
                        <td>
                            @Html.DropDownListFor(model => model.Feeder2_Material, new SelectList(ViewBag.AltBom, "SAP_MATL_NBR", "MATERIAL_DESCRIPTION"))
                            @Html.ValidationMessageFor(model => model.Feeder2_Material, "", new { @class = "text-danger" })
                        </td>
                        <td>
                            @*@Html.EditorFor(model => model.Feeder2_Percetage)*@ <input type="number" class="form-control form-control-sm" id="Feeder2_Percetage" />
                        </td>
                        <td>
                            <span id="FEEDER2_WGT"></span>
                        </td>
                    </tr>
                    <tr id="feeder3">
                        <td>
                            @Html.LabelFor(model => model.Feeder3_Material)
                        </td>
                        <td>
                            @Html.DropDownListFor(model => model.Feeder3_Material, new SelectList(ViewBag.AltBom, "SAP_MATL_NBR", "MATERIAL_DESCRIPTION"))
                            @Html.ValidationMessageFor(model => model.Feeder3_Material, "", new { @class = "text-danger" })
                        </td>
                        <td>
                            @*@Html.EditorFor(model => model.Feeder3_Percetage)*@ <input type="number" class="form-control form-control-sm" id="Feeder3_Percetage" />
                        </td>
                        <td>
                            <span id="FEEDER3_WGT"></span>
                        </td>
                    </tr>
                    <tr id="feeder4">
                        <td>
                            @Html.LabelFor(model => model.Feeder4_Material)
                        </td>
                        <td>
                            @Html.DropDownListFor(model => model.Feeder4_Material, new SelectList(ViewBag.AltBom, "SAP_MATL_NBR", "MATERIAL_DESCRIPTION"))
                            @Html.ValidationMessageFor(model => model.Feeder4_Material, "", new { @class = "text-danger" })
                        </td>
                        <td>
                            @*@Html.EditorFor(model => model.Feeder4_Percetage)*@<input type="number" class="form-control form-control-sm" id="Feeder4_Percetage" />
                        </td>
                        <td>
                            <span id="FEEDER4_WGT"></span>
                        </td>
                    </tr>
                    <tr id="feeder5">
                        <td>
                            @Html.LabelFor(model => model.Feeder5_Material)
                        </td>
                        <td>
                            @Html.DropDownListFor(model => model.Feeder5_Material, new SelectList(ViewBag.AltBom, "SAP_MATL_NBR", "MATERIAL_DESCRIPTION"))
                            @Html.ValidationMessageFor(model => model.Feeder5_Material, "", new { @class = "text-danger" })
                        </td>
                        <td>
                            @*@Html.EditorFor(model => model.Feeder5_Percetage)*@ <input type="number" class="form-control form-control-sm" id="Feeder5_Percetage" />
                        </td>
                        <td>
                            <span id="FEEDER5_WGT"></span>
                        </td>
                    </tr>
                    <tr id="feeder6">
                        <td>
                            @Html.LabelFor(model => model.Feeder6_Material)
                        </td>
                        <td>
                            @Html.DropDownListFor(model => model.Feeder6_Material, new SelectList(ViewBag.AltBom, "SAP_MATL_NBR", "MATERIAL_DESCRIPTION"))
                            @Html.ValidationMessageFor(model => model.Feeder6_Material, "", new { @class = "text-danger" })
                        </td>
                        <td>
                            @*@Html.EditorFor(model => model.Feeder6_Percetage)*@ <input type="number" class="form-control form-control-sm" id="Feeder6_Percetage" />
                        </td>
                        <td>
                            <span id="FEEDER6_WGT"></span>
                        </td>
                    </tr>
                    <tr id="feeder7">
                        <td>
                            @Html.LabelFor(model => model.Feeder7_Material)
                        </td>
                        <td>
                            @Html.DropDownListFor(model => model.Feeder7_Material, new SelectList(ViewBag.AltBom, "SAP_MATL_NBR", "MATERIAL_DESCRIPTION"))
                            @Html.ValidationMessageFor(model => model.Feeder7_Material, "", new { @class = "text-danger" })
                        </td>
                        <td>
                            @*@Html.EditorFor(model => model.Feeder7_Percetage)*@ <input type="number" class="form-control form-control-sm" id="Feeder7_Percetage" />
                        </td>
                        <td>
                            <span id="FEEDER7_WGT"></span>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td style="border:none"></td>
                        <td style="text-align:right;border:none"><strong>Total</strong></td>
                        <td style="border:none"><text id="FEEDER_TOT" name="FEEDER_TOT" style="float:right">Total</text></td>
                        <td style="border:none"></td>
                    </tr>
                </tfoot>
            </table>
            <input type="text" id="selectIndex" name="selectIndex" style="display:none" value="index">

            <table class="table table-bordered table-hover table-striped table-sm" id="misc1Table" style="width:100%">
                <thead>
                    <tr>
                        <th>Item</th>
                        <th>Set Point</th>
                        <th>S/P Limits</th>
                        <th>Units</th>
                    </tr>
                </thead>
                <tbody id="misc1Body">
                    <tr>
                        <td>
                            @Html.LabelFor(model => model.Extruder_Motor_Setpoint)
                        </td>
                        <td>
                            @*@Html.EditorFor(model => model.Extruder_Motor_Setpoint)*@
                            <input type="number" class="form-control form-control-sm" id="Extruder_Motor_Setpoint" />
                            @Html.ValidationMessageFor(model => model.Extruder_Motor_Setpoint, "", new { @class = "text-danger" })
                        </td>
                        <td>
                            @*@Html.EditorFor(model => model.Extruder_Motor_Limit)*@
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1"> +/-</span>
                                </div>
                                <input type="number" class="form-control form-control-sm" id="Extruder_Motor_Limit" aria-label="Extruder_Motor_Setpoint" aria-describedby="basic-addon1">
                            </div>
                            @Html.ValidationMessageFor(model => model.Extruder_Motor_Limit, "", new { @class = "text-danger" })
                        </td>
                        <td>
                            @*@Html.EditorFor(model => model.Extruder_Motor_Unit)*@ <input class="form-control form-control-sm" id="Extruder_Motor_Unit" />
                            @Html.ValidationMessageFor(model => model.Extruder_Motor_Unit, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.LabelFor(model => model.Extruder_Vacuum_Setpoint)
                        </td>
                        <td>
                            @*@Html.EditorFor(model => model.Extruder_Vacuum_Setpoint)*@<input type="number" class="form-control form-control-sm" id="Extruder_Vacuum_Setpoint" />
                            @Html.ValidationMessageFor(model => model.Extruder_Vacuum_Setpoint, "", new { @class = "text-danger" })
                        </td>
                        <td>
                            @*@Html.EditorFor(model => model.Extruder_Vacuum_Limit)*@
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon2"> +/-</span>
                                </div>
                                <input type="number" class="form-control form-control-sm" id="Extruder_Vacuum_Limit" aria-label="Extruder_Motor_Setpoint" aria-describedby="basic-addon2">
                            </div>
                            @Html.ValidationMessageFor(model => model.Extruder_Vacuum_Limit, "", new { @class = "text-danger" })
                        </td>
                        <td>
                            @*@Html.EditorFor(model => model.Extruder_Vacuum_Unit)*@ <input class="form-control form-control-sm" id="Extruder_Vacuum_Unit" />
                            @Html.ValidationMessageFor(model => model.Extruder_Vacuum_Unit, "", new { @class = "text-danger" })
                        </td>
                    </tr>

                    <!--<tr id="barrel5">
                        <td>
                            @Html.LabelFor(model => model.Side_Stuffer_Barrel5_Setpoint)
                        </td>
                        <td>-->
                    @*@Html.EditorFor(model => model.Side_Stuffer_Barrel5_Setpoint)*@
                    <!--<input type="number" class="form-control form-control-sm" id="Side_Stuffer_Barrel5_Setpoint" />
                        @Html.ValidationMessageFor(model => model.Side_Stuffer_Barrel5_Setpoint, "", new { @class = "text-danger" })
                    </td>
                    <td>-->
                    @*@Html.EditorFor(model => model.Side_Stuffer_Barrel5_Limit)*@
                    <!--<div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon3"> +/-</span>
                            </div>
                            <input type="number" class="form-control form-control-sm" id="Side_Stuffer_Barrel5_Limit" aria-label="Extruder_Motor_Setpoint" aria-describedby="basic-addon3">
                        </div>
                        @Html.ValidationMessageFor(model => model.Side_Stuffer_Barrel5_Limit, "", new { @class = "text-danger" })
                    </td>
                    <td>-->
                    @*@Html.EditorFor(model => model.Side_Stuffer_Barrel5_Unit)*@
                    <!--<input  class="form-control form-control-sm" id="Side_Stuffer_Barrel5_Unit" />
                            @Html.ValidationMessageFor(model => model.Side_Stuffer_Barrel5_Unit, "", new { @class = "text-danger" })
                        </td>
                    </tr>-->
                    <tr id="barrel4">
                        <td>

                            @Html.LabelFor(model => model.Side_Stuffer_Barrel4_Setpoint)
                        </td>
                        <td>
                            @*@Html.EditorFor(model => model.Side_Stuffer_Barrel4_Setpoint)*@ <input type="number" class="form-control form-control-sm" id="Side_Stuffer_Barrel4_Setpoint" />
                            @Html.ValidationMessageFor(model => model.Side_Stuffer_Barrel4_Setpoint, "", new { @class = "text-danger" })
                        </td>
                        <td>
                            @*@Html.EditorFor(model => model.Side_Stuffer_Barrel4_Limit)*@
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon4"> +/-</span>
                                </div>
                                <input type="number" class="form-control form-control-sm" id="Side_Stuffer_Barrel4_Limit" aria-label="Extruder_Motor_Setpoint" aria-describedby="basic-addon4">
                            </div>
                            @Html.ValidationMessageFor(model => model.Side_Stuffer_Barrel4_Limit, "", new { @class = "text-danger" })
                        </td>
                        <td>
                            @*@Html.EditorFor(model => model.Side_Stuffer_Barrel4_Unit)*@<input class="form-control form-control-sm" id="Side_Stuffer_Barrel4_Unit" />
                            @Html.ValidationMessageFor(model => model.Side_Stuffer_Barrel4_Unit, "", new { @class = "text-danger" })
                        </td>
                    </tr>

                    <!--<tr id="barrel7">
                        <td>
                            @Html.LabelFor(model => model.Side_Stuffer_Barrel7_Setpoint)
                        </td>
                        <td>-->
                    @*@Html.EditorFor(model => model.Side_Stuffer_Barrel7_Setpoint)*@
                    <!--<input type="number" class="form-control form-control-sm" id="Side_Stuffer_Barrel7_Setpoint" />
                        @Html.ValidationMessageFor(model => model.Side_Stuffer_Barrel7_Setpoint, "", new { @class = "text-danger" })
                    </td>
                    <td>-->
                    @*@Html.EditorFor(model => model.Side_Stuffer_Barrel7_Limit)*@
                    <!--<div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon5"> +/-</span>
                            </div>
                            <input type="number" class="form-control form-control-sm" id="Side_Stuffer_Barrel7_Limit" aria-label="Extruder_Motor_Setpoint" aria-describedby="basic-addon5">
                        </div>
                        @Html.ValidationMessageFor(model => model.Side_Stuffer_Barrel7_Limit, "", new { @class = "text-danger" })
                    </td>
                    <td>-->
                    @*@Html.EditorFor(model => model.Side_Stuffer_Barrel7_Unit)*@
                    <!--<input class="form-control form-control-sm" id="Side_Stuffer_Barrel7_Unit" />
                            @Html.ValidationMessageFor(model => model.Side_Stuffer_Barrel7_Unit, "", new { @class = "text-danger" })
                        </td>
                    </tr>-->
                    <tr id="barrel6">
                        <td>

                            @Html.LabelFor(model => model.Side_Stuffer_Barrel6_Setpoint)
                        </td>
                        <td>

                            @*@Html.EditorFor(model => model.Side_Stuffer_Barrel6_Setpoint)*@<input type="number" class="form-control form-control-sm" id="Side_Stuffer_Barrel6_Setpoint" />
                            @Html.ValidationMessageFor(model => model.Side_Stuffer_Barrel6_Setpoint, "", new { @class = "text-danger" })
                        </td>
                        <td>
                            @*@Html.EditorFor(model => model.Side_Stuffer_Barrel6_Limit)*@
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon6"> +/-</span>
                                </div>
                                <input type="number" class="form-control form-control-sm" id="Side_Stuffer_Barrel6_Limit" aria-label="Extruder_Motor_Setpoint" aria-describedby="basic-addon6">
                            </div>
                            @Html.ValidationMessageFor(model => model.Side_Stuffer_Barrel6_Limit, "", new { @class = "text-danger" })
                        </td>
                        <td>
                            @*@Html.EditorFor(model => model.Side_Stuffer_Barrel6_Vacuum_Unit)*@ <input class="form-control form-control-sm" id="Side_Stuffer_Barrel6_Vacuum_Unit" />
                            @Html.ValidationMessageFor(model => model.Side_Stuffer_Barrel6_Vacuum_Unit, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                </tbody>
            </table>

            @Html.EditorFor(model => model.Item_Comments, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Item_Comments, "", new { @class = "text-danger" })

            @*@Html.ActionLink("Create Blend Recipe", "Create", "Blends", new { PO = Model.PO_NBR }, null)*@

            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Blends
                        </th>
                        <th></th>
                    </tr>
                </thead>
                @{
                    <tbody id="blenderBody">
                        @if (ViewBag.Blends != null)
                        {
                            foreach (var item in ViewBag.Blends)
                            {
                                <tr>
                                    <td>
                                        @Html.ActionLink("Details", "Details", "Blends", new { id = item.ID }, null)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Edit", "Edit", "Blends", new { id = item.ID }, null)
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                    @*<tfoot>
                            <tr class="bg-primary text-primary">
                                <td style="border:none"></td>
                                <td style="height:25px;text-align:right;border:none"><strong>Total</strong></td>
                                <td style="width:125px;height:25px;text-align:right;border:none">
                                    <text id="BLDR_TOT" name="BLDR_TOT">@total2</text>
                                    <text>%</text>
                                </td>
                            </tr>
                        </tfoot>*@
                }
            </table>

        </div>
        <div class="col-md-6 col-sm-12 col-lg-4">
            <br />
            <table class="table table-bordered table-hover table-striped table-responsive table-condensed" id="zoneTempsTable">
                <thead>
                    <tr>
                        <th><span class="caret" onclick="$('#zoneTempsBody').toggle()"></span>&nbsp;&nbsp;Item</th>
                        <th>Set Point</th>
                        <th>S/P Limits</th>
                        <th>Units</th>
                    </tr>
                </thead>
                <tbody id="zoneTempsBody">
                    <tr>
                        <td>
                            @Html.LabelFor(model => model.Zone1_Setpoint)
                        </td>
                        <td>
                            @*@Html.EditorFor(model => model.Zone1_Setpoint)*@ <input type="number" class="form-control form-control-sm" id="Zone1_Setpoint" />
                            @Html.ValidationMessageFor(model => model.Zone1_Setpoint, "", new { @class = "text-danger" })
                        </td>
                        <td>
                            @*+/- @Html.EditorFor(model => model.Zone1_Limit)*@
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">+/-</span>
                                </div>
                                <input type="number" id="Zone1_Limit" class="form-control form-control-sm" aria-label="Zone1_Limit" aria-describedby="basic-addon1">
                            </div>
                            @Html.ValidationMessageFor(model => model.Zone1_Limit, "", new { @class = "text-danger" })
                        </td>
                        <td>
                            @*@Html.EditorFor(model => model.Zone1_Unit)*@ <input class="form-control form-control-sm" id="Zone1_Unit" />
                            @Html.ValidationMessageFor(model => model.Zone1_Unit, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.LabelFor(model => model.Zone2_Setpoint)
                        </td>
                        <td>
                            @*@Html.EditorFor(model => model.Zone2_Setpoint)*@ <input type="number" class="form-control form-control-sm" id="Zone2_Setpoint" />
                            @Html.ValidationMessageFor(model => model.Zone2_Setpoint, "", new { @class = "text-danger" })
                        </td>
                        <td>
                            @*+/- @Html.EditorFor(model => model.Zone2_Limit)*@
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon2">+/-</span>
                                </div>
                                <input type="number" id="Zone2_Limit" class="form-control form-control-sm" aria-label="Zone2_Limit" aria-describedby="basic-addon2">
                            </div>
                            @Html.ValidationMessageFor(model => model.Zone2_Limit, "", new { @class = "text-danger" })
                        </td>
                        <td>
                            @*@Html.EditorFor(model => model.Zone2_Unit)*@ <input class="form-control form-control-sm" id="Zone2_Unit" />
                            @Html.ValidationMessageFor(model => model.Zone2_Unit, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.LabelFor(model => model.Zone3_Setpoint)
                        </td>
                        <td>
                            @*@Html.EditorFor(model => model.Zone3_Setpoint)*@ <input type="number" class="form-control form-control-sm" id="Zone3_Setpoint" />
                            @Html.ValidationMessageFor(model => model.Zone3_Setpoint, "", new { @class = "text-danger" })
                        </td>
                        <td>
                            @*+/- @Html.EditorFor(model => model.Zone3_Limit)*@
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon3">+/-</span>
                                </div>
                                <input type="number" id="Zone3_Limit" class="form-control form-control-sm" aria-label="Zone3_Limit" aria-describedby="basic-addon3">
                            </div>
                            @Html.ValidationMessageFor(model => model.Zone3_Limit, "", new { @class = "text-danger" })
                        </td>
                        <td>
                            @*@Html.EditorFor(model => model.Zone3_Unit)*@ <input class="form-control form-control-sm" id="Zone3_Unit" />
                            @Html.ValidationMessageFor(model => model.Zone3_Unit, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.LabelFor(model => model.Zone4_Setpoint)
                        </td>
                        <td>
                            @*@Html.EditorFor(model => model.Zone4_Setpoint)*@ <input type="number" class="form-control form-control-sm" id="Zone4_Setpoint" />
                            @Html.ValidationMessageFor(model => model.Zone4_Setpoint, "", new { @class = "text-danger" })
                        </td>
                        <td>
                            @*+/- @Html.EditorFor(model => model.Zone4_Limit)*@
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon4">+/-</span>
                                </div>
                                <input type="number" id="Zone4_Limit" class="form-control form-control-sm" aria-label="Zone4_Limit" aria-describedby="basic-addon4">
                            </div>
                            @Html.ValidationMessageFor(model => model.Zone4_Limit, "", new { @class = "text-danger" })
                        </td>
                        <td>
                            @*@Html.EditorFor(model => model.Zone3_Unit)*@ <input class="form-control form-control-sm" id="Zone4_Unit" />
                            @Html.ValidationMessageFor(model => model.Zone4_Unit, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.LabelFor(model => model.Zone5_Setpoint)
                        </td>
                        <td>
                            @*@Html.EditorFor(model => model.Zone5_Setpoint)*@ <input type="number" class="form-control form-control-sm" id="Zone5_Setpoint" />
                            @Html.ValidationMessageFor(model => model.Zone5_Setpoint, "", new { @class = "text-danger" })
                        </td>
                        <td>
                            @*+/- @Html.EditorFor(model => model.Zone5_Limit)*@
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon5">+/-</span>
                                </div>
                                <input type="number" id="Zone5_Limit" class="form-control form-control-sm" aria-label="Zone5_Limit" aria-describedby="basic-addon5">
                            </div>
                            @Html.ValidationMessageFor(model => model.Zone5_Limit, "", new { @class = "text-danger" })
                        </td>
                        <td>
                            @*@Html.EditorFor(model => model.Zone5_Unit)*@ <input class="form-control form-control-sm" id="Zone5_Unit" />
                            @Html.ValidationMessageFor(model => model.Zone5_Unit, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.LabelFor(model => model.Zone6_Setpoint)
                        </td>
                        <td>
                            @*@Html.EditorFor(model => model.Zone6_Setpoint)*@ <input type="number" class="form-control form-control-sm" id="Zone6_Setpoint" />
                            @Html.ValidationMessageFor(model => model.Zone6_Setpoint, "", new { @class = "text-danger" })
                        </td>
                        <td>
                            @*+/- @Html.EditorFor(model => model.Zone6_Limit)*@
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon6">+/-</span>
                                </div>
                                <input type="number" id="Zone6_Limit" class="form-control form-control-sm" aria-label="Zone6_Limit" aria-describedby="basic-addon6">
                            </div>
                            @Html.ValidationMessageFor(model => model.Zone6_Limit, "", new { @class = "text-danger" })
                        </td>
                        <td>
                            @*@Html.EditorFor(model => model.Zone6_Unit)*@ <input class="form-control form-control-sm" id="Zone6_Unit" />
                            @Html.ValidationMessageFor(model => model.Zone6_Unit, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.LabelFor(model => model.Zone7_Setpoint)
                        </td>
                        <td>
                            @*@Html.EditorFor(model => model.Zone7_Setpoint)*@<input type="number" class="form-control form-control-sm" id="Zone7_Setpoint" />
                            @Html.ValidationMessageFor(model => model.Zone7_Setpoint, "", new { @class = "text-danger" })
                        </td>
                        <td>
                            @*+/- @Html.EditorFor(model => model.Zone7_Limit)*@
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon7">+/-</span>
                                </div>
                                <input type="number" id="Zone7_Limit" class="form-control form-control-sm" aria-label="Zone7_Limit" aria-describedby="basic-addon7">
                            </div>
                            @Html.ValidationMessageFor(model => model.Zone7_Limit, "", new { @class = "text-danger" })
                        </td>
                        <td>
                            @*@Html.EditorFor(model => model.Zone7_Unit)*@ <input class="form-control form-control-sm" id="Zone7_Unit" />
                            @Html.ValidationMessageFor(model => model.Zone7_Unit, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.LabelFor(model => model.Zone8_Setpoint)
                        </td>
                        <td>
                            <input type="number" class="form-control form-control-sm" id="Zone8_Setpoint" />
                            @Html.ValidationMessageFor(model => model.Zone8_Setpoint, "", new { @class = "text-danger" })
                        </td>
                        <td>
                            @*+/- @Html.EditorFor(model => model.Zone8_Limit)*@
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon8">+/-</span>
                                </div>
                                <input type="number" id="Zone8_Limit" class="form-control form-control-sm" aria-label="Zone8_Limit" aria-describedby="basic-addon8">
                            </div>
                            @Html.ValidationMessageFor(model => model.Zone8_Limit, "", new { @class = "text-danger" })
                        </td>
                        <td>
                            @*@Html.EditorFor(model => model.Zone8_Unit)*@ <input class="form-control form-control-sm" id="Zone8_Unit" />
                            @Html.ValidationMessageFor(model => model.Zone8_Unit, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.LabelFor(model => model.Zone9_Setpoint)
                        </td>
                        <td>
                            @*@Html.EditorFor(model => model.Zone9_Setpoint)*@ <input type="number" class="form-control form-control-sm" id="Zone9_Setpoint" />
                            @Html.ValidationMessageFor(model => model.Zone9_Setpoint, "", new { @class = "text-danger" })
                        </td>
                        <td>
                            @*+/- @Html.EditorFor(model => model.Zone9_Limit)*@
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon9">+/-</span>
                                </div>
                                <input type="number" id="Zone9_Limit" class="form-control form-control-sm" aria-label="Zone9_Limit" aria-describedby="basic-addon9">
                            </div>
                            @Html.ValidationMessageFor(model => model.Zone9_Limit, "", new { @class = "text-danger" })
                        </td>
                        <td>
                            @*@Html.EditorFor(model => model.Zone9_Unit)*@ <input class="form-control form-control-sm" id="Zone9_Unit" />
                            @Html.ValidationMessageFor(model => model.Zone9_Unit, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    @*<tr id="zone10">
                            <td>
                                @Html.LabelFor(model => model.Zone10_Setpoint)
                            </td>
                            <td>
                                @Html.EditorFor(model => model.Zone10_Setpoint)
                                @Html.ValidationMessageFor(model => model.Zone10_Setpoint, "", new { @class = "text-danger" })
                            </td>
                            <td>
                                +/- @Html.EditorFor(model => model.Zone10_Limit)
                                @Html.ValidationMessageFor(model => model.Zone10_Limit, "", new { @class = "text-danger" })
                            </td>
                            <td>
                                @Html.EditorFor(model => model.Zone10_Unit)
                                @Html.ValidationMessageFor(model => model.Zone10_Unit, "", new { @class = "text-danger" })
                            </td>
                        </tr>*@
                    @*<tr id="zone11">
                            <td>
                                @Html.LabelFor(model => model.Zone11_Setpoint)
                            </td>
                            <td>
                                @Html.EditorFor(model => model.Zone11_Setpoint)
                                @Html.ValidationMessageFor(model => model.Zone11_Setpoint, "", new { @class = "text-danger" })
                            </td>
                            <td>
                                +/- @Html.EditorFor(model => model.Zone11_Limit)
                                @Html.ValidationMessageFor(model => model.Zone11_Limit, "", new { @class = "text-danger" })
                            </td>
                            <td>
                                @Html.EditorFor(model => model.Zone11_Unit)
                                @Html.ValidationMessageFor(model => model.Zone11_Unit, "", new { @class = "text-danger" })
                            </td>
                        </tr>*@
                    <tr>
                        <td>
                            @Html.LabelFor(model => model.Die_Tempreture_Setpoint)
                        </td>
                        <td>
                            @*@Html.EditorFor(model => model.Die_Tempreture_Setpoint)*@ <input type="number" class="form-control form-control-sm" id="Die_Tempreture_Setpoint" />
                            @Html.ValidationMessageFor(model => model.Die_Tempreture_Setpoint, "", new { @class = "text-danger" })
                        </td>
                        <td>
                            @*+/- @Html.EditorFor(model => model.Die_Tempreture_Limit)*@
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon99">+/-</span>
                                </div>
                                <input type="number" id="Die_Tempreture_Limit" class="form-control form-control-sm" aria-label="Die_Tempreture_Limit" aria-describedby="basic-addon99">
                            </div>
                            @Html.ValidationMessageFor(model => model.Die_Tempreture_Limit, "", new { @class = "text-danger" })
                        </td>
                        <td>
                            @*@Html.EditorFor(model => model.Die_Tempreture_Unit)*@ <input class="form-control form-control-sm" id="Die_Tempreture_Unit" />
                            @Html.ValidationMessageFor(model => model.Die_Tempreture_Unit, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                </tfoot>
            </table>

            <table class="table table-bordered table-hover table-striped table-responsive table-condensed" id="misc2Table">
                <thead>
                    <tr>
                        <th>Item</th>
                        <th>Set Point</th>
                    </tr>
                </thead>
                <tbody id="misc2Body">
                    <tr>
                        <td>
                            @Html.LabelFor(model => model.Breaker_Plate)
                        </td>
                        <td>
                            @*@Html.EditorFor(model => model.Breaker_Plate)*@ <input class="form-control form-control-sm" id="Breaker_Plate" />
                            @Html.ValidationMessageFor(model => model.Breaker_Plate, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td>

                            @Html.LabelFor(model => model.Screen_Pack)
                        </td>
                        <td>
                            @*@Html.EditorFor(model => model.Screen_Pack)*@ <input class="form-control form-control-sm" id="Screen_Pack" />
                            @Html.ValidationMessageFor(model => model.Screen_Pack, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.LabelFor(model => model.Screw_Design)
                        </td>
                        <td>
                            @*@Html.EditorFor(model => model.Screw_Design)*@ <input class="form-control form-control-sm" id="Screw_Design" />
                            @Html.ValidationMessageFor(model => model.Screw_Design, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.LabelFor(model => model.Die_Hole_Diameter)
                        </td>
                        <td>
                            @*@Html.EditorFor(model => model.Die_Hole_Diameter)*@ <input class="form-control form-control-sm" id="Die_Hole_Diameter" />
                            @Html.ValidationMessageFor(model => model.Die_Hole_Diameter, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.LabelFor(model => model.No_Die_Holes)
                        </td>
                        <td>
                            @*@Html.EditorFor(model => model.No_Die_Holes)*@ <input class="form-control form-control-sm" id="No_Die_Holes" />
                            @Html.ValidationMessageFor(model => model.No_Die_Holes, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.LabelFor(model => model.Vacuum_Insert_Type)
                        </td>
                        <td>
                            @*@Html.EditorFor(model => model.Vacuum_Insert_Type)*@ <input class="form-control form-control-sm" id="Vacuum_Insert_Type" />
                            @Html.ValidationMessageFor(model => model.Vacuum_Insert_Type, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.LabelFor(model => model.Strand_Vacuum)
                        </td>
                        <td>
                            @*@Html.EditorFor(model => model.Strand_Vacuum)*@<input class="form-control form-control-sm" id="Strand_Vacuum" />
                            @Html.ValidationMessageFor(model => model.Strand_Vacuum, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.LabelFor(model => model.Air_Knife)
                        </td>
                        <td>
                            @*@Html.EditorFor(model => model.Air_Knife)*@<input class="form-control form-control-sm" id="Air_Knife" />
                            @Html.ValidationMessageFor(model => model.Air_Knife, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.LabelFor(model => model.Die_Air_Knife)
                        </td>
                        <td>
                            @*@Html.EditorFor(model => model.Die_Air_Knife)*@<input class="form-control form-control-sm" id="Die_Air_Knife" />
                            @Html.ValidationMessageFor(model => model.Die_Air_Knife, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr id="itemBarrel5">
                        <td>
                            @Html.LabelFor(model => model.Barrel5_Vp)
                        </td>
                        <td>
                            @Html.EditorFor(model => model.Barrel5_Vp)<input class="form-control form-control-sm" id="Barrel5_Vp" />
                            @Html.ValidationMessageFor(model => model.Barrel5_Vp, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr id="itemBarrel4">
                        <td>
                            @Html.LabelFor(model => model.Barrel4_Vp)
                        </td>
                        <td>
                            @Html.EditorFor(model => model.Barrel4_Vp)<input class="form-control form-control-sm" id="Barrel4_Vp" />
                            @Html.ValidationMessageFor(model => model.Barrel4_Vp, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr id="itemBarrel7">
                        <td>
                            @Html.LabelFor(model => model.Barrel7_Vp)
                        </td>
                        <td>
                            @Html.EditorFor(model => model.Barrel7_Vp)<input class="form-control form-control-sm" id="Barrel7_Vp" />
                            @Html.ValidationMessageFor(model => model.Barrel7_Vp, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr id="itemBarrel6">
                        <td>
                            @Html.LabelFor(model => model.Barrel6_Vp)
                        </td>
                        <td>
                            @Html.EditorFor(model => model.Barrel6_Vp)<input class="form-control form-control-sm" id="Barrel6_Vp" />
                            @Html.ValidationMessageFor(model => model.Barrel6_Vp, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                </tfoot>
            </table>
            @*@Html.ActionLink("Create Drum Tumble Recipe", "RunSheetCreate", "SolutionPreps", new { po = ViewBag.PSM.PROCESS_ORDER_NUMBER, product = ViewBag.PSM.MATERIAL_NUMBER }, null)*@
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Product Name
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (ViewBag.SolutionPrep != null)
                    {
                        foreach (var item in ViewBag.SolutionPrep)
                        {
                            <tr>
                                <td>
                                    @item.PRODUCT_NAME
                                </td>
                                <td>
                                    @Html.ActionLink("Details", "RunSheetDetails", "SolutionPreps", new { id = item.ID }, null)
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "RunSheetEdit", "SolutionPreps", new { id = item.ID }, null)
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>

        </div>

        <div class="col-md-6 col-sm-12 col-lg-4">
            <br />
            <table class="table table-bordered table-hover table-striped table-responsive table-condensed" id="bomTable">
                <thead>
                    <tr>
                        <th><span class="caret" onclick="$('#bomBody').toggle()"></span></th>
                        <th></th>
                        <th>Needed Raws</th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>Item</th>
                        <th>BOM Qty</th>
                        <th>Scanned Qty</th>
                        <th>Feeder</th>
                        <th>Remaining</th>
                    </tr>
                </thead>
                <tbody id="bomBody">
                    @{
                        var totalBOM = 0;
                        var totalScan = 0;
                    }
                    @*@foreach (var item in ViewBag.AltBom)
                        {
                            totalBOM += item.QUANTITY_REQUIRED;
                            totalScan += item.SCANNED_AMT;
                            int req = item.QUANTITY_REQUIRED;
                            int scn = item.SCANNED_AMT;
                            int remain = req - scn;
                            if (item.MATERIAL_DESCRIPTION != "Select..." && item.MATERIAL_DESCRIPTION != "Blend" && item.MATERIAL_DESCRIPTION != "Mix")
                            {
                                <tr>
                                    <td>@item.MATERIAL_DESCRIPTION</td>
                                    <td style="text-align:right">@item.QUANTITY_REQUIRED.ToString("#,##0")</td>
                                    <td style="text-align:right">@item.SCANNED_AMT.ToString("#,##0")</td>
                                    <td style="text-align:right">@item.FEEDER_NO</td>
                                    <td style="text-align:right">@remain</td>
                                </tr>
                            }
                        }*@
                </tbody>
                <tfoot>
                    <tr>
                        <td style="height:25px;text-align:right;border:none"><strong>Total</strong></td>
                        <td style="width:125px;height:25px;text-align:right;border:none">
                            <text id="BOM_TOT" name="BOM_TOT">@totalBOM</text>
                        </td>
                        <td style="width:125px;height:25px;text-align:right;border:none">
                            <text id="SCAN_TOT" name="SCAN_TOT">@totalScan</text>
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                </tfoot>
            </table>
            <br />
            <table class="table table-bordered table-hover table-striped table-responsive table-condensed" id="drmTable">
                <thead>
                    <tr>
                        <th><span class="caret" onclick="$('#bomBody').toggle()"></span></th>
                        <th>Scanned Drums</th>
                    </tr>
                    <tr>
                        <th>Product Name</th>
                        <th>Drum No</th>
                    </tr>
                </thead>
                <tbody>
                    @*@foreach (var item in ViewBag.Drums)
                        {
                            <tr>
                                <td>@item.PRODUCT_NAME</td>
                                <td>@item.DRUM_NBR</td>
                            </tr>
                        }*@
                </tbody>
            </table>
            <br />
            <div class="panel panel-default">
                <div class="panel-heading" style="background-color:#ffffb3;text-align:center;">
                    <h4 class="panel-title" style="color:#d29914"><strong>Safety Comments</strong></h4>
                    @Html.EditorFor(model => model.Safety_Notes)
                </div>
            </div>

            <div class="panel panel-danger">
                <div class="panel-heading" style="text-align:center;">
                    <h4 class="panel-title"><strong>Special Rework Instructions</strong></h4>
                    @Html.EditorFor(model => model.Special_Rework_Notes)
                    @Html.ValidationMessageFor(model => model.Special_Rework_Notes, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="panel panel-success">
                <div class="panel-heading" style="text-align:center;">
                    <h4 class="panel-title"><strong>Notes</strong></h4>
                    @Html.EditorFor(model => model.Notes)
                    @Html.ValidationMessageFor(model => model.Notes, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading" style="text-align:center;">
                    <h4 class="panel-title"><strong>Additional Comments</strong></h4>
                    @Html.EditorFor(model => model.Additional_Notes)
                    @Html.ValidationMessageFor(model => model.Additional_Notes, "", new { @class = "text-danger" })
                </div>
            </div>
            <input id="COVERSHEETILESTRING" type="file" name="COVERSHEETILESTRING" />
            <input id="IMAGEFILESTRING1" type="file" name="IMAGEFILEBASE1" />
            <input id="IMAGEFILESTRING2" type="file" name="IMAGEFILEBASE2" />
            <input id="IMAGEFILESTRING3" type="file" name="IMAGEFILEBASE3" />
        </div>
    </div>
</div>
}
@section Scripts {
    @*@Scripts.Render("~/Scripts/RunSheet.js")*@
    <script src="~/js/View/TypeAhead.js" asp-append-version="true"></script>
    <link href="~/Content/SpecificPageStyles/RunSheets.css" rel="stylesheet" />
}