﻿@model DataLibrary.Models.PurchaseOrderLabelsModel
    <div class="container-fluid">
        <h4 class="mb-3">Create Purchase Order Label</h4>
        <form asp-action="Create" asp-controller="RawMaterial" class="form-horizontal">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.HiddenFor(model => model.Ib_Raw_Mtls_Id)

            <div class="row mb-3">
                <div class="col-4">
                    <label asp-for="Product_Received_Date" class="control-label font-weight-bold"></label><br />
                    <input asp-for="Product_Received_Date" class="form-control" />
                    <span asp-validation-for="Product_Received_Date" class="text-danger"></span>
                </div>
                <div class="col">
                    <label asp-for="Amt_Received" class="control-label font-weight-bold"></label> (KG)<br />
                    <input asp-for="Amt_Received" class="form-control" />
                    <span asp-validation-for="Amt_Received" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-4">
                    <label asp-for="Lot_Nbr" class="control-label font-weight-bold"></label>
                    <br />
                    <input asp-for="Lot_Nbr" class="form-control" />
                    <span asp-validation-for="Lot_Nbr" class="text-danger"></span>
                </div>
                <div class="col">
                    <label asp-for="Tot_Bag_No" class="control-label font-weight-bold"></label>
                    <br />
                    <input asp-for="Tot_Bag_No" class="form-control" />
                    <span asp-validation-for="Tot_Bag_No" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-4">
                    <label asp-for="Vendor_Batch" class="control-label font-weight-bold"></label>
                    <br />
                    <input asp-for="Vendor_Batch" class="form-control" />
                    <span asp-validation-for="Vendor_Batch" class="text-danger"></span>
                </div>
                <div class="col">
                    <label asp-for="CountryOrigin" class="control-label font-weight-bold"></label>
                    <br />
                    <input asp-for="CountryOrigin" class="form-control" />
                    <span asp-validation-for="CountryOrigin" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <input type="submit" value="Create" class="btn btn-info" />
                </div>
            </div>
        </form>
    </div>

    @section Scripts
  {
        <partial name="_ValidationScriptsPartial" />
    }