﻿/*===========================================
    TABLE OF CONTENTS
        1: Global Styles
        2: Layouts
            2.1: Body 
            2.2: Header/Footer 
            2.3: Header 
            2.4: Main 
            2.5: Footer
            2.6: Navigation 
            2.7: Filters 
            2.8: Landing Page
            2.9: Process Order Details
            2.10: Tables
            2.11: Loading Details
        3: Typography 
        4: Components 
            4.1: Cards - Landing Page
            4.2: Icons - Navs & Filters
            4.3: Buttons - Reset
            4.4: Loading Spinner
            4.5: Modal
            4.6: Buttons
            4.7: Miscellaneous
        5: Colors
            5.1: Background Colors
            5.2: Gradient Background Colors
            5.3: Shipping Colors
        6: Media Queries
            6.1: iPhones
            6.2: iPads
  ===========================================*/
/*====================
    1: Global Styles
  ====================*/
* {
    box-sizing: border-box;
    font-family: 'Arial Narrow',sans-serif,Verdana,;    
    /*margin: 0;
    padding: 0;*/
}

/*body {
    margin: 0;
    padding: 0;
}*/
/*==============
    2: Layouts 
  ==============*/
/*=============
    2.1: Body 
  =============*/
.apm-body {
  min-height: 100%;
  min-width: 100%;
  display: grid;
  grid-gap: .25rem;
  grid-template-areas: "header" "navs filters" "main" "footer"; }

/*======================
    2.2: Header/Footer 
  =====================*/
.apm-header,
.apm-footer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 0 1rem;
  z-index: 100; }

/*===============
    2.3: Header 
  ===============*/
.apm-header {
  grid-area: header;
  position: absolute;
  top: 0;
  width: 100%;
  /*white-space: nowrap;*/
  /*top: 0;
    right: 0;
    left: 0;*/
  min-height: 5rem;
  padding-top: 1.25rem;
  border-bottom: 1px solid #dee2e6 !important;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  background-color: #ffffff;
  /* Changes the word 'smart' to Ascend's jade color in logo */ }
  .apm-header h1 {
    color: #003c71;
    text-align: center;
    font-size: clamp(1rem, 3vw, 2rem); }
  .apm-header span {
    color: #58a946; }
  .apm-header h1:nth-child(1) {
    max-width: 25%;
    margin-left: .8rem; }
  .apm-header h1:nth-child(2) {
    max-width: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    white-space: initial;
    padding: 0 1.5rem; }
  .apm-header h1:nth-child(3) {
    max-width: 25%;
    position: absolute;
    right: 1.5rem;
    white-space: initial; }

/*=============
    2.4: Main 
  =============*/
/* Note: individual view layouts will be nested grids inside main */
.apm-main {
    overflow-x: hidden !important;
    grid-area: main;
    position: fixed;
    top: 10rem;
    bottom: 4rem;
    right: 0;
    left: 0;
    margin: 0 .75rem;
    overflow: auto;
    z-index: 0;
}

/*===============
    2.5: Footer
  ===============*/
.apm-footer {
  grid-area: footer;
  /*position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    min-height: 4rem;
    max-height: 4rem;
    margin-top: auto;*/
  height: 4rem;
  background: linear-gradient(360deg, #003c71 10%, #00b9bd 360%);
  color: #ffffff;
  z-index: -1;
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap; }
  .apm-footer p {
    max-width: 50%;
    margin-top: 1.5rem; }
  .apm-footer p:nth-child(2) {
    margin-left: auto; }

.footer-color {
  
    background: linear-gradient(360deg, #003c71 10%, #00b9bd 360%);
    color: #ffffff;
}

/*===================
    2.6: Navigation 
  ===================*/
.apm-navs {
  grid-area: navs;
  position: fixed;
  top: 6rem;
  left: 1.25rem;
  z-index: 10; }

.apm-pagenav a {
    color: #58a946;
    font-weight:600;
}

/*================
    2.7: Filters 
  ================*/
.apm-filters {
  grid-area: filters;
  position: fixed;
  top: 6rem;
  right: 1.25rem;
  z-index: 10; }
  .apm-filters ul {
    margin-bottom: -1rem; }
    .apm-filters ul li {
      text-align: center;
      margin-left: -1rem;
      margin-right: -2rem; }
  .apm-filters hr {
    margin: 0;
    border-bottom: 1px solid #003c71; }

/*=====================
    2.8: Landing Page
  =====================*/
.apm-landing {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  margin-top: 3rem; }

/*==============================
    2.9: Process Order Details
  ==============================*/
.apm-production-details {
  /*height: 100%;
    width: 100%;*/
  display: grid;
  grid-gap: 1rem;
  grid-template-areas: "pod pod pod pod pod pod pod pod pod pod pod pod" "pop pop pop pop pop pop rmc rmc rmc rmc rmc rmc";
  min-width: 98.45%;
  max-width: 98.45%;
  margin: auto; }
  .apm-production-details .apm-pod-details {
    grid-area: pod; }
  .apm-production-details .apm-pop-details {
    grid-area: pop; }
  .apm-production-details .apm-rmc-details {
    grid-area: rmc; }
  .apm-production-details .apm-pod-details,
  .apm-production-details .apm-pop-details,
  .apm-production-details .apm-rmc-details {
    background: #ffffff; }
    .apm-production-details .apm-pod-details table,
    .apm-production-details .apm-pop-details table,
    .apm-production-details .apm-rmc-details table {
      /*width: 100%;
            min-width: 100%;
            max-width: 100%;*/
      font-size: .85rem;
      text-align: center;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
      z-index: 0; }
      .apm-production-details .apm-pod-details table thead tr:nth-child(1) th,
      .apm-production-details .apm-pop-details table thead tr:nth-child(1) th,
      .apm-production-details .apm-rmc-details table thead tr:nth-child(1) th {
        color: #ffffff;
        background: linear-gradient(360deg, #003c71 10%, #00b9bd 360%); }
    .apm-production-details .apm-pod-details h1,
    .apm-production-details .apm-pop-details h1,
    .apm-production-details .apm-rmc-details h1 {
      color: #003c71;
      text-align: center;
      font-size: clamp(1rem, 2vw, 1.5rem); }
  .apm-production-details .apm-table-inner {
    max-height: 30rem;
    overflow: auto; }
    .apm-production-details .apm-table-inner table thead tr:nth-child(1) th {
      position: sticky;
      top: -.1rem;
      z-index: 9; }

/*================
    2.10: Tables
  ================*/

th {
    /*font-weight: 600;*/
}

td {
    /*padding: .1rem .5rem !important;*/
}

.table-sm th {
    padding:.4rem;
}

table .form-control-sm, table .input-group-text {
    height: calc(1.5em + 2px);
}

table.tableBodyScroll tbody {
    display: block;
    max-height: 360px;
    overflow-y: scroll;
}

table.tableBodyScroll thead {
    display: table;
    width: calc( 100% - 1em );
    table-layout: fixed;
}

table.tableBodyScroll tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

table tr {
    background-color: #fff;
}

thead tr {
    background-color: #003c71 !important;
    color: #fff !important;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075) !important;
}

thead tr:nth-child(1) th {
        background: linear-gradient(360deg, #003c71 10%, #00b9bd 360%);
        font-weight: 600;
    }

/*End Table*/

/*Datatable Child Record Style*/
    td.details-control {
    background: url('image/close.png') no-repeat left top;    
    cursor: pointer;
    padding-left: 25px;
    padding-top: 0px;    
}

tr.shown td.details-control {
    background: url('image/open.PNG') no-repeat left top;
    padding-left: 25px;
    padding-top: 15px;
    padding-top: 0px;
}

td.select-checkbox
{
    padding-top:0px !important;
}
/*=========================
    2.11: Loading Details
  =========================*/

.blue-card-screen {
    min-width: 100%;
    max-width: 100%;
    margin: auto;
}

    .blue-card-screen p {
        font-size: 1rem;
        padding-left: 2rem;
    }

    .blue-card-screen .p-header {
        font-weight: bolder;
        color: #003C71;
        margin: auto;
        padding: 0;
        padding-left: 2rem;
    }

    .blue-card-screen .card {
        margin: 0;
        padding: 0;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    }

    .blue-card-screen .card-body {
        margin: 0;
        padding: 0;
    }

    .blue-card-screen .card .card-header {
        text-align: center;
        font-size: clamp(1rem, 3vw, 1.25rem);
        color: #ffffff;
        background: linear-gradient(360deg, #003c71 10%, #00b9bd 360%) !important;
        margin-bottom: .5rem;
        padding-right: 2rem;
        padding-top: .5rem;
        padding-bottom: .25rem;
    }

    .blue-card-screen .card .card-body {
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 0;
        padding-bottom: 0;
    }

    .blue-card-screen .card-footer {
        text-align: left;
        color: #003C71;
    }

    .blue-card-screen label {
        text-align: left;
        font-weight: bolder;
    }

    .blue-card-screen .btn:hover {
        background-color: #003C71;
    }

    .blue-card-screen textarea {
        min-width: 100%;
    }

    .blue-card-screen .apm-card-footer {
        margin: 0;
        padding-top: 1rem;
        padding-bottom: 0;
        padding-left: 0rem;
        padding-right: 0rem;
        color: #003C71;
        background-color: rgba(0, 0, 0, 0.03);
        color: #0c5460;
        border-top: 1px solid rgba(0, 0, 0, 0.125);
    }

    .blue-card-screen .apm-expand-jade {
        background: linear-gradient(360deg, #003c71 10%, #00b9bd 360%);
    }

    .blue-card-screen .apm-expand-jade i {
            color: #58A946;
        }

    .blue-header {
        background: linear-gradient(360deg, #003c71 10%, #00b9bd 360%);
        color:white;
    }

.blue2-header {
    border: 2px inset #003c71 !important;
}

.blue2-header td {
    border: 1px solid #003c71 !important;
}
    .blue2-header th {
        border: 1px solid #003c71 !important;
        background-color:  #E5E3E3;
        /*color: #003c71;*/
    }
    .blue-card-screen #save-shipping i {
            color: #ffffff;
            font-size: clamp(1.5rem, 2vw, 2rem);
        }

    .blue-card-screen .apm-expand-icon {
        color: #ffffff;
        font-size: 1.2rem;
        float: left;
        margin-top: .25rem;
        margin-left: -.4rem;
    }

    .blue-card-screen .apm-save-icon {
        float: right;
        margin-top: -.5rem;
        margin-bottom: -.5rem;
        margin-right: -1.25rem;
        padding: 0;
    }

    .blue-card-screen .apm-save-icon i {
            color: #ffffff;
            font-size: 1.5rem;
            margin: 0;
            padding: 0;
        }

    .blue-card-screen .apm-save-icon:hover {
            margin-top: -.5rem;
            margin-bottom: -.5rem;
            margin-right: -1.25rem;
            padding: 0;
        }

    .blue-card-screen .apm-expand-cherry {
        background: linear-gradient(360deg, #003c71 10%, #00b9bd 360%);
    }

    .blue-card-screen .apm-expand-cherry i {
            color: #D94631;
        }
/*=================
    3: Typography 
  =================*/
p, li, a, label, input, .btn, button, i, .alert, .form-control,
option, .custom-select {
  font-size: clamp(0.8rem, 2vw, 1rem); }

/*=================
    4: Components 
  =================*/
/*=============================
    4.1: Cards - Landing Page
  =============================*/
.apm-card-blue,
.apm-card-jade,
.apm-card-orange,
.apm-card-violet,
.apm-card-cherry {
  position: relative;
  bottom: 5rem;
  padding: 1.875rem;
  margin: 2rem auto;
  border-radius: 1.875rem;
  width: 20rem;
  color: #ffffff; }
  .apm-card-blue h6,
  .apm-card-jade h6,
  .apm-card-orange h6,
  .apm-card-violet h6,
  .apm-card-cherry h6 {
    font-size: clamp(1rem, 2vw, 1.5rem);
    font-weight: 500; }
  .apm-card-blue p,
  .apm-card-jade p,
  .apm-card-orange p,
  .apm-card-violet p,
  .apm-card-cherry p {
    font-size: clamp(0.8rem, 2vw, 1.15rem); }
  .apm-card-blue button,
  .apm-card-jade button,
  .apm-card-orange button,
  .apm-card-violet button,
  .apm-card-cherry button {
    font-size: clamp(0.8rem, 2vw, 1.15rem);
    box-shadow: 0 1.5625rem 3.125rem rgba(0, 0, 0, 0.2);
    background: transparent;
    backdrop-filter: blur(0.625rem);
    height: 3.125rem;
    border-radius: 1.875rem;
    background: rgba(255, 255, 255, 0.3);
    color: #ffffff;
    border: 0.0625rem solid rgba(255, 255, 255, 0.5); }

.apm-card-blue::before,
.apm-card-jade::before,
.apm-card-orange::before,
.apm-card-violet::before,
.apm-card-cherry::before {
  content: '';
  position: absolute;
  left: 5%;
  right: 5%;
  bottom: -0.9375rem;
  height: 2.5rem;
  border-radius: 50%;
  filter: blur(1.25rem); }

.apm-card-blue::after,
.apm-card-jade::after,
.apm-card-orange::after,
.apm-card-violet::after,
.apm-card-cherry::after {
  content: '';
  position: absolute;
  left: 5%;
  right: 5%;
  bottom: -0.9375rem;
  height: 2.5rem;
  border-radius: 50%;
  filter: blur(2.5rem); }

.apm-card-blue,
.apm-card-blue::before,
.apm-card-blue::after {
  background: linear-gradient(to bottom right, #003c71, #00b9bd); }

.apm-card-jade,
.apm-card-jade::before,
.apm-card-jade::after {
  background: linear-gradient(to bottom right, #b7bb10, #00b9bd); }

.apm-card-orange,
.apm-card-orange::before,
.apm-card-orange::after {
  background: linear-gradient(to bottom right, #ec9921, #d94631); }

.apm-card-violet,
.apm-card-violet::before,
.apm-card-violet::after {
  background: linear-gradient(to bottom right, #003c71, #842579); }

/* Not currently in use on the Landing Page */
.apm-card-cherry,
.apm-card-cherry::before,
.apm-card-cherry::after {
  background: linear-gradient(to bottom right, #D94631, #842579); }

/*===============================
    4.2: Icons - Navs & Filters
  ===============================*/
.apm-icon-home,
.apm-icon-production,
.apm-icon-shipping,
.apm-icon-oee,
.apm-icon-admin,
.apm-icon-filters,
.apm-icon-key {
  display: inline-block;
  height: 3.125rem;
  width: 3.125rem;
  float: left;
  margin: 0 0.3125rem;
  overflow: hidden;
  background: #ffffff;
  border-radius: 3.125rem;
  cursor: pointer;
  box-shadow: 0rem 0.625rem 0.625rem rgba(0, 0, 0, 0.1);
  transition: all 0.15s ease-out; }
  .apm-icon-home .apm-icon,
  .apm-icon-production .apm-icon,
  .apm-icon-shipping .apm-icon,
  .apm-icon-oee .apm-icon,
  .apm-icon-admin .apm-icon,
  .apm-icon-filters .apm-icon,
  .apm-icon-key .apm-icon {
    display: inline-block;
    height: 3.125rem;
    width: 3.125rem;
    text-align: center;
    border-radius: 3.125rem;
    box-sizing: border-box;
    line-height: 3.125rem;
    font-size: clamp(1rem, 2vw, 1.5625rem);
    line-height: 3.125rem; }
  .apm-icon-home span,
  .apm-icon-production span,
  .apm-icon-shipping span,
  .apm-icon-oee span,
  .apm-icon-admin span,
  .apm-icon-filters span,
  .apm-icon-key span {
    font-size: clamp(1rem, 2vw, 1.5625rem);
    font-weight: 500;
    line-height: 3.125rem;
    margin-left: 0.625rem; }
  .apm-icon-home button,
  .apm-icon-production button,
  .apm-icon-shipping button,
  .apm-icon-oee button,
  .apm-icon-admin button,
  .apm-icon-filters button,
  .apm-icon-key button {
    padding-left: 0;
    color: #003c71;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
    font-size: clamp(0.8rem, 2vw, 1rem);
    font-weight: 500; }
    .apm-icon-home button i,
    .apm-icon-production button i,
    .apm-icon-shipping button i,
    .apm-icon-oee button i,
    .apm-icon-admin button i,
    .apm-icon-filters button i,
    .apm-icon-key button i {
      padding-right: .5rem; }
  .apm-icon-home h6,
  .apm-icon-production h6,
  .apm-icon-shipping h6,
  .apm-icon-oee h6,
  .apm-icon-admin h6,
  .apm-icon-filters h6,
  .apm-icon-key h6 {
    font-size: clamp(0.8rem, 2vw, 1rem);
    font-weight: 500;
    color: #ffffff;
    background: linear-gradient(360deg, #58A946 10%, #b7bb10 360%);
    padding: .75rem; }
  .apm-icon-home .apm-btn-jade,
  .apm-icon-production .apm-btn-jade,
  .apm-icon-shipping .apm-btn-jade,
  .apm-icon-oee .apm-btn-jade,
  .apm-icon-admin .apm-btn-jade,
  .apm-icon-filters .apm-btn-jade,
  .apm-icon-key .apm-btn-jade {
    font-size: clamp(0.8rem, 2vw, 1rem);
    font-weight: 500;
    color: #ffffff;
    background: linear-gradient(360deg, #58A946 10%, #b7bb10 360%);
    margin: 0;
    margin-top: .5rem;
    padding-left: .5rem;
    width: 100%;
    text-align: left; }
  .apm-icon-home .apm-btn-transition,
  .apm-icon-production .apm-btn-transition,
  .apm-icon-shipping .apm-btn-transition,
  .apm-icon-oee .apm-btn-transition,
  .apm-icon-admin .apm-btn-transition,
  .apm-icon-filters .apm-btn-transition,
  .apm-icon-key .apm-btn-transition {
    font-size: clamp(0.8rem, 2vw, 1rem);
    font-weight: 500;
    color: #ffffff;
    background: linear-gradient(360deg, #D94631 10%, #ec9921 360%);
    margin: 0;
    margin-top: .5rem;
    padding-left: .5rem;
    width: 100%;
    text-align: left; }
  .apm-icon-home .apm-label,
  .apm-icon-production .apm-label,
  .apm-icon-shipping .apm-label,
  .apm-icon-oee .apm-label,
  .apm-icon-admin .apm-label,
  .apm-icon-filters .apm-label,
  .apm-icon-key .apm-label {
    font-size: clamp(0.8rem, 2vw, 1rem);
    font-weight: 100;
    color: #003c71; }
.filter-icon-active #FilterContainer-icon span {
    display: inline-block;
}
    .apm-icon-home:hover #FilterContainer-icon span {
        display: inline-block;
    }
.apm-icon-home:hover {
}
    .apm-icon-production:hover,
    .apm-icon-shipping:hover,
    .apm-icon-oee:hover,
    .apm-icon-admin:hover,
    .apm-icon-filters:hover,
    .apm-icon-key:hover {
        width: auto;
        height: auto;
        padding-right: 1rem;
    }
    .apm-icon-home {
       position:relative;
    }
/*#FilterContainer {
        position: absolute;        
        top: 49px;
        right: -300px;
        background: #fff;
        padding: 10px;
        box-shadow: 0rem 0.625rem 0.625rem rgb(0 0 0 / 10%);
        transition: all 0.15s ease-out;
        display:none;
        opacity:0;
    }
        #FilterContainer.active-filter-menu {
            display: block;
            opacity: 1;
            right: 0;
        }*/

.filter-icon-active {
    width: auto !important;
    height: auto !important;
    overflow: visible;
    padding-right: 1rem;
    border-radius: 7px;
}
        .filter-icon-active .apm-icon {
            background: linear-gradient(360deg, #58A946 10%, #b7bb10 360%);
        }
.filter-icon-con #FilterContainer-icon {
    margin:0;
    
}
.filter-icon-active #FilterContainer-icon {
    
    color: #fff;
}
.filter-icon-active #FilterContainer-icon span {
    color: #58A946;
}


        .apm-icon-home:hover .apm-icon,
        .apm-icon-production:hover .apm-icon,
        .apm-icon-shipping:hover .apm-icon,
        .apm-icon-oee:hover .apm-icon,
        .apm-icon-admin:hover .apm-icon,
        .apm-icon-filters:hover .apm-icon,
        .apm-icon-key:hover .apm-icon {
            color: #ffffff;
        }

.apm-icon-admin:hover .apm-icon {
  margin-left: .2rem;
  margin-bottom: .4rem; }

.apm-icon-oee:hover,
.apm-icon-admin:hover {
  border-radius: 0.375rem; }

.apm-icon-home:hover .apm-icon {
  background: linear-gradient(360deg, #58A946 10%, #b7bb10 360%); }

.apm-icon-home:hover span {
  color: #58A946; }

.apm-icon-production:hover .apm-icon {
  background: linear-gradient(360deg, #58A946 10%, #b7bb10 360%); }

.apm-icon-production:hover span {
  color: #58A946; }

.apm-icon-shipping:hover .apm-icon {
  background: linear-gradient(360deg, #58A946 10%, #b7bb10 360%); }

.apm-icon-shipping:hover span {
  color: #58A946; }

.apm-icon-oee:hover .apm-icon {
  background: linear-gradient(360deg, #58A946 10%, #b7bb10 360%); }

.apm-icon-oee:hover span {
  color: #58A946; }

.apm-icon-oee:hover ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 1.25rem;
  font-size: clamp(0.8rem, 2vw, 1rem); }
  .apm-icon-oee:hover ul li span {
    color: #D94631;
    line-height: 1rem;
    font-size: clamp(0.8rem, 2vw, 1rem); }

.apm-icon-admin:hover .apm-icon {
  background: linear-gradient(360deg, #58A946 10%, #b7bb10 360%); }

.apm-icon-admin:hover span {
  color: #58A946; }

.apm-icon-filters:hover,
.apm-icon-key:hover {
  width: auto;
  height: auto;
  padding: .5rem .5rem;
  border-radius: 0.375rem;
  color: #58A946; }
  .apm-icon-filters:hover .apm-icon,
  .apm-icon-key:hover .apm-icon {
    background: linear-gradient(360deg, #58A946 10%, #b7bb10 360%); }

.apm-icon-admin .apm-icon {
  margin-left: .2rem;
  margin-bottom: .1rem; }

.apm-icon-admin:hover .apm-icon {
  padding-left: .2rem;
  padding-bottom: .1rem; }

/*========================
    4.3: Buttons - Reset
  ========================*/
.apm-reset-button {
  color: #D94631;
  float: right;
  margin-right: .1rem;
  padding-top: .1rem; }

.apm-info-button {
  color: #17a2b8;
  float: right;
  margin-right: .1rem;
  padding-top: .1rem; }

[data-toggle="popover"] {
  font-size: 1.5rem; }

[data-toggle="popover"] {
  font-size: 1.5rem; }

.popover-header {
  margin-top: 0;
  background: #17a2b8;
  color: #ffffff; }

/*===============================
    4.4: Loading Spinner
  ===============================*/
.apm-spinner {
  color: #003c71;
  min-width: 100vw; }
  .apm-spinner .spinner-border {
    margin-left: 2rem; }

.apm-spinner2 {
  color: #003c71;
  min-width: 50vw; }
  .apm-spinner2 .spinner-border {
    margin-left: 8rem; }

.apm-spinner-grow-1 {
  color: #003c71;
  width: .25rem;
  height: .25rem;
  animation-delay: 0.1s; }

.apm-spinner-grow-2 {
  color: #003c71;
  width: .25rem;
  height: .25rem;
  animation-delay: 0.22s; }

.apm-spinner-grow-3 {
  color: #003c71;
  width: .25rem;
  height: .25rem;
  animation-delay: 0.33s; }

/*==============
    4.5: Modal 
  ==============*/
.model-content {
  margin-top: 10rem; }

.modal-dialog {
  width: auto; }

.modal-header {
  color: #ffffff;
  background: linear-gradient(360deg, #003c71 10%, #00b9bd 360%); 
  border-bottom:0px !important;
}

.modal-body .btn-group {
  float: right; }

.modal-body .btn {
  width: auto;
  margin-right: .5rem;
  border-radius: 0;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }

/*================
    4.6: Buttons 
  ================*/
.apm-btn-save {
  color: #ffffff;
  background: linear-gradient(360deg, #003c71 10%, #00b9bd 360%); }

.apm-btn-save:hover {
  color: #ffffff;
  background: linear-gradient(360deg, #005fb3 10%, #00fbff 360%); }

.apm-btn-close {
  color: #ffffff;
  background: linear-gradient(360deg, #D94631 10%, #ec9921 360%); }

.apm-btn-close:hover {
  color: #ffffff;
  background: linear-gradient(360deg, #db523d 10%, #ed9c2c 360%); }

/*======================
    4.7: Miscellaneous
  ======================*/
.apm-counter {
  margin-right: .25rem;
  color: #58a946; }

.apm-save-icon,
.apm-confirm-icon {
  font-size: clamp(1.25rem, 2vw, 1.75rem);
  margin-top: .15rem;
  margin-right: .25rem;
  float: right; }

.apm-save-icon {
  margin-right: 1rem; }

/*=============
    5: Colors
  =============*/
/*==========================
    5.1: Background Colors
  ==========================*/
.apm-bg-white {
  color: #505050;
  background-color: #ffffff; }

.apm-blue {
  color: #003c71; }

.apm-jade {
  color: #58a946; }

.apm-violet {
  color: #842579; }

.apm-cherry {
  color: #D94631; }

/*===================================
    5.2: Gradient Background Colors
  ===================================*/
.apm-bg-blue-gradient {
  color: #ffffff;
  background: linear-gradient(360deg, #003c71 10%, #00b9bd 360%); }

.apm-bg-cherry-gradient {
  color: #ffffff;
  background: linear-gradient(360deg, #D94631 10%, #ec9921 360%); }

.apm-bg-orange-gradient {
  color: #ffffff;
  background: linear-gradient(360deg, #ec9921 10%, #D94631 360%); }

.apm-bg-jade-gradient {
  color: #ffffff;
  background: linear-gradient(360deg, #58A946 10%, #b7bb10 360%); }

/*========================
    5.3: Shipping Colors
  ========================*/
.PLANNED {
  color: #000 !important;
  background-color: #ececec !important; }

.CHECK-IN {
  color: #341d5b !important;
  background-color: #c1ade5 !important; }

.LOADING_START {
  color: #074b83 !important;
  background-color: #a6d4fa !important; }

.LOADING_END {
  color: #804d00 !important;
  background-color: #ffd699 !important; }

.SHIPPED {
  color: #265728 !important;
  background-color: #93cf95 !important; }

.SUSPECTED {
  color: #8d1007 !important;
  background-color: #fbb3ae !important; }

/*====================
    6: Media Queries
  ====================*/
/*================
    6.1: iPhones
  ================*/
@media only screen and (max-device-width: 375px) {
  /* Reduce margin between header and main */
  .apm-landing {
    margin-top: 3rem; } }

/*==============
    6.2: iPads
  ==============*/
@media only screen and (max-device-width: 768px) {
    /* Reduce margin between header and main */
    .apm-landing {
        margin-top: 3rem;
    }
       
}
.error
{
    font-size:small;
    color:red !important;
    font-style:italic;
}

.smallDropdown
{
    font-size:small !important;
}

.pallet {
    font-weight:bold;
    background-color: rgba(0, 0, 0, 0.16) !important;
}
