﻿@model WebApp.ViewModels.RawMaterialsGroupedViewModel
@{
    ViewBag.Title = ViewBag.TitlePart;
}

<div class="apm-filters" id="" style="float:right;">
    <div class="apm-icon-key key-icon-con" id="tool_icon" style=" width: auto; height: auto;">
        <i onclick="$('#export-filters').toggle();$('#export-filter-icon').toggle();" id="export-filter-icon" class="showapppopup1 fas fa-tools apm-icon"></i>
        <div id="export-filters" class="showapppopup" style="display:none;border-radius:unset!important;padding:1rem;">
            <i onclick="$('#export-filters').toggle();$('#export-filter-icon').toggle();" class="showapppopup1 fas fa-tools apm-icon"></i>
            <span onclick="$('#export-filters').toggle();$('#export-filter-icon').toggle();">Tools</span>
            <div class="dropdown-divider"></div>
            <button type="button" id="ExportExcelPO" class="btn apm-label"><i class='fa fa-download'></i>Download Excel</button>
        </div>
    </div>
</div>
<partial name="_NavLinks" />
<br />
<br />
<br />
<main class="apm-main">
    
    <br /><div id='spinner' class='collapse'><i class='fas fa-spinner fa-spin fa-4x'></i></div>
    <div>
        <table id="RawMats" class="table table-bordered table-hover table-sm collapse" style="width:100%">
            <thead>
                <tr>
                    <th>PO Number</th>
                    <th>Document Type</th>
                    <th>Material Type</th>
                    <th>Supplier Name</th>
                    <th>Supplier Number</th>
                    <th style="display:none;" class="noprint">LineItem</th>
                    <th>SAP Sent</th>
                    <th style="display:none;">Quantity</th>
                    <th style="display:none;">Quantity Received</th>
                </tr>
            </thead>
            <tbody>
                <tr style="display:none;">
                    <th>PO Number</th>
                    <th>Document Type</th>
                    <th>Material Type</th>
                    <th>Supplier Name</th>
                    <th>Supplier Number</th>
                    <th style="display:none;" class="noprint">LineItem</th>
                    <th>SAP Sent</th>
                    <th style="display:none;">Quantity</th>
                    <th style="display:none;">Quantity Received</th>
                </tr>
                @{
                    foreach (var item in Model.PurchaseOrderList)
                    {
                        <tr>
                            <td class="details-control">
                                @item.POMaterial.Document_Nbr
                            </td>

                            <td @item.Style> @item.POMaterial.Document_Type</td>
                            <td>@item.POMaterial.Sap_Matl_Type @item.POMaterial.Matl_type_descr  @item.POMaterial.Additional_info</td>
                            <td>
                                @item.POMaterial.Supplier_Name
                            </td>
                            <td>
                                @item.POMaterial.Supplier_Nbr
                            </td>
                           
                            <td style="display:none;" class="noprint">@item.LineItems</td>
                            <td>
                                @(item.POMaterial.SENT_TO_SAP>0?"Yes":"No")
                            </td>
                            <td style="display:none;">
                                @item.POMaterial.Quantity.ToString("00.000")
                            </td>
                            <td style="display:none;">
                                @item.POMaterial.Amt_Received.ToString("00.000")
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</main>


@section Scripts {
    <link href="~/js/DataTables/DataTables-1.10.23/css/buttons.dataTables.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/js/DataTables/DataTables-1.10.23/css/dataTables.bootstrap4.min.css" />
    <script type="text/javascript" src="~/js/DataTables/DataTables-1.10.23/js/jquery.dataTables.min.js"></script>
    <script src="~/js/DataTables/DataTables-1.10.23/js/dataTables.buttons.min.js"></script>
    <script src="~/js/DataTables/DataTables-1.10.23/js/jszip.min.js"></script>
    <script src="~/js/DataTables/DataTables-1.10.23/js/pdfmake.min.js"></script>
    <script src="~/js/DataTables/DataTables-1.10.23/js/vfs_fonts.js"></script>
    <script src="~/js/DataTables/DataTables-1.10.23/js/buttons.html5.min.js"></script>
    <script type="text/javascript" src="~/js/DataTables/DataTables-1.10.23/js/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript" src="~/js/view/RawMaterialTable.js" asp-append-version="true"></script>
}

