﻿@model WebApp.ViewModels.PODetailViewModel
@{
    ViewBag.Title = "Raw Materials Receiving";
}
<partial name="_NavLinks" />
<br />
<div class="container-fluid">
    <div class="apm-pagenav">
        <a title="Back To PO List" asp-action="Index">Back To PO List</a>
    </div>

    <div class="row my-3">
        <div class="blue-card-screen ">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <text id="POLabel-title">Purchase Order Detail</text>
                    </div>
                    <div class="card-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-12 col-md-6 col-lg-3">
                                    <div class="form-group">
                                        <span class="font-weight-bold">Document Number</span><br />
                                        @Html.DisplayFor(model => model.Document_Nbr)
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-3">
                                    <div class="form-group">
                                        <span class="font-weight-bold">
                                            Supplier Name
                                        </span><br />
                                        @Html.DisplayFor(model => model.Supplier_Name)
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-3">
                                    <div class="form-group">
                                        <span class="font-weight-bold">
                                            Supplier Number
                                        </span><br />
                                        @Html.DisplayFor(model => model.Supplier_Nbr)
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-3">
                                    <div class="form-group">
                                        <span class="font-weight-bold">
                                            Material Description
                                        </span><br />
                                        @Html.DisplayFor(model => model.MaterialDesc)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="apm-card-footer" id="POLabel-footer">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="apm-table-blue">
        <table id="rawMats" class="table table-bordered table-hover table-sm">
            <thead>
                <tr>
                    <th style="text-align:center">Item Number</th>
                    <th style="text-align:center">Material Number</th>
                    <th style="text-align:center">Material Description</th>
                    <th style="text-align:center">QTY</th>
                </tr>
            </thead>
            <tbody id="searchTable">
                @{
                    foreach (var item in Model.ItemList)
                    {
                        <tr onclick="location.href = '@(Url.Action("PurchaseOrderLabel", "RawMaterial", new { id = item.Ib_Raw_Mtls_Id }))'">
                            <td>
                                @item.Item_Nbr
                            </td>
                            <td>
                                @item.Matl_Nbr
                            </td>
                            <td>
                                @Model.MaterialDesc
                            </td>
                            <td>
                                @string.Format("{0:n0}", item.Quantity)  @item.Uom
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>

</div>