﻿@model WebApp.ViewModels.RawMaterialsGroupedViewModel
@{
    ViewBag.Title = ViewBag.TitlePart;
}
<div class="apm-filters" id="" style="float: right; ">
    <!--<div class="apm-icon-filters" id="filter_icon" style="display: block">
        <button id="btnFilterIcon" type="button" class="collapsed" data-toggle="collapse" data-target="#FiltersDiv" style="border: none;background: none;" aria-expanded="true">
            <i id="fIcon" class="fas fa-filter apm-icon apm-icon-f"></i>
            Filters
        </button>
        <br>
        <div id="FiltersDiv" class="collapse" style="">-->
            <!-- Production Filters -->
            <!--<div id="production-filters" style="display: none">
                <button type="button" class="btn apm-btn-jade" data-toggle="collapse" data-target="#assetsFilters" id="asset-btn-toggle">
                    <i class="fa fa-minus" id="assetsIcon"></i> Assets
                </button>

                <div id="assetsFilters" class="collapse collapse show">
                    <div class="dropdown-divider"></div>
                    <button type="button" class="btn btn-link btn-outline-light" id="selectAssets" onclick="selectAssets()">Select All</button>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="P-ADNKG" oninput="filterAssets()">
                        <label class="custom-control-label apm-label" for="P-ADNKG">P-ADNKG</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="P-HMDKG" oninput="filterAssets()">
                        <label class="custom-control-label apm-label" for="P-HMDKG">P-HMDKG</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="P-H21" oninput="filterAssets()">
                        <label class="custom-control-label apm-label" for="P-H21">P-H21</label>
                    </div>
                </div>

                <button type="button" class="btn apm-btn-jade" data-toggle="collapse" data-target="#posFilters" id="status-btn-toggle">
                    <i class="fa fa-minus" id="posIcon"></i> PO Statuses
                </button>

                <div id="posFilters" class="collapse collapse show">
                    <div class="dropdown-divider"></div>-->
                    <!-- PO Statuses -->
                    <!--<button type="button" class="btn btn-link btn-outline-light" id="selectStatuses" onclick="selectStatuses()">
                        Select All
                    </button>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="ACTIVE" oninput="filterStatuses()">
                        <label class="custom-control-label apm-label" for="ACTIVE">ACTIVE</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="CLOSED" oninput="filterStatuses()">
                        <label class="custom-control-label apm-label" for="CLOSED">CLOSED</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="CREATED" oninput="filterStatuses()" checked="">
                        <label class="custom-control-label apm-label" for="CREATED">CREATED</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="RELEASED" oninput="filterStatuses()" checked="">
                        <label class="custom-control-label apm-label" for="RELEASED">RELEASED</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="TECH COMPLETE" oninput="filterStatuses()">
                        <label class="custom-control-label apm-label" for="TECH COMPLETE">TECH COMPLETE</label>
                    </div>
                </div>
            </div>-->
            <!-- Shipping Filters -->
            <!--<div id="shipping-filters" style="display: grid">
                <button type="button" class="btn apm-btn-jade collapsed" data-toggle="collapse" data-target="#dateFilters" id="date-btn-toggle" aria-expanded="false"><i class="fa fa-plus" id="dateIcon"></i> Date Range</button>
                <div id="dateFilters" class="collapse" style="">
                    <div class="dropdown-divider"></div>-->
                    <!-- From Date-->
                    <!--<div class="form-group mt-2">
                        <label for="fromDate">From:</label><i class="fas fa-undo apm-reset-button" data-toggle="tooltip" title="" onclick="resetDates('fromDate');" data-original-title="Reset"></i>
                        <input type="date" class="form-control" id="fromDate" onchange="filterDates();filterEarlyLoadDates();">
                    </div>-->
                    <!-- To Date -->
                    <!--<div class="form-group mt-2">
                        <label for="toDate">To:</label><i class="fas fa-undo apm-reset-button" data-toggle="tooltip" title="" onclick="resetDates('toDate');" data-original-title="Reset"></i>
                        <input type="date" class="form-control" id="toDate" onchange="filterDates();filterEarlyLoadDates();">
                    </div>-->
                    <!-- Include Archive check Box -->
                    <!--<div class="custom-control custom-checkbox mb-1">
                        <input type="checkbox" class="custom-control-input IncludeArchive" id="IncludeArchive" oninput="includeArchive()">
                        <label class="custom-control-label apm-label" for="IncludeArchive">Include Archive</label>
                    </div>
                </div>

                <button type="button" class="btn apm-btn-jade" data-toggle="collapse" data-target="#tmFilters" id="tm-btn-toggle"><i class="fa fa-plus" id="tmIcon"></i>Transporation Mode</button>
                <div id="tmFilters" class="collapse collapse">
                    <div class="dropdown-divider"></div>-->

                    <!-- Transport modes -->
                    <!--<button type="button" class="btn btn-link" id="selectTransportMode" onclick="selectTransportModes()">Clear Selected Items</button>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="T_Barge" oninput="filterTransportModes()">
                        <label class="custom-control-label apm-label" for="T_Barge">Barge</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="T_BulkOcean" oninput="filterTransportModes()">
                        <label class="custom-control-label apm-label" for="T_BulkOcean">Bulk Ocean</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="T_Container20FT" oninput="filterTransportModes()">
                        <label class="custom-control-label apm-label" for="T_Container20FT">Container 20 FT</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="T_ISOTank" oninput="filterTransportModes()">
                        <label class="custom-control-label apm-label" for="T_ISOTank">ISO Tank</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="T_LTL" oninput="filterTransportModes()">
                        <label class="custom-control-label apm-label" for="T_LTL">LTL</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="T_PackagedTruck" oninput="filterTransportModes()">
                        <label class="custom-control-label apm-label" for="T_PackagedTruck">Packaged Truck</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="T_SmallParcel" oninput="filterTransportModes()">
                        <label class="custom-control-label apm-label" for="T_SmallParcel">Small Parcel</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="T_TankRailcar" oninput="filterTransportModes()">
                        <label class="custom-control-label apm-label" for="T_TankRailcar">Tank Railcar</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="T_TankTruck" oninput="filterTransportModes()">
                        <label class="custom-control-label apm-label" for="T_TankTruck">Tank Truck</label>
                    </div>
                </div>

                <button type="button" class="btn apm-btn-jade" data-toggle="collapse" data-target="#lssFilters" id="lss-btn-toggle"><i class="fa fa-plus" id="lssIcon"></i> Loading Station-Spots</button>
                <div id="lssFilters" class="collapse collapse">
                    <div class="dropdown-divider"></div>-->

                    <!-- Loading Station-Spots -->
                    <!--<button type="button" class="btn btn-link" id="selectLoadingStations" onclick="selectLoadingStations()">Clear Selected Items</button>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="403-11" oninput="filterLoadingStations()">
                        <label class="custom-control-label apm-label" for="403-11">403-11</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="403-12" oninput="filterLoadingStations()">
                        <label class="custom-control-label apm-label" for="403-12">403-12</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="410-1" oninput="filterLoadingStations()">
                        <label class="custom-control-label apm-label" for="410-1">410-1</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="410-2" oninput="filterLoadingStations()">
                        <label class="custom-control-label apm-label" for="410-2">410-2</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="410-4" oninput="filterLoadingStations()">
                        <label class="custom-control-label apm-label" for="410-4">410-4</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="410-5" oninput="filterLoadingStations()">
                        <label class="custom-control-label apm-label" for="410-5">410-5</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="410-6" oninput="filterLoadingStations()">
                        <label class="custom-control-label apm-label" for="410-6">410-6</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="411" oninput="filterLoadingStations()">
                        <label class="custom-control-label apm-label" for="411">411</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="Barge" oninput="filterLoadingStations()">
                        <label class="custom-control-label apm-label" for="Barge">Barge</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="UnAssigned" oninput="filterLoadingStations()">
                        <label class="custom-control-label apm-label" for="UnAssigned">UnAssigned</label>
                    </div>
                </div>
                <button type="button" class="btn apm-btn-jade" data-toggle="collapse" data-target="#archiveFilter" id="arch-btn-toggle"><i class="fa fa-plus" id="archIcon"></i> Shipping Archive</button>
                <div id="archiveFilter" class="collapse collapse">
                    <div class="dropdown-divider"></div>-->
                    <!-- Show Archive check Box -->
                    <!--<div class="custom-control custom-checkbox mb-1">
                        <input type="checkbox" class="custom-control-input" id="ShippingArchive" oninput="showArchive()">
                        <label class="custom-control-label apm-label" for="ShippingArchive">Show Only Archive</label>
                    </div>
                </div>
            </div>
        </div>
    </div>-->
    <div class="apm-icon-home filter-icon-con">
        <!--<span id="FilterContainer-icon" onclick="$('#FilterContainer').toggle();">-->
        <span id="FilterContainer-icon">
            <i class="fas fa-filter apm-icon"></i>
            <span>Filter</span>
        </span>
        <!--<div id="FilterContainer" class="filter_icon" style="width:300px;display:none;border-radius:unset!important;">-->
        <div id="FilterContainer">
            <center>
                <div id="" class="" style="border-radius:7px !important; padding:1rem;">
                    <div class="dropdown-divider"></div>
                    <div class="form-group mt-2">
                        <label for="fromDate">From:</label><i class='fas fa-undo apm-reset-button' data-toggle="tooltip" title="Reset" onclick="resetDates('fromDate');"></i>
                        <input type="date" class="form-control" id="fromDate" onchange="filterDates();">
                    </div>
                    <div class="form-group mt-2">
                        <label for="toDate">To:</label><i class='fas fa-undo apm-reset-button' data-toggle="tooltip" title="Reset" onclick="resetDates('toDate');"></i>
                        <input type="date" class="form-control" id="toDate" onchange="filterDates();">
                    </div>
                </div>
                <button type="button" class="btn apm-btn-jade" data-toggle="collapse" data-target="#archiveFilter" id="arch-btn-toggle" aria-expanded="true"><i class="fa-minus fa" id="archIcon"></i> Shipping Archive</button>
                <div id="archiveFilter" class="collapse show" style="">
                    <div class="dropdown-divider"></div>
                    <div class="custom-control custom-checkbox mb-1">
                        <input type="checkbox" class="custom-control-input" checked id="PoClosed">
                        <label class="custom-control-label apm-label" for="PoClosed">Closed</label>
                    </div>
                    <div class="custom-control custom-checkbox mb-1">
                        <input type="checkbox" class="custom-control-input" checked id="PoOpened">
                        <label class="custom-control-label apm-label" for="PoOpened">Opened</label>
                    </div>
                </div>
            </center>
        </div>
    </div>
    <div class="apm-icon-key key-icon-con" id="tool_icon" style=" width: auto; height: auto;">
        <i onclick="$('#export-filters').toggle();$('#export-filter-icon').toggle();" id="export-filter-icon" class=" fas fa-tools apm-icon"></i>
        <div id="export-filters" class="" style="display:none;border-radius:7px!important;padding:1rem;">
            <i onclick="$('#export-filters').toggle();$('#export-filter-icon').toggle();" class="showapppopup1 fas fa-tools apm-icon"></i>
            <span onclick="$('#export-filters').toggle();$('#export-filter-icon').toggle();">Tools</span>
            <div class="dropdown-divider"></div>
            <button type="button" id="ExportExcelSTO" class="btn apm-label"><i class='fa fa-download'></i>Download Excel</button>
        </div>
    </div>
</div>

<partial name="_NavLinks" />
<main class="apm-main">

    <br /><div id='spinner' class='collapse'><i class='fas fa-spinner fa-spin fa-4x'></i></div>

    <div>
        <table id="RawMatsSTO" class="table table-bordered table-hover table-sm collapse" style="width:100%">
            <thead>
                <tr class="noprint">
                    <th>PO Number</th>
                    <th>Delivery Number</th>
                    <th>Request Delivery Date</th>
                    <th>Document Type</th>
                    <th>Material Type</th>
                    <th style="display:none;">Material Type Desc</th>
                    <th>SAP Sent</th>
                    <th>Supplier Name</th>
                    <th>Supplier Number</th>
                    <th style="display:none;">Quantity</th>
                    <th style="display:none;" class="noprint"></th>
                    <th style="display:none;">Quantity Received</th>
                    <th style="display:none;">POClosed</th>
                </tr>
            </thead>
            <tbody>
                <tr style="display:none">
                    <th>PO Number</th>
                    <th>Delivery Number</th>
                    <th>Request Delivery Date</th>
                    <th>Document Type</th>
                    <th>Material Type</th>
                    <th style="display:none;">Material Type Desc</th>
                    <th>SAP Sent</th>
                    <th>Supplier Name</th>
                    <th>Supplier Number</th>
                    <th style="display:none;">Quantity</th>
                    <th style="display:none;" class="noprint"></th>
                    <th style="display:none;">Quantity Received</th>
                    <th style="display:none;">POClosed</th>
                </tr>
                @{
                    foreach (var item in Model.PurchaseOrderList)
                    {
                        @*<tr onclick="location.href='./RawMaterial/InternalSTO/@item.POMaterial.Ib_Raw_Mtls_Id'">*@
                        <tr>
                            <td class="details-control">
                                @*<td>*@
                                @item.POMaterial.Document_Nbr
                                @*<a href="./RawMaterial/InternalSTO/@item.POMaterial.Ib_Raw_Mtls_Id">@item.POMaterial.Document_Nbr</a>*@
                            </td>
                            <td>
                                @item.POMaterial.Delivery_No
                            </td>
                            <td>
                                @item.POMaterial.Requested_Delivery_Date
                            </td>
                            <td @item.Style> @item.POMaterial.Document_Type</td>

                            <td>@item.POMaterial.Sap_Matl_Type @item.POMaterial.Matl_type_descr  @item.POMaterial.Additional_info</td>
                            <td style="display:none;">@item.POMaterial.Sap_Matl_Descr</td>
                            <td>
                                @(item.POMaterial.SENT_TO_SAP>0?"Yes":"No")
                            </td>
                            <td>
                                @item.POMaterial.Supplier_Name
                            </td>
                            <td>
                                @item.POMaterial.Supplier_Nbr
                            </td>
                            <td style="display:none;">@item.POMaterial.Quantity</td>
                            <td style="display:none;" class="noprint">@item.LineItems</td>
                            <td style="display:none;">@item.POMaterial.Amt_Received</td>
                            <td style="display:none;">@item.POMaterial.po_closed</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</main>
<script>
    var YN = [];
    function checkbhxCheck() {
        YN = [];
        if ($('#PoOpened').is(":checked")) {
            YN.push("N");
        }
        if ($('#PoClosed').is(":checked")) {
            YN.push("Y");
        }
        filterStatus();
        console.log(YN);
    }
    $('#PoOpened').change(function () {
        checkbhxCheck();
    });
    $('#PoClosed').change(function () {
        checkbhxCheck();
    });
    function getClosedStatus() {
        var tempStatus=[];
        @{
            foreach (var row in Model.PurchaseOrderList)
            {
                <text>
                    tempStatus.push("@row.POMaterial.po_closed.ToString().Trim()");
                </text>
            }
        }
        return tempStatus;
    }
     function getDates() {
          var tempDates = [];
        @{
            foreach (var row in Model.PurchaseOrderList.FindAll(x=> x.POMaterial.Requested_Delivery_Date!=null!))
            {
                <text>
                    tempDates.push("@row.POMaterial.Requested_Delivery_Date.ToString().Trim()");
                </text>
            }
        }
        return tempDates;
    }
    function filterStatus() {
        var ship_table = $('#RawMatsSTO').DataTable();
        var list = "";
        //var statusess = getClosedStatus();
        //var strt;
        //statusess.forEach(element => {
        //    (YN.indexOf(element) > -1);
        //        list += element + "|";
        //});
        if (YN.length == 0)
            YN.push("ABCD");
        YN.forEach(element => {
            list += element + "|";
        })
        list = list.slice(0, list.length - 1);
        console.log(list);
        ship_table.column(12).search(list, true, false).draw();
    }
    function filterDates() {
        var ship_table = $('#RawMatsSTO').DataTable();
      //  var ship_table = $('#childShipMat').DataTable();
        var dates = getDates();
        var list = "";
        var from = document.getElementById("fromDate").value;
        var to = document.getElementById("toDate").value;
        sessionStorage.setItem("FromDate", from);
        sessionStorage.setItem("ToDate", to);
        if (from != "")
            from = from.includes("T") ? from : from + "T00:00";

        if (to != "")
            to = to.includes("T") ? to : to + "T23:59";

        var d1 = new Date(from);
        var d2 = new Date(to);
        //console.log(d1);
        //console.log(d2);
        var d3;
        if (from == "" && to == "") {
            dates.forEach(element => {
                list += element + "|";
            });
        } else if (from != "" && to != "") {
            dates.forEach(element => {
                d3 = new Date(element);
                if (d3 >= d1 && d3 < d2) {
                    list += element + "|";
                }
            });
        } else if (from != "" && to == "") {
            dates.forEach(element => {
                d3 = new Date(element);
                if (d3 >= d1) {
                    list += element + "|";
                }
            });
        } else if (from == "" && to != "") {
            dates.forEach(element => {
                d3 = new Date(element);
                if (d3 <= d2) {
                    list += element + "|";
                }
            });
        }
        //console.log(list);
        list = list.slice(0, list.length - 1);
        console.log(list);
        ship_table.column(2).search(list, true, false).draw();
    }
    function resetDates(id) {
        document.getElementById(id).value = "";
        filterDates();
        //filterEarlyLoadDates();
    }
    function GetDateFormat(date) {
        return date.getFullYear().toString() + "-" + (date.getMonth() + 1).toString().padStart(2, '0') + "-" + date.getDate().toString().padStart(2, '0');
    }
    var sFrom = sessionStorage.getItem("FromDate");
    var sTo = sessionStorage.getItem("ToDate");
    setTimeout(function () {
        if (sFrom) {
            var d = GetDateFormat(new Date(sFrom));
            $("#fromDate").val(d);
        }

        if (sTo) {
            var d = GetDateFormat(new Date(sTo));
            $("#toDate").val(d);
        }
        if (sFrom || sTo) {
            filterDates();
        }
    }, 500);

</script>

@section Scripts {
    <link href="~/js/DataTables/DataTables-1.10.23/css/buttons.dataTables.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/js/DataTables/DataTables-1.10.23/css/dataTables.bootstrap4.min.css" />
    <script type="text/javascript" src="~/js/DataTables/DataTables-1.10.23/js/jquery.dataTables.min.js"></script>
    <script src="~/js/DataTables/DataTables-1.10.23/js/dataTables.buttons.min.js"></script>
    <script src="~/js/DataTables/DataTables-1.10.23/js/jszip.min.js"></script>
    <script src="~/js/DataTables/DataTables-1.10.23/js/pdfmake.min.js"></script>
    <script src="~/js/DataTables/DataTables-1.10.23/js/vfs_fonts.js"></script>
    <script src="~/js/DataTables/DataTables-1.10.23/js/buttons.html5.min.js"></script>
    <script type="text/javascript" src="~/js/DataTables/DataTables-1.10.23/js/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript" src="~/js/view/RawMaterialTable.js" asp-append-version="true"></script>
}