﻿/*===========================================
    TABLE OF CONTENTS
        1: Global Styles
        2: Layouts
            2.1: Body 
            2.2: Header/Footer 
            2.3: Header 
            2.4: Main 
            2.5: Footer
            2.6: Navigation 
            2.7: Filters 
            2.8: Landing Page
            2.9: Process Order Details
            2.10: Tables
            2.11: Loading Details
        3: Typography 
        4: Components 
            4.1: Cards - Landing Page
            4.2: Icons - Navs & Filters
            4.3: Buttons - Reset
            4.4: Loading Spinner
            4.5: Modal
            4.6: Buttons
            4.7: Miscellaneous
        5: Colors
            5.1: Background Colors
            5.2: Gradient Background Colors
            5.3: Shipping Colors
        6: Media Queries
            6.1: iPhones
            6.2: iPads
  ===========================================*/

/*====================
    1: Global Styles
  ====================*/
* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    /*margin: 0;
    padding: 0;*/
}

/*body {
    margin: 0;
    padding: 0;
}*/

/*==============
    2: Layouts 
  ==============*/

/*=============
    2.1: Body 
  =============*/
.apm-body {
    min-height: 100%;
    min-width: 100%;
    display: grid;
    grid-gap: .25rem;
    grid-template-areas:
        "header" "navs filters" "main" "footer";
}

/*======================
    2.2: Header/Footer 
  =====================*/
.apm-header,
.apm-footer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 1rem;
    z-index: 100;
}

/*===============
    2.3: Header 
  ===============*/
.apm-header {
    grid-area: header;
    //position: fixed;
    position: absolute;
    top: 0;
    width: 100%;
    white-space: nowrap;
    /*top: 0;
    right: 0;
    left: 0;*/
    min-height: 5rem;
    padding-top: 1.25rem;
    border-bottom: 1px solid #dee2e6 !important;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
    background-color: #ffffff;

    h1 {
        color: #003c71;
        text-align: center;
        font-size: clamp(1rem, 3vw, 2rem);
    }

    /* Changes the word 'smart' to Ascend's jade color in logo */
    span {
        color: #58a946;
    }

    h1:nth-child(1) {
        max-width: 25%;
        margin-left: .8rem;
    }

    h1:nth-child(2) {
        max-width: 50%;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        white-space: initial;
        padding: 0 1.5rem;
    }

    h1:nth-child(3) {
        max-width: 25%;
        position: absolute;
        right: 1.5rem;
        white-space: initial;
    }
}

/*=============
    2.4: Main 
  =============*/
/* Note: individual view layouts will be nested grids inside main */
.apm-main {
    overflow-x: hidden!important;
    grid-area: main;
    position: fixed;
    top: 10rem;
    bottom: 4rem;
    right: 0;
    left: 0;
    margin: 0 .75rem;
    overflow: auto;
    //overflow-x: hidden;
    z-index: 0;
}

/*===============
    2.5: Footer
  ===============*/
.apm-footer {
    grid-area: footer;
    /*position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    min-height: 4rem;
    max-height: 4rem;
    margin-top: auto;*/
    height: 4rem;
    background: linear-gradient(360deg, #003c71 10%, #00b9bd 360%);
    color: #ffffff;
    z-index: -1;
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    //line-height: 60px; /* Vertically center the text there */


    p {
        max-width: 50%;
        margin-top: 1.5rem;
    }

    p:nth-child(2) {
        margin-left: auto;
    }
}

/*===================
    2.6: Navigation 
  ===================*/
.apm-navs {
    grid-area: navs;
    position: fixed;
    top: 6rem;
    left: 1.25rem;
    z-index: 10;
}

/*================
    2.7: Filters 
  ================*/
.apm-filters {
    grid-area: filters;
    position: fixed;
    top: 6rem;
    right: 1.25rem;
    z-index: 10;

    ul {
        margin-bottom: -1rem;

        li {
            text-align: center;
            margin-left: -1rem;
            margin-right: -2rem;
        }
    }

    hr {
        margin: 0;
        border-bottom: 1px solid #003c71;
    }
}

/*=====================
    2.8: Landing Page
  =====================*/
.apm-landing {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    margin-top: 3rem;
}

/*==============================
    2.9: Process Order Details
  ==============================*/
.apm-production-details {
    /*height: 100%;
    width: 100%;*/
    display: grid;
    grid-gap: 1rem;
    grid-template-areas: "pod pod pod pod pod pod pod pod pod pod pod pod" "pop pop pop pop pop pop rmc rmc rmc rmc rmc rmc";
    min-width: 98.45%;
    max-width: 98.45%;
    margin: auto;

    .apm-pod-details {
        grid-area: pod;
    }

    .apm-pop-details {
        grid-area: pop;
    }

    .apm-rmc-details {
        grid-area: rmc;
    }

    .apm-pod-details,
    .apm-pop-details,
    .apm-rmc-details {
        background: #ffffff;

        table {
            /*width: 100%;
            min-width: 100%;
            max-width: 100%;*/
            font-size: .85rem;
            text-align: center;
            box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
            z-index: 0;

            thead tr:nth-child(1) th {
                color: #ffffff;
                background: linear-gradient(360deg, #003c71 10%, #00b9bd 360%);
            }
        }


        h1 {
            color: #003c71;
            text-align: center;
            font-size: clamp(1rem, 2vw, 1.5rem);
        }
    }

    .apm-table-inner {
        max-height: 30rem;
        overflow: auto;

        table {
            thead tr:nth-child(1) th {
                position: sticky;
                top: -.1rem;
                z-index: 9;
            }
        }
    }
}
/*================
    2.10: Tables
  ================*/
.apm-table {
    /*height: 100%;
    width: 100%;*/
    display: grid;
    grid-template-areas: "t t t t t t t t t t t t";
    margin: 0;
    padding: 0;
    //max-width: 100%;

    .apm-table-blue,
    .apm-table-jade,
    .apm-table-violet,
    .apm-table-cherry {
        grid-area: t;
        position: relative;
        min-width: 98.45%;
        max-width: 98.45%;
        background: #ffffff;
        margin: auto;
        padding: 0;

        table {
            width: 100%;
            min-width: 100%;
            max-width: 100%;
            margin: 0;
            padding: 0;
            padding: 0;
            font-size: .85rem;
            text-align: center;
            box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
            z-index: 0;

            thead tr:nth-child(1) th {
                color: #ffffff;
                position: sticky;
                top: -.1rem;
                z-index: 9;
            }
        }
    }

    .dropdown-divider {
        margin-bottom: 0;
    }
}

.apm-table-blue {
    thead tr:nth-child(1) th {
        background: linear-gradient(360deg, #003c71 10%, #00b9bd 360%);
    }
}

.apm-table-jade {
    thead tr:nth-child(1) th {
        background: linear-gradient(360deg, #58A946 10%, #b7bb10 360%);
    }
}

.apm-table-violet {
    margin-top: 1rem;

    thead tr:nth-child(1) th {
        //background: linear-gradient(360deg, #003c71 10%, #842579 360%);
        background: linear-gradient(360deg, #842579 10%, #003c71 360%);
    }
}

.apm-table-cherry {
    margin-top: 1rem;

    thead tr:nth-child(1) th {
        color: #ffffff;
        background: linear-gradient(360deg, #D94631 10%, #ec9921 360%);
    }
}
/*=========================
    2.11: Loading Details
  =========================*/

.apm-loading-screen {
    min-width: 98.45%;
    max-width: 98.45%;
    margin: auto;
}

.apm-loading-screen .apm-shipping-details,
.apm-loading-screen .apm-loading-details,
.apm-loading-screen .apm-weighing-details,
.apm-loading-screen .apm-confirmation-details {
    /*#shipping-btn-toggle,
        #loading-btn-toggle,
        #weighing-btn-toggle,
        #confirmation-btn-toggle {
            color: #ffffff;
            background-color: #003C71;
            float: left;
            margin-left: -1rem;

            i {
                font-size: clamp(.8rem, 2vw, 1rem);
            }
        }

        #confirm-loading,
        #save-loading {
            margin-top: 1.5rem;

            i {
                font-size: clamp(1.5rem, 2vw, 2rem);
                color: #003C71;
            }
        }

        #save-weighing,
        #confirm-po {
            margin-top: 1.7rem;
            margin-right: .5rem;

            i {
                font-size: clamp(1.5rem, 2vw, 2rem);
                color: #003C71;
            }
        }

        #confirm-loading:hover,
        #save-loading:hover,
        #save-weighing:hover,
        #confirm-po:hover {
            background-color: #003C71;

            i {
                color: #ffffff;
            }
        }*/
    /*#net-weight-div,
        #outbound_date_div,
        #po-confirm-div,
        #po_list-div {
            width: 16rem;
            min-width: 16rem;
            max-width: 100%;
            margin-right: .5rem;
            margin-left: .5rem;
            padding: 0;
        }*/
}

.apm-loading-screen .apm-shipping-details p,
.apm-loading-screen .apm-loading-details p,
.apm-loading-screen .apm-weighing-details p,
.apm-loading-screen .apm-confirmation-details p {
    font-size: 1rem;
    padding-left: 2rem;
}

.apm-loading-screen .apm-shipping-details .p-header,
.apm-loading-screen .apm-loading-details .p-header,
.apm-loading-screen .apm-weighing-details .p-header,
.apm-loading-screen .apm-confirmation-details .p-header {
    font-weight: bolder;
    color: #003C71;
    margin: auto;
    padding: 0;
    padding-left: 2rem;
}

.apm-loading-screen .apm-shipping-details .card,
.apm-loading-screen .apm-loading-details .card,
.apm-loading-screen .apm-weighing-details .card,
.apm-loading-screen .apm-confirmation-details .card {
    margin: 0;
    padding: 0;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.apm-loading-screen .apm-shipping-details .card-body,
.apm-loading-screen .apm-loading-details .card-body,
.apm-loading-screen .apm-weighing-details .card-body,
.apm-loading-screen .apm-confirmation-details .card-body {
    margin: 0;
    padding: 0;
}

.apm-loading-screen .apm-shipping-details .card .card-header,
.apm-loading-screen .apm-loading-details .card .card-header,
.apm-loading-screen .apm-weighing-details .card .card-header,
.apm-loading-screen .apm-confirmation-details .card .card-header {
    text-align: center;
    font-size: clamp(1rem, 3vw, 1.25rem);
    color: #ffffff;
    background: linear-gradient(360deg, #003c71 10%, #00b9bd 360%);
    margin-bottom: .5rem;
    padding-right: 2rem;
    padding-top: .5rem;
    padding-bottom: .25rem;
}

.apm-loading-screen .apm-shipping-details .card .card-body,
.apm-loading-screen .apm-loading-details .card .card-body,
.apm-loading-screen .apm-weighing-details .card .card-body,
.apm-loading-screen .apm-confirmation-details .card .card-body {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.apm-loading-screen .apm-shipping-details .card-footer,
.apm-loading-screen .apm-loading-details .card-footer,
.apm-loading-screen .apm-weighing-details .card-footer,
.apm-loading-screen .apm-confirmation-details .card-footer {
    text-align: left;
    color: #003C71;
}

.apm-loading-screen .apm-shipping-details label,
.apm-loading-screen .apm-loading-details label,
.apm-loading-screen .apm-weighing-details label,
.apm-loading-screen .apm-confirmation-details label {
    text-align: left;
    font-weight: bolder;
}

.apm-loading-screen .apm-shipping-details .btn:hover,
.apm-loading-screen .apm-loading-details .btn:hover,
.apm-loading-screen .apm-weighing-details .btn:hover,
.apm-loading-screen .apm-confirmation-details .btn:hover {
    background-color: #003C71;
}

.apm-loading-screen .apm-shipping-details textarea,
.apm-loading-screen .apm-loading-details textarea,
.apm-loading-screen .apm-weighing-details textarea,
.apm-loading-screen .apm-confirmation-details textarea {
    min-width: 100%;
}

.apm-loading-screen .apm-shipping-details .apm-card-footer,
.apm-loading-screen .apm-loading-details .apm-card-footer,
.apm-loading-screen .apm-weighing-details .apm-card-footer,
.apm-loading-screen .apm-confirmation-details .apm-card-footer {
    margin: 0;
    padding-top: 1rem;
    padding-bottom: 0;
    padding-left: 2rem;
    padding-right: 2rem;
    color: #003C71;
    background-color: rgba(0, 0, 0, 0.03);
    color: #0c5460;
    border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.apm-loading-screen .apm-shipping-details .apm-expand-jade,
.apm-loading-screen .apm-loading-details .apm-expand-jade,
.apm-loading-screen .apm-weighing-details .apm-expand-jade,
.apm-loading-screen .apm-confirmation-details .apm-expand-jade {
    background: linear-gradient(360deg, #003c71 10%, #00b9bd 360%);
}

.apm-loading-screen .apm-shipping-details .apm-expand-jade i,
.apm-loading-screen .apm-loading-details .apm-expand-jade i,
.apm-loading-screen .apm-weighing-details .apm-expand-jade i,
.apm-loading-screen .apm-confirmation-details .apm-expand-jade i {
    color: #58A946;
}

.apm-loading-screen .apm-shipping-details #save-shipping,
.apm-loading-screen .apm-loading-details #save-shipping,
.apm-loading-screen .apm-weighing-details #save-shipping,
.apm-loading-screen .apm-confirmation-details #save-shipping {
    background: linear-gradient(360deg, #003c71 10%, #00b9bd 360%);
}

.apm-loading-screen .apm-shipping-details #save-shipping i,
.apm-loading-screen .apm-loading-details #save-shipping i,
.apm-loading-screen .apm-weighing-details #save-shipping i,
.apm-loading-screen .apm-confirmation-details #save-shipping i {
    color: #ffffff;
    font-size: clamp(1.5rem, 2vw, 2rem);
}

.apm-loading-screen .apm-shipping-details .apm-expand-icon,
.apm-loading-screen .apm-loading-details .apm-expand-icon,
.apm-loading-screen .apm-weighing-details .apm-expand-icon,
.apm-loading-screen .apm-confirmation-details .apm-expand-icon {
    color: #ffffff;
    font-size: 1.2rem;
    float: left;
    margin-top: .25rem;
    margin-left: -.4rem;
}

.apm-loading-screen .apm-shipping-details .apm-save-icon,
.apm-loading-screen .apm-loading-details .apm-save-icon,
.apm-loading-screen .apm-weighing-details .apm-save-icon,
.apm-loading-screen .apm-confirmation-details .apm-save-icon {
    float: right;
    margin-top: -.5rem;
    margin-bottom: -.5rem;
    margin-right: -1.25rem;
    padding: 0;
}

.apm-loading-screen .apm-shipping-details .apm-save-icon i,
.apm-loading-screen .apm-loading-details .apm-save-icon i,
.apm-loading-screen .apm-weighing-details .apm-save-icon i,
.apm-loading-screen .apm-confirmation-details .apm-save-icon i {
    color: #ffffff;
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
}

.apm-loading-screen .apm-shipping-details .apm-save-icon:hover,
.apm-loading-screen .apm-loading-details .apm-save-icon:hover,
.apm-loading-screen .apm-weighing-details .apm-save-icon:hover,
.apm-loading-screen .apm-confirmation-details .apm-save-icon:hover {
    margin-top: -.5rem;
    margin-bottom: -.5rem;
    margin-right: -1.25rem;
    padding: 0;
}

.apm-loading-screen .apm-shipping-details .apm-expand-cherry,
.apm-loading-screen .apm-loading-details .apm-expand-cherry,
.apm-loading-screen .apm-weighing-details .apm-expand-cherry,
.apm-loading-screen .apm-confirmation-details .apm-expand-cherry {
    background: linear-gradient(360deg, #003c71 10%, #00b9bd 360%);
}

.apm-loading-screen .apm-shipping-details .apm-expand-cherry i,
.apm-loading-screen .apm-loading-details .apm-expand-cherry i,
.apm-loading-screen .apm-weighing-details .apm-expand-cherry i,
.apm-loading-screen .apm-confirmation-details .apm-expand-cherry i {
    color: #D94631;
}

    
    
    /*=================
    3: Typography 
  =================*/
        p, li, a, label, input, .btn, button, i, .alert, .form-control, 
        option, .custom-select {
            font-size: clamp(.8rem, 2vw, 1rem);
        }
        /*=================
    4: Components 
  =================*/
        /*=============================
    4.1: Cards - Landing Page
  =============================*/
        .apm-card-blue,
        .apm-card-jade,
        .apm-card-orange,
        .apm-card-violet,
        .apm-card-cherry {
            position: relative;
            bottom: 5rem;
            padding: 1.875rem;
            margin: 2rem auto;
            border-radius: 1.875rem;
            width: 20rem;
            color: #ffffff;

            h6 {
                font-size: clamp(1rem, 2vw, 1.5rem);
                font-weight: 500;
            }

            p {
                font-size: clamp(.8rem, 2vw, 1.15rem);
            }

            button {
                font-size: clamp(.8rem, 2vw, 1.15rem);
                box-shadow: 0 1.5625rem 3.125rem rgba(0, 0, 0, 0.2);
                background: transparent;
                backdrop-filter: blur(.625rem);
                height: 3.125rem;
                border-radius: 1.875rem;
                background: rgba(255, 255, 255, 0.3);
                color: #ffffff;
                border: .0625rem solid rgba(255, 255, 255, 0.5);
            }
        }

        .apm-card-blue::before,
        .apm-card-jade::before,
        .apm-card-orange::before,
        .apm-card-violet::before,
        .apm-card-cherry::before {
            content: '';
            position: absolute;
            left: 5%;
            right: 5%;
            bottom: -0.9375rem;
            height: 2.5rem;
            border-radius: 50%;
            filter: blur(1.25rem);
        }

        .apm-card-blue::after,
        .apm-card-jade::after,
        .apm-card-orange::after,
        .apm-card-violet::after,
        .apm-card-cherry::after {
            content: '';
            position: absolute;
            left: 5%;
            right: 5%;
            bottom: -0.9375rem;
            height: 2.5rem;
            border-radius: 50%;
            filter: blur(2.5rem);
        }

        .apm-card-blue,
        .apm-card-blue::before,
        .apm-card-blue::after {
            background: linear-gradient(to bottom right, #003c71, #00b9bd);
        }

        .apm-card-jade,
        .apm-card-jade::before,
        .apm-card-jade::after {
            background: linear-gradient(to bottom right, #b7bb10, #00b9bd);
        }

        .apm-card-orange,
        .apm-card-orange::before,
        .apm-card-orange::after {
            background: linear-gradient(to bottom right, #ec9921, #d94631);
        }

        .apm-card-violet,
        .apm-card-violet::before,
        .apm-card-violet::after {
            background: linear-gradient(to bottom right, #003c71, #842579);
        }
        /* Not currently in use on the Landing Page */
        .apm-card-cherry,
        .apm-card-cherry::before,
        .apm-card-cherry::after {
            background: linear-gradient(to bottom right, #D94631, #842579);
        }
        /*===============================
    4.2: Icons - Navs & Filters
  ===============================*/
        .apm-icon-home,
        .apm-icon-production,
        .apm-icon-shipping,
        .apm-icon-oee,
        .apm-icon-admin,
        .apm-icon-filters,
        .apm-icon-key {
            display: inline-block;
            height: 3.125rem;
            width: 3.125rem;
            float: left;
            margin: 0 0.3125rem;
            overflow: hidden;
            background: #ffffff;
            border-radius: 3.125rem;
            cursor: pointer;
            box-shadow: 0rem 0.625rem 0.625rem rgba(0,0,0,0.1);
            transition: all 0.15s ease-out;

            .apm-icon {
                display: inline-block;
                height: 3.125rem;
                width: 3.125rem;
                text-align: center;
                border-radius: 3.125rem;
                box-sizing: border-box;
                line-height: 3.125rem;
                font-size: clamp(1rem, 2vw, 1.5625rem);
                line-height: 3.125rem;
            }

            span {
                font-size: clamp(1rem, 2vw, 1.5625rem);
                font-weight: 500;
                line-height: 3.125rem;
                margin-left: 0.625rem;
            }

            button {
                padding-left: 0;
                color: #003c71;
                background-color: #f8f9fa;
                border-color: #f8f9fa;
                font-size: clamp(.8rem, 2vw, 1rem);
                font-weight: 500;

                i {
                    padding-right: .5rem;
                }
            }

            h6 {
                font-size: clamp(.8rem, 2vw, 1rem);
                font-weight: 500;
                color: #ffffff;
                background: linear-gradient(360deg, #58A946 10%, #b7bb10 360%);
                padding: .75rem;
            }

            .apm-btn-jade {
                font-size: clamp(.8rem, 2vw, 1rem);
                font-weight: 500;
                color: #ffffff;
                background: linear-gradient(360deg, #58A946 10%, #b7bb10 360%);
                margin: 0;
                margin-top: .5rem;
                padding-left: .5rem;
                width: 100%;
                text-align: left;
            }

            .apm-btn-transition {
                font-size: clamp(.8rem, 2vw, 1rem);
                font-weight: 500;
                color: #ffffff;
                background: linear-gradient(360deg, #D94631 10%, #ec9921 360%);
                margin: 0;
                margin-top: .5rem;
                padding-left: .5rem;
                width: 100%;
                text-align: left;
            }

            .apm-label {
                font-size: clamp(.8rem, 2vw, 1rem);
                font-weight: 100;
                color: #003c71;
            }
        }

        .apm-icon-home:hover,
        .apm-icon-production:hover,
        .apm-icon-shipping:hover,
        .apm-icon-oee:hover,
        .apm-icon-admin:hover,
        .apm-icon-filters:hover,
        .apm-icon-key:hover {
            width: auto;
            height: auto;
            padding-right: 1rem;

            .apm-icon {
                color: #ffffff;
            }
        }

        .apm-icon-admin:hover .apm-icon {
            margin-left: .2rem;
            margin-bottom: .4rem;
        }

        .apm-icon-oee:hover,
        .apm-icon-admin:hover {
            border-radius: 0.375rem;
        }

.apm-icon-home:hover {
    .apm-icon {
        background: linear-gradient(360deg, #58A946 10%, #b7bb10 360%);
    }

    span {
        color: #58A946;
    }
}

.apm-icon-production:hover {
    .apm-icon {
        background: linear-gradient(360deg, #58A946 10%, #b7bb10 360%);
    }

    span {
        color: #58A946;
    }
}

.apm-icon-shipping:hover {
    .apm-icon {
        background: linear-gradient(360deg, #58A946 10%, #b7bb10 360%);
    }

    span {
        color: #58A946;
    }
}

.apm-icon-oee:hover {
    .apm-icon {
        background: linear-gradient(360deg, #58A946 10%, #b7bb10 360%);
    }

    span {
        color: #58A946;
    }

    ul {
        li {
            display: flex;
            justify-content: space-between;
            align-items: center;
            line-height: 1.25rem;
            font-size: clamp(.8rem, 2vw, 1rem);

            span {
                color: #D94631;
                line-height: 1rem;
                font-size: clamp(.8rem, 2vw, 1rem);
            }
        }
    }
}

.apm-icon-admin:hover {
    .apm-icon {
        background: linear-gradient(360deg, #58A946 10%, #b7bb10 360%);
    }

    span {
        color: #58A946;
    }
}


.apm-icon-filters:hover,
.apm-icon-key:hover {
    width: auto;
    height: auto;
    padding: .5rem .5rem;
    border-radius: 0.375rem;
    color: #58A946;

    .apm-icon {
        background: linear-gradient(360deg, #58A946 10%, #b7bb10 360%);
    }
}

        .apm-icon-admin {
            .apm-icon {
                margin-left: .2rem;
                margin-bottom: .1rem;
            }
        }

        .apm-icon-admin:hover {
            .apm-icon {
                padding-left: .2rem;
                padding-bottom: .1rem;
            }
        }
        /*========================
    4.3: Buttons - Reset
  ========================*/
        .apm-reset-button {
            color: #D94631;
            float: right;
            margin-right: .1rem;
            padding-top: .1rem;
        }

        .apm-info-button {
            color: #17a2b8;
            float: right;
            margin-right: .1rem;
            padding-top: .1rem;
        }

        [data-toggle="popover"] {
            font-size: 1.5rem;
        }

        [data-toggle="popover"] {
            font-size: 1.5rem;
        }

        .popover-header {
            margin-top: 0;
            background: #17a2b8;
            color: #ffffff;
        }
        /*===============================
    4.4: Loading Spinner
  ===============================*/
        .apm-spinner {
            color: #003c71;
            min-width: 100vw;

            .spinner-border {
                margin-left: 2rem;
            }
        }

        .apm-spinner2 {
            color: #003c71;
            min-width: 50vw;

            .spinner-border {
                margin-left: 8rem;
            }
        }

.apm-spinner-grow-1 {
    color: #003c71;
    width: .25rem;
    height: .25rem;
    animation-delay: 0.1s;
}

.apm-spinner-grow-2 {
    color: #003c71;
    width: .25rem;
    height: .25rem;
    animation-delay: 0.22s;
}

.apm-spinner-grow-3 {
    color: #003c71;
    width: .25rem;
    height: .25rem;
    animation-delay: 0.33s;
}
        /*==============
    4.5: Modal 
  ==============*/
        .model-content {
            margin-top: 10rem;
        }

        .modal-dialog {
            width: auto;
        }

        .modal-header {
            color: #ffffff;
            background: linear-gradient(360deg, #003c71 10%, #00b9bd 360%);
        }

        .modal-body {
            .btn-group {
                float: right;
            }

            .btn {
                width: auto;
                margin-right: .5rem;
                border-radius: 0;
                box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
            }
        }
        /*================
    4.6: Buttons 
  ================*/
        .apm-btn-save {
            color: #ffffff;
            background: linear-gradient(360deg, #003c71 10%, #00b9bd 360%);
        }

        .apm-btn-save:hover {
            color: #ffffff;
            background: linear-gradient(360deg, #005fb3 10%, #00fbff 360%);
        }

        .apm-btn-close {
            color: #ffffff;
            background: linear-gradient(360deg, #D94631 10%, #ec9921 360%);
        }

        .apm-btn-close:hover {
            color: #ffffff;
            background: linear-gradient(360deg, #db523d 10%, #ed9c2c 360%);
        }
        /*======================
    4.7: Miscellaneous
  ======================*/
        .apm-counter {
            margin-right: .25rem;
            color: #58a946;
        }
.apm-save-icon,
.apm-confirm-icon {
    font-size: clamp(1.25rem, 2vw, 1.75rem);
    margin-top: .15rem;
    margin-right: .25rem;
    float: right;
}

.apm-save-icon {
    margin-right: 1rem;
}

/*=============
    5: Colors
  =============*/
/*==========================
    5.1: Background Colors
  ==========================*/
.apm-bg-white {
    color: #505050;
    background-color: #ffffff;
}

        .apm-blue {
            color: #003c71;
        }

        .apm-jade {
            color: #58a946;
        }

        .apm-violet {
            color: #842579;
        }

        .apm-cherry {
            color: #D94631;
        }
        /*===================================
    5.2: Gradient Background Colors
  ===================================*/
        .apm-bg-blue-gradient {
            color: #ffffff;
            background: linear-gradient(360deg, #003c71 10%, #00b9bd 360%);
        }

        .apm-bg-cherry-gradient {
            color: #ffffff;
            background: linear-gradient(360deg, #D94631 10%, #ec9921 360%);
        }

        .apm-bg-orange-gradient {
            color: #ffffff;
            background: linear-gradient(360deg, #ec9921 10%, #D94631 360%);
        }

        .apm-bg-jade-gradient {
            color: #ffffff;
            background: linear-gradient(360deg, #58A946 10%, #b7bb10 360%);
        }

.apm-bg-jade2-gradient {
    color: #ffffff;
    background: linear-gradient(360deg, #58a946 2%, #b7bb10 75%);
}

        /*========================
    5.3: Shipping Colors
  ========================*/
.PLANNED {
    color: #000 !important;
    background-color: #ececec !important
}

.CHECK-IN {
    color: #341d5b !important;
    background-color: #c1ade5 !important
}

.LOADING_START {
    color: #074b83 !important;
    background-color: #a6d4fa !important
    /*background-color: #cce7ff;
    color: #003C71;*/
}

.LOADING_END {
    color: #804d00 !important;
    background-color: #ffd699 !important
    /*color: #856404;
    background-color: #fff3cd;*/
}

.SHIPPED {
    color: #265728 !important;
    background-color: #93cf95 !important
    /*background-color: #bfe1b7;
    color: #396c2d;*/
}

.SUSPECTED {
    color: #8d1007 !important;
    background-color: #fbb3ae !important
    /*background-color: #f3c5be;
    color: #ac3220;*/
}
        /*====================
    6: Media Queries
  ====================*/
        /*================
    6.1: iPhones
  ================*/
        @media only screen and (max-device-width: 375px) {
            /* Reduce margin between header and main */
            .apm-landing {
                margin-top: 3rem;
            }            
        }
        /*==============
    6.2: iPads
  ==============*/
        @media only screen and (max-device-width: 768px) {
            /* Reduce margin between header and main */
            .apm-landing {
                margin-top: 3rem;
            }
        }

