﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 5px;
    padding-right: 5px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.active-color {
    background-color: #58a946 !important;
    color: #fff !important;
}
.w-30 {
    width: 30% !important;
}

/*Custom Style*/
.apm-table-blue thead tr {color:white !important}
.page-item.active .page-link {
    background-color: #003c71;
    border-color: #003c71;
}

.wid-100{
    width:100px;
}

table.dataTable tbody td {
    vertical-align: top !important;
    padding-top:0px;
}

#labelListing.table.dataTable tbody td {
    vertical-align: top !important;
    /*padding-top: 6px;*/
}
.internal {
    background-color: #c1ade5 !important;
}

.wrapLabel {
    white-space: pre-wrap;
}

.fa-blue {
    color: #003c71;
}

.scrollY {
    height: 550px;
    overflow-y: scroll;
}

.match{
    color:green;
    font-weight:bold;
}

.input-blue-textbox:read-only {
    border: 1px #003c71 solid;
    color:navy;
    background-color:#ffffff;

}
.input-group-text {
    background-color: #6c757d;
    color: #ffffff;
}

.DescInput
{
    width:100% !important;}

.Ignoreme
{
    background-color:#ededed;
    color: #6c757d;
}
/*table.dataTable tr th.select-checkbox.selected::after {
    content: "✔";
    margin-top: -11px;
    margin-left: -4px;
    text-align: center;
    text-shadow: rgb(176, 190, 217) 1px 1px, rgb(176, 190, 217) -1px -1px, rgb(176, 190, 217) 1px -1px, rgb(176, 190, 217) -1px 1px;
}*/
