﻿/* You can add global styles to this file, and also import other style files */

html, body {
    font-family: Verdana,sans-serif;
    font-size: 15px;
    line-height: 1.5;
    height: 100%;
}

body {
    position: relative;
    display: block;
}

p, li, a, label, input, .btn, button, i {
    font-size: clamp(0.8em, 2vw, 1em);
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight: 400;
    margin: 10px 0;
}

.pointer {
    cursor: pointer;
}

.text-primary {
    color: #003c71 !important;
}

.text-green {
    color: #58a946 !important;
}

.text-grey {
    color: #c0c0c0 !important
}

.gradient--Green {
    background: linear-gradient(-90deg,#B7BB10 0,#58A946 100%);
}

.bg-primary {
    background-color: #003c71 !important;
}

.btn-green {
    color: #fff;
    background-color: #58a946;
    border-color: #58a946;
}

    .btn-green:hover {
        color: #fff;
        background-color: #257613;
    }

.btn-turquoise {
    color: #fff;
    background-color: #58a946;
    border-color: #58a946;
}

    .btn-turquoise:hover {
        color: #fff;
        background-color: #257613;
    }

.btn-outline-green {
    color: #58a946;
    border-color: #58a946;
}

    .btn-outline-green:hover {
        background-color: #58a946;
        color: #fff;
    }

.text-white {
    color: #fff !important;
}

.text-red {
    color: #d94631 !important;
}

.btn-red {
    color: #fff;
    background-color: #d94631;
    border-color: #d94631;
}

.btn-outline-red {
    color: #d94631;
    border-color: #d94631;
}

    .btn-outline-red:hover {
        background-color: #d94631;
        color: #fff;
    }

.text-turquosie {
    color: #00B9BD !important;
}

.gradient--Turquoise {
    background: linear-gradient(90deg,#003c71 0,#00b9bd 100%);
}

.text-violet {
    color: #842579 !important;
}

.gradient--Violet {
    background: linear-gradient(90deg,#003C71 0,#842579 100%);
}

.text-orange {
    color: #ec9921 !important;
}

.gradient--orange {
    background: linear-gradient(90deg,#D94631 0,#EC9921 100%);
}

.table-condensed {
    font-size: .75rem;
}

.text-alert {
    color: #d94631;
}

border-bottom {
    border-bottom: 1px solid #ccc;
}

body {
    background-color: #e9ecef;
}

.btn-link {
    color: #003c71;
}

.ngb-tp-meridian .btn-outline-primary, .btn-outline-primary {
    color: #003c71;
    border-color: #003c71;
}

.btn-group .btn-outline-primary {
    background-color: #fff;
}

.ngb-tp-meridian .btn-outline-primary:hover, .btn-outline-primary:hover {
    background-color: #009AD4;
    color: #fff;
}

.btn-primary {
    color: #fff;
    background-color: #003c71;
    border-color: #003c71;
}

    .btn-primary:hover {
        color: #fff;
        background-color: #009AD4;
    }

.btn-outline-primary:not(:disabled):not(.disabled).active, .btn-outline-primary:not(:disabled):not(.disabled):active, .show > .btn-outline-primary.dropdown-toggle {
    background-color: #003c71;
}

/*Modal Styling*/
.modal-header {
    background: #003c71;
    color: #fff;
}

    .modal-header .close {
        color: #fff;
    }

.modal-title {
    margin: 0;
}

/*Card Buttons Navigation*/
.glass {
    position: relative;
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.2);
    background: transparent;
    backdrop-filter: blur(10px);
    height: 50px;
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.3);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.card.btn h4 {
    font-size: clamp(16px, 2vw, 24px);
}

.card.btn:hover {
    box-shadow: 0 0 15px rgba(33,33,33,.5);
}

.card.btn.disabled:hover {
    box-shadow: none;
}

.card.btn.disabled {
    cursor: no-drop;
}

.card.btn {
    border-radius: 30px;
    border: none;
}

    .card.btn.gradient--Turquoise::before {
        content: '';
        position: absolute;
        left: 5%;
        right: 5%;
        bottom: -15px;
        height: 40px;
        background: linear-gradient(to bottom right, #003c71, #00b9bd);
        border-radius: 50%;
        filter: blur(20px);
    }

    .card.btn.gradient--Turquoise::before {
        content: '';
        position: absolute;
        left: 5%;
        right: 5%;
        bottom: -15px;
        height: 40px;
        background: linear-gradient(to bottom right, #003c71, #00b9bd);
        border-radius: 50%;
        filter: blur(20px);
    }

    .card.btn.gradient--Violet::before {
        content: '';
        position: absolute;
        left: 5%;
        right: 5%;
        bottom: -15px;
        height: 40px;
        background: linear-gradient(to bottom right, #003c71, #842579);
        border-radius: 50%;
        filter: blur(20px);
    }

    .card.btn.gradient--Green::before {
        content: '';
        position: absolute;
        left: 5%;
        right: 5%;
        bottom: -15px;
        height: 40px;
        background: linear-gradient(to bottom right, #B7BB10, #58A946);
        border-radius: 50%;
        filter: blur(20px);
    }

    .card.btn.gradient--orange::before {
        content: '';
        position: absolute;
        left: 5%;
        right: 5%;
        bottom: -15px;
        height: 40px;
        background: linear-gradient(to bottom right, #d94631, #ec9921);
        border-radius: 50%;
        filter: blur(20px);
    }

.menu {
    /*margin-top: 6em;*/
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}

.menu-container {
    bottom: 5rem;
    padding: 25px;
    margin: auto;
    border-radius: 30px;
}

    .menu-container.s4 {
        width: 23rem;
    }

    .menu-container.s3 {
        width: 35rem;
    }

/*Smart MFG Header styles*/

.apm-header h6 {
    margin: 10px 0;
}

nav h6:nth-child(1) {
    float: left;
    font-weight: normal;
    font-size: clamp(16px, 3vw, 32px);
}

nav h6:nth-child(2) {
    left: 50%;
    transform: translateX(-50%);
    font-weight: normal;
    color: #003c71;
    font-size: 20px;
    position: absolute;
}

nav h6:nth-child(3) {
    right: 0;
    float: right;
    font-weight: normal;
    color: #003c71;
}

/*Smart MFG Header and Footer styles*/

.apm-footer {
    top: 100%;
    left: 0;
    bottom: 0;
    height: 4rem;
    margin-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1.25rem;
    background: #003c71;
    color: #ffffff;
}

    .apm-footer p:nth-child(1) {
        float: left;
    }

    .apm-footer p:nth-child(2) {
        float: right;
    }

.dropdown-menu.show {
    z-index: 1040;
}

.alert {
    padding: 8px 20px;
}

/*Table*/


th {
    font-weight: 600;
}

td {
    padding: .5rem !important;
}

.table-sm th {
    padding: .4rem;
}

table .form-control-sm, table .input-group-text {
    height: calc(1.5em + 2px);
}

table.tableBodyScroll tbody {
    display: block;
    max-height: 360px;
    overflow-y: scroll;
}

table.tableBodyScroll thead {
    display: table;
    width: calc( 100% - 1em );
    table-layout: fixed;
}

table.tableBodyScroll tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

table tr {
    background-color: #fff;
}

thead tr {
    background-color: #003c71 !important;
    color: #fff !important;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075) !important;
}

/*End Table*/

.apm-header,
.apm-footer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 1rem;
    z-index: 100;
}

/*===============
    2.3: Header 
  ===============*/
.apm-header {
    grid-area: header;
    position: absolute;
    top: 0;
    width: 100%;
    /*white-space: nowrap;*/
    /*top: 0;
    right: 0;
    left: 0;*/
    min-height: 5rem;
    padding-top: 1.25rem;
    border-bottom: 1px solid #dee2e6 !important;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
    background-color: #ffffff;
    /* Changes the word 'smart' to Ascend's jade color in logo */
}

    .apm-header h1 {
        color: #003c71;
        text-align: center;
        font-size: clamp(1rem, 3vw, 2rem);
    }

    .apm-header span {
        color: #58a946;
    }

    .apm-header h1:nth-child(1) {
        max-width: 25%;
        margin-left: .8rem;
    }

    .apm-header h1:nth-child(2) {
        max-width: 50%;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        white-space: initial;
        padding: 0 1.5rem;
    }

    .apm-header h1:nth-child(3) {
        max-width: 25%;
        position: absolute;
        right: 1.5rem;
        white-space: initial;
    }