﻿<div class="row pl-3">
    <div class="apm-icon-home" id="home-icon" onclick="location.href='@Url.Action("Index", "Home")';return false;">
        <i class="fa fa-home apm-icon"></i>
        <span>Home</span>
    </div>
    <div class="apm-icon-home" >
       <a id="scanPO"><i class="fas fa-barcode apm-icon"></i></a>  
        <span>Scan Label</span>
    </div>
</div>
