﻿@model ErrorViewModel

@{
    ViewData["Title"] = "Not Found";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <h1 class="text-danger">Error.</h1>
    <div class="alert alert-danger">An error occurred while processing your request.</h2>
</div>