﻿body {   
}


.yellowPanel {
    background-color: #FFA500 !important;
    text-align: center;
}


.text-box {
    max-width: 100px !important;
    width: 100px !important;
}

#SAFETY_NOTES {
    background-color: #ffffb3;
    text-align: center;
}

#SPECIAL_REWORK_NOTES {
    
}

