﻿@model WebApp.ViewModels.BOMListViewModel
<h4>BOM</h4>
<table id="BOMList"class="table table-bordered table-hover table-sm" style="width:100%">
    <thead><tr>
    <th>Material Number</th>
    <th>Description</th>
    <th>Required BOM LBS</th>
    <th>%</th>
    <th><button type="button" id="btnBlend" class="btnBlend btn btn-link pt-1 px-2 apm-bg-jade-gradient" title="Blend Material" >Blend</button></th>
</tr>
    </thead>
        <tbody>
            @{
                foreach (var item in Model.BOMList)
                {

                    <tr class="@item.RowStyle.">
                        <td id="bom_matno_@item.Sap_Matl_Nbr">@item.Sap_Matl_Nbr</td>
                        <td id="bom_matdesc_@item.Sap_Matl_Nbr">@item.Material_Description</td>
                        <td id="bom_qty_@item.Sap_Matl_Nbr">@item.Quantity_Required.ToString("#,###.#0")</td>
                        <td id="bom_percent_@item.Sap_Matl_Nbr">@item.Percent</td>
                        <td>@*<button type="button" id="btnPick" class="btnPickMaterial btn btn-link pt-1 px-0" title="Pick Material" data-id="@item.Sap_Matl_Nbr" data-desc="@item.Material_Description." data-qty="@item.Quantity_Required" data-po="@item.Po_Nbr"><i class="fas fa-clipboard-check fa-2x fa-blue"></i></button>*@
                            <input type="checkbox" id="bom_@item.Sap_Matl_Nbr" value="@item.Sap_Matl_Nbr" name="SelectForBlend"/>
                        </td>

                    </tr>

                }
                <tr>
                    <td class="text-right">Total Required Production:</td>
                    <td></td>
                    <td class="text-right">@Model.Total.ToString("#,###.#0")</td>
                    <td class="text-right">@Model.Total</td>
                </tr>
            }
        </tbody>
</table>
