﻿@model dynamic

@{
    ViewBag.Title = "Production Schedule";

}

@*<link rel="stylesheet" type="text/css" href="~/Scripts/DataTables/datatables.min.css" />
    <script type="text/javascript" src="~/Scripts/DataTables/datatables.min.js"></script>
    <script src="~/Scripts/production-schedule.js"></script>*@

@*<style>
    div.dataTables_length {
        padding-left: 2em;
    }

    div.dataTables_length,
    div.dataTables_filter {
        padding-top: 0.55em;
    }

    .inline {
        display: inline-block;
        padding-top: 15px;
    }
</style>*@
<partial name="_NavLinks" />
<div class="container-fluid">
    <div class="row">
        @*<div class="col-sm-4" style="padding-left:0px">           
            <div class="btn-group">
                <button type="button" class="btn btn-info">Resources</button>
                <button type="button" class="btn btn-info dropdown-toggle dropdown-toggle-split" data-toggle="dropdown">
                </button>
                <div class="dropdown-menu">
                    @foreach (var item1 in Model.Resources)
                    {
                        <div class="checkbox">
                            <label><input type="checkbox" id="@item1.Resource" checked>@item1.Resource</label>
                        </div>
                    }
                </div>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-info"> Resources / Materials&nbsp;</button>
                <button class="btn btn-info dropdown-toggle dropdown-toggle-split" type="button" data-toggle="dropdown" style="font-size:16px">
                </button>
                <div id="MAT" class="dropdown-menu" style="padding-left:10px;width:200px">
                    @{
                        var chk = "chk";
                        var index = 0;
                        foreach (var item2 in Model.Materials)
                        {
                            <div class="checkbox">
                                <label><input type="checkbox" class="@chk@item2.Resource" id="@index" name="@index" oninput="filterTable()" value="@item2.Material_Description" checked>@item2.Resource / @item2.Material_Description</label>
                            </div>
                            index++;
                        }
                    }
                </div>
            </div>
            <div class="btn-group">
                <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown">
                    <i class='fa fa-info' style="font-size:20px;width:20px;"></i>
                </button>
                <div id="RES" class="dropdown-menu" style="padding:0px;text-align:center;width:300px;">
                    <h4 class="bg-success text-success" style="padding:5px;margin:0px;">Active Process Order</h4>
                    <h4 class="bg-info text-info" style="padding:5px;margin:0px;">Contains X-Base Data</h4>
                    <h4 style="background-color:#ffffb3;color:#d29914;padding:5px;margin:0px;">Active with X-Base Data</h4>
                </div>
            </div>
        </div>*@
        <div class="col-sm-4">
            <h2 class="text-primary" style="text-align:center"></h2>
        </div>
        @*<div class="col-sm-4" style="padding-top:10px;padding-bottom:10px;padding-left:30px;padding-right:0px">
            <div class="panel-heading pull-right bg-info text-primary" style="height:50px;width:360px;padding-top:5px;">
                <div class="checkbox inline" style="padding-right:15px;padding-top:0px;">
                    <label><input type="checkbox" value="" id="includeClosed" name="includeClosed" oninput="showClosed(this.checked)">Include Closed</label>
                </div>
                <input class="form-control inline" id="searchInput" type="text" placeholder="Search.." style="width:195px;padding-top:5px">

            </div>
        </div>*@
    </div>
</div>
<div class="row mt-3">
    <div class="col-sm-12 apm-table-blue">
        <table id="prodSched" class="table table-bordered table-hover table-sm" style="width:100%;display:none;">
            <thead>
                <tr id="headers">
                    <th>Process Order #</th>
                    <th>Material #</th>
                    <th>Material Description</th>
                    <th>Resource</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Scheduled Amt.</th>
                    <th>Production Amt.</th>
                    <th>% Completed</th>
                    <th>Status</th>
                    <th>Run Sheet</th>
                    <th class="hidden">ACTIVE</th>
                    <th class="hidden">SPC</th>
                </tr>
            </thead>
            <tbody id="searchTable">
                @{
                    var rowStyle = "";

                    foreach (var item3 in Model.Schedule)
                    {
                        if (item3.Active == "ACTIVE" && item3.Spc == "XB")
                        {
                            rowStyle = "background-color:#ffffb3;color:#d29914;";

                        }
                        else if (item3.Active == "ACTIVE")
                        {
                            rowStyle = "background-color:#d6e9c6;color:#3c763d;";
                        }
                        else if (item3.Spc == "XB")
                        {
                            rowStyle = "background-color:#d9edf7;color:#31708f;";
                        }
                        else
                        {
                            rowStyle = "";
                        }
                        @*<tr style="@rowStyle" data-toggle="modal" data-target="#@item3.Process_Order_Number">*@
                        <tr style="@rowStyle"  data-toggle="modal" data-target="#exampleModal" data-id="@item3.Process_Order_Number" class="process-order">
                            <td>@item3.Process_Order_Number</td>
                            <td>@item3.Material_Number</td>
                            <td>@item3.Material_Description</td>
                            <td>@item3.Resource</td>
                            <td>@item3.Start_Date.ToString("MM/dd/yy")</td>
                            <td>@item3.End_Date.ToString("MM/dd/yy")</td>
                            <td>@item3.Po_Amt_Sched.ToString("#,##0") @item3.Uom</td>
                            @*Uncomment when MES_CONFIRMED starts populating*@
                            @*<td>@item3.MES_CONFIRMED.ToString("#,##0") @item3.UOM</td>*@
                            @*For testing only. Remove when MES_CONFIRMED starts populating*@
                            <td>@item3.Sap_Confirmed.ToString("#,##0") @item3.Uom</td>
                            @*End of testing*@
                            <td>@item3.Percent_Produced%</td>
                            <td>@item3.Po_Status_Descr</td>
                            @if (@item3.Production_Ready == "True")
                            {
                                <td>
                                    <img src="~/css/image/greenChksm.jpg" />
                                </td>
                            }
                            else
                            {
                                <td>
                                    <img src="~/css/image/redXsm.jpg" />
                                </td>
                            }
                            <td class="hidden">@item3.Active</td>
                            <td class="hidden">@item3.Spc</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
        @*@{
        foreach (var item3 in Model.Schedule)
        {*@
        @*<div class="modal fade" id="@item3.Process_Order_Number" style="padding-top:170px">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header bg-primary">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Where would you like to go?</h4>
                    </div>
                    <div class="modal-body">
                        <p>@Html.ActionLink("Run Sheets", "CheckExists", "RUNSHEETs", new { PO = item3.Process_Order_Number }, null)</p>
                        <p>@Html.ActionLink("Run Sheets Operator View", "Details", "RUNSHEETs", new { PO = item3.Process_Order_Number }, null)</p>
                        <p>@Html.ActionLink("Process Order Details", "ProcessOrderDetails", "Home", new { PO = item3.Process_Order_Number }, null)</p>
                        <p>@Html.ActionLink("X-Base Control Charts", "Xbase", "Home", new { desc = "Select...", tag = "NoTagExists", MN = item3.Material_Number, MD = item3.Material_Description, PO = item3.Process_Order_Number }, null)</p>
                        @if (item3.Po_Status_Descr == "ACTIVE" || item3.Po_Status_Descr == "CLOSED")
                        {
                            <p>@Html.ActionLink("Transition", "Transition", "Home", new { po = item3.Process_Order_Number, ext = item3.Resource }, null)</p>
                        }

                    </div>
                    <div class="modal-footer">
                            <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
                        </div>
                </div>
            </div>
        </div>*@
        @*}
        }*@

        @*<div class="modal fade collapse" id="modalPO" style="padding-top:170px">*@
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="margin-top:140px!important">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header bg-primary">
                        
                        <h4 class="modal-title">Where would you like to go?</h4>
                    </div>
                    <div class="modal-body">
                        <input id="processOrderNo" type="hidden" />
                        <button type="button" class="btn btn-link" id="warehouse" onclick="AddLink(document.getElementById('processOrderNo').value,'MaterialList','ProcessOrder')">Process Order Material Pick List</button>
                        <button type="button" class="btn btn-link" id="runsheet" onclick="AddLink(document.getElementById('processOrderNo').value, 'Create','RunSheet')">Runsheet</button>
                        @*<p>@Html.ActionLink("Run Sheets", "CheckExists", "RUNSHEETs", new { PO = item3.Process_Order_Number }, null)</p>
        <p>@Html.ActionLink("Run Sheets Operator View", "Details", "RUNSHEETs", new { PO = item3.Process_Order_Number }, null)</p>
        <p>@Html.ActionLink("Process Order Details", "ProcessOrderDetails", "Home", new { PO = item3.Process_Order_Number }, null)</p>
        <p>@Html.ActionLink("X-Base Control Charts", "Xbase", "Home", new { desc = "Select...", tag = "NoTagExists", MN = item3.Material_Number, MD = item3.Material_Description, PO = item3.Process_Order_Number }, null)</p>
        @if (item3.Po_Status_Descr == "ACTIVE" || item3.Po_Status_Descr == "CLOSED")
        {
            <p>@Html.ActionLink("Transition", "Transition", "Home", new { po = item3.Process_Order_Number, ext = item3.Resource }, null)</p>
        }*@

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <link rel="stylesheet" type="text/css" href="~/js/DataTables/DataTables-1.10.23/css/dataTables.bootstrap4.min.css" />
    <script type="text/javascript" src="~/js/DataTables/DataTables-1.10.23/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/js/DataTables/DataTables-1.10.23/js/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript" src="~/js/View/ProductionLanding.js" asp-append-version="true"></script>
}
