﻿@model dynamic
<partial name="_NavLinks" />
<div class="container-fluid">
    <div class="row mt-3">
        <div class="blue-card-screen">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <i class="fa fa-minus apm-expand-icon" id="label-btn-icon" data-toggle="collapse" data-target="#po-detail"></i>
                        <text id="POLabel-title">Process Order Details</text>
                    </div>
                    <div class="card-body collapse show" id="po-detail">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-12 col-md-6 col-lg-2">
                                    <div class="form-group">
                                        <span class="font-weight-bold">Process Order Number</span><br />
                                        @Model.Details.Process_Order_Number
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-2">
                                    <div class="form-group">
                                        <span class="font-weight-bold">
                                            Material # - Description
                                        </span><br />
                                        @Model.Details.Material_Description
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-1">
                                    <div class="form-group">
                                        <span class="font-weight-bold">
                                            Start Date
                                        </span><br>
                                        @Model.Details.Start_Date.ToString("MM/dd/yy")
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-1">
                                    <div class="form-group">
                                        <span class="font-weight-bold">
                                            End Date
                                        </span><br />
                                        @Model.Details.End_Date.ToString("MM/dd/yy")
                                    </div>
                                </div>

                                <div class="col-sm-12 col-md-6 col-lg-1">
                                    <div class="form-group">
                                        <span class="font-weight-bold">Resource</span><br />
                                        @Model.Details.Resource
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-1">
                                    <div class="form-group">
                                        <span class="font-weight-bold">Status</span><br />
                                        @Model.Details.Po_Status_Descr
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-2">
                                    <div class="form-group">
                                        <span class="font-weight-bold">
                                            Scheduled Amount
                                        </span><br />
                                        @Model.Details.Po_Amt_Sched.ToString("#,##0")
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-2">
                                    <div class="form-group">
                                        <span class="font-weight-bold">
                                            Production Amount
                                        </span><br>
                                        @Model.Details.Mes_Confirmed.ToString("#,##0")
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="apm-card-footer" id="PODetail-footer">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12">
            <ul class="nav nav-tabs col-6">
                <li class="nav-item">
                    <a href="#BOMTab" class="nav-link active" data-toggle="tab">Production Materials Required</a>
                </li>
                <li class="nav-item">
                    <a href="#AltBOMTab" class="nav-link" data-toggle="tab">Alt BOM</a>
                </li>
            </ul>
        </div>
    </div>  <div class="row mt-3">
        <div class="tab-content col-12">
            <div class="tab-pane fade show active " id="BOMTab">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <partial name="_BOMView" model="Model.BOM" />
                        </div>
                        <div class="col-md-6 col-sm-12 bg-light">
                            <input type="hidden" id="TotItems" /><div class="float-left"><h4>Mix Material</h4></div><div id="btnAddDrums" class="float-right collapse"><button class="btn apm-bg-blue-gradient pt-1 px-2" data-toggle="modal" data-target="#drumModal" id="btnAddMix">Add Mixture</button></div>
                            <table id="BlendList" class="table table-bordered table-hover table-sm collapse">
                                <thead>
                                    <tr>
                                        <th>Item</th>
                                        <th>Formular %</th>
                                        <th>Tumble %</th>
                                        <th>Weight</th>
                                    </tr>
                                </thead>
                                <tbody class="BlendListBody">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="AltBOMTab">
                <div class="col-12">
                    <h4>
                        Alt BOM Setup <button type="button" class="btn apm-bg-blue-gradient pt-1 px-2" title="Add Alt Raw Materials" data-toggle="modal" data-target="#altModal">Add Alt Raw Materials</button>
                    </h4>
                    <table id="tblScannedMaterials" class="table table-bordered table-hover table-sm" style="width:100%">
                        <tr class="blue-header">
                            <th>Material Number - Description</th>
                            <th>Amount</th>
                            <th>%</th>
                            <th></th>
                        </tr>


                        @{
                            var totalAlt = 1;
                            decimal totalAltAmount = 1;
                            decimal totalAltPercentage = 1;

                            foreach (var altItem in Model.AltBOM)
                            {
                                totalAltAmount += altItem.Subst_Qty;
                            }

                        }
                        @foreach (var alt in Model.AltBOM)
                        {
                            totalAlt += alt.Subst_Qty;
                            decimal altPercentage = Math.Round(((Convert.ToDecimal(alt.Subst_Qty) / Model.BOM.Total) * 100), 2);
                            totalAltPercentage += altPercentage;
                            <tr>
                                <td>@alt.Subst_Matl_Nbr - @alt.Sap_Descr_Simple</td>
                                <td>@alt.Subst_Qty.ToString("#,###.#0")</td>
                                <td>@altPercentage</td>
                                <td>
                                    @*<button class="btn btn-info" type="button" title="Edit" onclick="location.href='@Url.Action("Edit", "PO_ALTERNATE_BOM", new { id = alt.Po_Alt_Bom_Seq, totalAMT = totalAltAmount })'">Edit</button>
                                        <button class="btn btn-info" type="button" title="Delete" onclick="location.href='@Url.Action("Delete", "PO_ALTERNATE_BOM", new { id = alt.Po_Alt_Bom_Seq })'">Delete</button>*@
                                    <button type="button" class="btnUpdate btn btn-link pt-1 px-0" title="Update" data-id="@alt.Po_Alt_Bom_Seq" data-desc="@alt.Subst_Matl_Nbr - @alt.Sap_Descr_Simple"><i class="fas fa-edit fa-2x fa-blue"></i></button>
                                    <button type="button" class="btnDelete btn btn-link pt-1 px-0" title="Delete" data-id="@alt.Po_Alt_Bom_Seq"><i class="far fa-trash-alt fa-2x fa-blue"></i></button>
                                </td>
                            </tr>
                        }
                        <tr>
                            <td class="blue-header text-right">Total Required Production:</td>
                            <td class="blue-header text-center">@Model.BOM.Total.ToString("#,###.#0")</td>
                            <td class="blue-header text-center">@totalAltPercentage</td>
                            <td class="blue-header text-center"></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

       
        <!--<div class="col-lg-6 col-md-12 col-sm-12">
                    <h4>
                        Scanned Materials <button type="button" class="btn apm-bg-blue-gradient pt-1 px-2" title="Scan In Raw Materials" data-toggle="modal" data-target="#scanModal">Scan In Raw Materials</button>
                    </h4>
                    <table id="tblScannedMaterials" class="table table-bordered table-hover table-sm" style="width:100%">
                        <thead><tr>
            <th>Scanned Material Number - Description</th>
            <th>Actual Scanned LBS</th>
            <th>Feeder #</th>
            <th>User</th>
            <th>Date</th>
            <th></th>
        </tr>
                        </thead>
                            <tbody>-->
        @*@foreach (var raw in Model.RawMats)
            {
                decimal amount = 0;
                if (raw.RawMat.ENTERED_AMT > 0)
                {
                    amount = raw.RawMat.ENTERED_AMT;
                }
                else
                {
                    amount = raw.RawMat.SCANNED_AMT;
                }
                <tr>
                    <td class="whiteBG">@raw.RawMat.SAP_MATL_NBR - @raw.SAPM.SAP_DESCR_SIMPLE</td>
                    <td class="whiteBG" style="text-align:center">@amount</td>
                    <td class="whiteBG" style="text-align:center">@raw.RawMat.FEEDER_NO</td>
                    <td class="whiteBG" style="text-align:center">@raw.RawMat.SCANNED_BY</td>
                    <td class="whiteBG" style="text-align:center">@raw.RawMat.SCANNED_DATE_TIME</td>

                    <td>
                        <button class="btn btn-info" type="button" title="Scan Labels" onclick="location.href='@Url.Action("Edit", "RAW_MATERIAL_STAGING", new { id = raw.RawMat.RMS_ID })'">Edit</button>
                        <button class="btn btn-info" type="button" title="Scan Labels" onclick="location.href='@Url.Action("Delete", "RAW_MATERIAL_STAGING", new { id = raw.RawMat.RMS_ID })'">Delete</button>
                    </td>

                </tr>
            }*@
        <!--</tbody>
            </table>
        </div>-->
    </div>


    <div class="modal fade" id="altModal" tabindex="-1" role="dialog" aria-labelledby="altModalLabel" aria-hidden="true" style="margin-top:140px!important">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-header" id="modalTitle">Adding Alternate Materials</h4>
                </div>

                <div class="modal-body">
                    <form>
                        <div class="row">
                            <div class="col-sm-10">
                                <input type="hidden" id="Po_Alt_Bom_Seq" />
                                <label for="processOrderNumber">Process Order Number</label>
                                <input type="text" class="form-control" id="processOrderNumber" placeholder="" value="@Model.Details.Process_Order_Number" readonly>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-10">
                                <label for="sapMaterialList">Material Description</label>
                                <input type="text" id="matDesc" class="form-control col-12" data-provide="typeahead" autocomplete="off" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-10">
                                <label for="sapMaterialList">Material Number</label>
                                <input type="text" id="updateTypeAhead" class="form-control" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-10">
                                <label for="Amount">Material Amount</label>
                                <input type="text" class="form-control" id="materialAmt" />
                            </div>
                        </div>
                        @*<div class="row">
                                <div class="col-sm-10">
                                    <label for="Percent">Material Percent</label>
                                    <input type="text" class="form-control" id="materialPercent" />
                                    <input type="hidden" id="totalAmountAlt" value="@totalAltAmount" />
                                </div>
                            </div>*@
                    </form>
                </div>
                <div class="modal-footer">
                    <div id="feedback">
                        <div class="alert alert-success collapse" id="success-alert">
                            <strong>Success! </strong> Label has been saved.
                        </div>
                        <div class="alert alert-danger collapse" id="error-alert">
                            <strong>Success! </strong> Label has not been saved.
                        </div>
                    </div>
                    <button type="button" class="btn apm-bg-blue-gradient pt-1 px-2" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn apm-bg-blue-gradient pt-1 px-2" id="AltBOMSave">Save</button>
                    <button type="button" class="btn apm-bg-blue-gradient pt-1 px-2 collapse" id="AltBOMUpdate">Save</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="altModalDelete" tabindex="-1" role="dialog" aria-labelledby="altModalDelete" aria-hidden="true" style="margin-top:140px!important">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-header" id="modalTitle">Delete Alternate Materials</h4>
                </div>

                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <div id="feedback">
                        <div class="alert alert-success collapse" id="success-alertDelete">

                        </div>
                        <div class="alert alert-danger collapse" id="error-alertDelete">

                        </div>
                    </div>
                    @*<button type="button" class="btn apm-bg-blue-gradient pt-1 px-2" data-dismiss="modal">Cancel</button>*@

                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="matModal" tabindex="-1" role="dialog" aria-labelledby="scanModalLabel" aria-hidden="true" style="margin-top:140px!important">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="float-left"><h4>Material Pick List</h4></div><div class="float-right"><div id="matSelected"></div> <div id="matDescSelected" class="float-right"></div></div>

                </div>
                <div class="modal-body">
                    @*<div class="row">
                            <div class="col-12">
                                <div class="input-group input-group-sm mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroup-sizing-sm">Material Description</span>
                                    </div>
                                    <input type="text" class="form-control DescInput" aria-label="Small" aria-describedby="inputGroup-sizing-sm" id="matDescSelected">
                                </div>
                            </div>
                        </div>*@
                    <div class="row">
                        <div class="col-6">
                            <div class="input-group input-group-sm mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-sm">Material Required (KG)</span>
                                </div>
                                <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" id="matQty" readonly>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="input-group input-group-sm mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-sm">Material Scanned</span>
                                </div>
                                <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" id="matQtyScanned" readonly>
                            </div>
                        </div>
                    </div>
                    <input id="poPicked" type="hidden" />
                    <div class="row">
                        <div class="col-12">
                            <div class="input-group input-group-sm mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-sm">Scan Label</span>
                                </div>
                                <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" id="GetLabelsMat">
                            </div>
                        </div>
                    </div>
                    @*<div id="MatNumPick"></div>*@
                    <div class="row container-fluid scrollY">
                        <div class="col-12 pr-0 pl-0">
                            <table id="content" class="table table-bordered table-hover table-sm" width="100%">
                            </table>
                        </div>
                    </div>
                    @*<form id="MatScanned" class="collapse">

                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <label for="processOrderNumberScan">Process Order Number</label>
                                        <input type="text" class="form-control" id="processOrderNumberScan" placeholder="" value="@Model.Details.Process_Order_Number" readonly>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <label for="requiredMaterialNumber">Required Material Number</label>
                                        <input type="text" class="form-control" id="materialNumber" value="">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <label for="materialDescription">Ascend Material Description</label>
                                        <input type="text" class="form-control" id="materialDescription" value="">
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <label for="scannedMaterial">Scanned Materials</label>
                                        <input type="text" class="form-control" id="scannedMaterials" placeholder="">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <label for="scannedPounds">Scanned Pounds</label>
                                        <input type="text" class="form-control" id="scannedPounds" placeholder="">
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <label for="feeder">Feeder #</label>
                                        <input type="text" class="form-control" id="FeederRaw" placeholder="">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <label for="enteredPounds">Otherwise Entered (lbs).</label>
                                        <input type="text" class="form-control" id="enteredPounds" placeholder="" />
                                    </div>
                                </div>
                            </div>
                        </form>*@

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" id="RawMatSave">Save</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="drumModal" tabindex="-1" role="dialog" aria-labelledby="drumModal" aria-hidden="true" style="margin-top:140px!important">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="float-left"><h4>Add Mixture Info</h4></div><div class="float-right"><div id="matSelected"></div> <div id="matDescSelected" class="float-right"></div></div>

                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-6">
                            <div class="input-group input-group-sm mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-sm">Mix #</span>
                                </div>
                                <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" id="mNo" >
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="input-group input-group-sm mb-3">
                              
                            </div>
                        </div>
                    </div>                 

                    <div class="row" id="mixDetail">                      
                    </div>                                
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" id="SaveMixture">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/js/View/TypeAhead.js" asp-append-version="true"></script>
    <script src="~/js/View/ProcessOrder.js" asp-append-version="true"></script>
}