﻿/*Datatable Child Record Style*/
td.details-control {
    background: url('../image/close.png') no-repeat left center;
    cursor: pointer;
    padding-left: 25px;
}

tr.shown td.details-control {
    background: url('../image/open.png') no-repeat left center;
    padding-left: 25px;
}

.internal {
    background-color: #c1ade5 !important;
}

