@font-face {
  font-family: "Neue Helvetica W01";
  src: url("./Neue Helvetica W01/Neue_Helvetica_W01.woff2");
}

@font-face {
  font-family: "Neue Helvetica W01 Light";
  src: url("./Neue Helvetica W01/Neue_Helvetica_W01_Light.woff2");
}
