﻿@{
    ViewData["Title"] = "Where would you like to go?";
}
<br />
<br />
<div class="apm-landing">
    <div class="apm-card-blue" onclick="location.href='@Url.Action("Index", "ProcessOrder")';return false;">
        <h6><strong>Production</strong></h6>
        <p>View production information including production rates and amounts, Process Order Production and Raw Material Consumption tables, and byproduct data or transition a process order. </p>
        <br />
        <button class="btn btn-block" onclick="location.href='@Url.Action("Index", "ProcessOrder")';return false;">Continue</button><br />Under construction
    </div>
    <div class="apm-card-orange">
        <h6>Raw Materials</h6>
        <p style="margin-bottom: 0rem;">View incoming Raw Material Receiving information including PO, shipment, and delivery numbers, expected delivery dates, supplier details, and number of units and quantity to be received at Ascend Performance Materials.</p>
       
        <br />
        <button class="btn btn-block" onclick="location.href='@Url.Action("STO", "InboundRawMaterials")';return false;">Go to STO!</button>
        <button class="btn btn-block" onclick="location.href='@Url.Action("Index", "InboundRawMaterials")'">Go to Purchase Order!</button>
    </div>
</div>