﻿@model WebApp.ViewModels.RawMaterialViewModel
@{ 
    string totalscanneddisplay = (Model.Ibr.Too.ToLower() != "im" && Model.Ibr.FRM.ToLower() != "im") ? "table-cell" : "none";
}
<div class="row mt-3">
    <div class="col-lg-6 col-sm-12">

        @if (Model.Ibr.Document_Type == "P")
        {
            @if (Model.Ibr.Too != "WM")
            {
                <h4>@Html.Label("Total Amount Received") &nbsp;  @string.Format("{0:#,0.000}", @Model.PoLablesAmount.ToString("00.000")) &nbsp;@Html.DisplayFor(model => model.Ibr.Uom) &nbsp;@Html.Label("of")&nbsp;@string.Format("{0:#,0.000}", Model.Ibr.Quantity)&nbsp;@Html.DisplayFor(model => model.Ibr.Uom)</h4>

                @*<h4>Total Quantity Received@Model.TotalReceived.ToString("00.000") (@Model.Ibr.Uom)</h4>*@
            }
            else
            {
                <h4>@Html.Label("Total Amount Received") &nbsp;  @string.Format("{0:#,0.000}", @Model.ScannedAmount.ToString("00.000")) &nbsp;@Html.DisplayFor(model => model.Ibr.Uom) &nbsp;@Html.Label("of")&nbsp;@string.Format("{0:#,0.000}", Model.Ibr.Quantity)&nbsp;@Html.DisplayFor(model => model.Ibr.Uom)</h4>
            }

        }

    </div>
    <div class="col-lg-6 col-sm-12">
        <div class="float-lg-right">
            <div class="form-check-inline">
                <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" value="Pallet" id="pallet" name="type"><b>Pallet Labels</b>
                </label>
            </div>
            <div class="form-check-inline">
                <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" value="Bag" id="bag" name="type"><b>Bag Labels</b>
                </label>
            </div>
            <div class="form-check-inline">
                <button id="selectReprint" class="btn apm-bg-blue-gradient">Print Labels</button>
            </div>
        </div>
    </div>

</div>

<div class="apm-table-blue">
    <table id="labelListing" class="table table-bordered table-hover table-sm selectAllRow" style="width:100%">
        <thead>
            <tr class="select-checkbox">
                <th class="text-center"><input type="checkbox" class="selectAll" /></th>
                <th class="searchable">
                    @*@Html.Label("Storage Unit Number")*@
                    Storage Unit Number
                </th>
                <th class="searchable">
                    Container Weight (@Model.Ibr.Uom)
                </th>
                <th class="searchable">
                    Total Bags
                </th>
                <th class="searchable">
                    Vendor Batch
                </th>
                <th class="searchable">
                    Ascend Batch
                </th>
                <th class="searchable">
                    Received Date
                </th>
                <th class="searchable">
                    Print Date
                </th>
                @*@if (Model.Ibr.FRM.ToLower() != "im" && Model.Ibr.Too.ToLower() != "im")
        {*@
                <th class="searchable" style="display:@totalscanneddisplay">
                    Scan Date
                </th>
                @*  }*@
                <th class="searchable">
                    SAP Sent Date
                </th>
                <th class="noprint" style="display:none"></th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            <tr style="display:none;" class="no-sort">
                <td></td>
                <td>@Html.DisplayNameFor(model => model.Ibr.Document_Nbr) : @Html.DisplayFor(model => model.Ibr.Document_Nbr)</td>
                <td>@Html.DisplayNameFor(model => model.Ibr.Delivery_No) : @Html.DisplayFor(model => model.Ibr.Delivery_No)</td>
                <td>@Html.DisplayNameFor(model => model.Ibr.Matl_Nbr) : @Html.DisplayFor(model => model.Ibr.Matl_Nbr)</td>
                <td>@Html.DisplayNameFor(model => model.Ibr.Item_Nbr) : @Html.DisplayFor(model => model.Ibr.Item_Nbr)</td>
                <td>@Html.DisplayNameFor(model => model.Ibr.Sap_Matl_Descr) : @Html.DisplayFor(model => model.Ibr.Sap_Matl_Descr)</td>
                <td>@Html.DisplayNameFor(model => model.Ibr.Supplier_Name) : @Html.DisplayFor(model => model.Ibr.Supplier_Name)</td>
                <td>@Html.DisplayNameFor(model => model.Ibr.Quantity) : @Html.DisplayFor(model => model.Ibr.Quantity)</td>
                <td>@Html.DisplayNameFor(model => model.Ibr.Storage_Location) : @Html.DisplayFor(model => model.Ibr.Storage_Location)</td>
                <td>@Html.DisplayNameFor(model => model.Ibr.Sap_Matl_Type) : @Html.DisplayFor(model => model.Ibr.Sap_Matl_Type)</td>
                <td></td>
                <td></td>
            </tr>
            <tr style="display:none;" class="no-sort">
                <th></th>
                <th>
                    Label ID
                </th>
                <th>
                    Pallet Weight (@Model.Ibr.Uom)
                </th>
                <th>
                    Total Bags
                </th>
                <th>
                    Vendor Batch
                </th>
                <th>
                    Ascend Batch
                </th>
                <th>
                    Received Date
                </th>
                <th>
                    Print Date
                </th>
                @*@if (Model.Ibr.FRM.ToLower() != "im" && Model.Ibr.Too.ToLower() != "im")
        {*@
                <th style="display:@totalscanneddisplay">
                    Scan Date
                </th>
                @*  }*@
                <th>
                    SAP Sent Date
                </th>
                <th class="noprint"></th>
                <th></th>
            </tr>

            @foreach (var item in Model.Polabels)
            {
                bool disabled = false;
                string cls = "";
                if (item.Label_Scan_Date != null)
                {
                    disabled = true;
                }

                if (item.Sent_Sap_Date != null)
                {

                    cls = " class=apm-bg-jade-gradient ";
                }

        <tr @cls>
            <td class="bg"></td>
            <td class="details-control" onclick="expa">
                @item.Label_Id
            </td>
            <td>
                @string.Format("{0:#,0.000}", item.Amt_Received) @item.Uom
            </td>
            <td>
                @item.Tot_Bag_No
            </td>
            <td>
                @item.Vendor_Batch
            </td>
            <td>@item.Batch_Id</td>
            <td>
                @item.Product_Received_Date.ToShortDateString()
            </td>
            <td>
                @item.Label_Print_Date?.ToShortDateString()
            </td>
            @*@if (Model.Ibr.FRM.ToLower() != "im" && Model.Ibr.Too.ToLower() != "im")
            {*@
        <td style="display:@totalscanneddisplay">
            @item.Label_Scan_Date
        </td>
            @*}*@
                <td>
                    @item.Sent_Sap_Date?.ToShortDateString()
                </td>
                <td class="noprint" style="display:none">@item.LineItems</td>
                <td>
                    <button type="button" class="btnUpdate btn btn-link d-sm-block d-xl-inline-block py-sm-2 pt-xl-1 px-xl-1" title="Update" data-id="@item.Pol_Seq" disabled="@disabled"><i class="fas fa-edit fa-2x fa-blue"></i></button>
                    <button type="button" class="btnDelete btn btn-link d-sm-block d-xl-inline-block py-sm-2 pt-xl-1 px-xl-1" title="Delete" data-id="@item.Pol_Seq" disabled="@disabled"><i class="far fa-trash-alt fa-2x fa-blue"></i></button>
                    <button type="button" class="btnReprint btn btn-link d-sm-block d-xl-inline-block py-sm-2 pt-xl-1 px-xl-1" title="Reprint" data-id="@item.Pol_Seq"><i class="fas fa-tags fa-2x fa-blue"></i></button>
                </td>
            </tr>
            }
        </tbody>
    </table>


</div>
