﻿@model DataLibrary.Models.RawMaterialDetailModel
@if (Model != null)
{
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-2">
            <div class="form-group">
                <span class="font-weight-bold">@Html.DisplayNameFor(model => model.Document_Nbr)</span><br />
                @Html.DisplayFor(model => model.Document_Nbr) <input type="hidden" id="PONum" value="@Model.Document_Nbr" />
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-2">
            <div class="form-group">
                <span class="font-weight-bold">
                    @Html.DisplayNameFor(model => model.Item_Nbr)
                </span><br />
                @Html.DisplayFor(model => model.Item_Nbr)
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-2">
            <div class="form-group">
                <span class="font-weight-bold">
                    @Html.DisplayNameFor(model => model.Matl_Nbr)
                </span><br>
                @Html.DisplayFor(model => model.Matl_Nbr) <input type="hidden" id="MatNo" value="@Model.Matl_Nbr" />
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-2">
            <div class="form-group">
                <span class="font-weight-bold">
                    @Html.DisplayNameFor(model => model.Sap_Matl_Descr)
                </span><br />
                @Html.DisplayFor(model => model.Sap_Matl_Descr)
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-2">
            <div class="form-group">
                <span class="font-weight-bold">
                    @Html.DisplayNameFor(model => model.Supplier_Name)
                </span><br />
                @Html.DisplayFor(model => model.Supplier_Name)
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-2">
            <div class="form-group">
                <span class="font-weight-bold">@Html.DisplayNameFor(model => model.Quantity)</span><br />
                @Model.Quantity.ToString("00.000") @Model.Uom
                @*@Html.DisplayFor(model => model.Quantity.ToString("00.000")) (@Html.DisplayFor(model => model.Uom))*@
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-2">
            <div class="form-group">
                <span class="font-weight-bold">@Html.DisplayNameFor(model => model.Storage_Location)</span><br />
                @Html.DisplayFor(model => model.Storage_Location)
            </div>
        </div>
        @*<div class="col-sm-12 col-md-6 col-lg-2">
            <div class="form-group">
                <span class="font-weight-bold">@Html.DisplayNameFor(model => model.Delivery_No)</span><br />
                @Html.DisplayFor(model => model.Delivery_No)
            </div>
        </div>*@
        <div class="col-sm-12 col-md-6 col-lg-2">
            <div class="form-group">
                <span class="font-weight-bold">@Html.DisplayNameFor(model => model.Sap_Matl_Type)</span><br />
                @Html.DisplayFor(model => model.Sap_Matl_Type)
            </div>
        </div>
    </div>
}
