﻿@{
    ViewBag.Title = "Global Scan";
}
<partial name="_NavLinks" />
<div class="container-fluid pb-3">
    <br /><br />
   
    <div class="row mt-3">
        <div class="blue-card-screen ">
            <div class="col-sm-12">
                <!--Label Creation Form -->
             
                    <div class="card">
                        <div class="card-header">
                           
                            <text id="POLabel-title">Scan Label</text>
                            
                        </div>
                        <div class="card-body collapse show" id="label-detail">
                            <div class="container-fluid">
                                <div class="row m-3"><div class="col-4 offset-5">
    <input id="LabelScanGlobal" placeholder="Please put your mouse to the textbox." class="form-control w-100" />
</div>
                                </div> 

                            </div>
                            <div class="apm-card-footer" id="POLabel-footer">
                                <div class="container-fluid">
                                    <div class="alert alert-success collapse" id="alertMsg">
                                        Success! The label was updated.
                                    </div>
                                    <div class="alert alert-danger collapse" id="alertMsgError">
                                        Error! The label was not updated.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
              
                <!--Label Creation Form -->
            </div>
        </div>
    </div>
    

  
</div>
    @section Scripts {
        <script src="~/js/View/ScannerScript.js" asp-append-version="true"></script>
    }
