﻿@model WebApp.ViewModels.RawMaterialViewModel

<div class="row mt-3">
    <div class="col-lg-6 col-sm-12">
        <h4>Total Received: &nbsp; @Html.DisplayFor(model => model.PoLablesAmount)&nbsp;@Html.DisplayFor(model => model.Ibr.Uom) </h4>
    </div>

</div>

<div class="apm-table-blue">
    <table id="packagingMaterialListing" class="table table-bordered table-hover table-sm selectAllRow" style="width:100%">
        <thead>
            <tr class="select-checkbox">
                <th class="text-center"><input type="checkbox" class="selectAll" /></th>
                <th class="searchable">
                    Storage Unit No
                </th>
                <th class="searchable">
                    Pallet Weight (@Model.Ibr.Uom)
                </th>
                <th class="searchable">
                    Received Date
                </th>
                <th class="searchable">
                    SAP Sent Date
                </th>
                <th style="display:none;"></th>
                <th style="display:none;"></th>
                <th style="display:none;"></th>
                <th style="display:none;"></th>
                <th style="display:none;"></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr style="display:none;" class="no-sort">
                <td></td>
                <td>@Html.DisplayNameFor(model => model.Ibr.Document_Nbr) : @Html.DisplayFor(model => model.Ibr.Document_Nbr)</td>
                <td>@Html.DisplayNameFor(model => model.Ibr.Item_Nbr) : @Html.DisplayFor(model => model.Ibr.Item_Nbr)</td>
                <td>@Html.DisplayNameFor(model => model.Ibr.Matl_Nbr) : @Html.DisplayFor(model => model.Ibr.Matl_Nbr)</td>
                <td>@Html.DisplayNameFor(model => model.Ibr.Sap_Matl_Descr) : @Html.DisplayFor(model => model.Ibr.Sap_Matl_Descr)</td>
                <td>@Html.DisplayNameFor(model => model.Ibr.Supplier_Name) : @Html.DisplayFor(model => model.Ibr.Supplier_Name)</td>
                <td>@Html.DisplayNameFor(model => model.Ibr.Quantity) : @Html.DisplayFor(model => model.Ibr.Quantity)</td>
                <td>@Html.DisplayNameFor(model => model.Ibr.Storage_Location) : @Html.DisplayFor(model => model.Ibr.Storage_Location)</td>
                <td>@Html.DisplayNameFor(model => model.Ibr.Delivery_No) : @Html.DisplayFor(model => model.Ibr.Delivery_No)</td>
                <td>@Html.DisplayNameFor(model => model.Ibr.Sap_Matl_Type) : @Html.DisplayFor(model => model.Ibr.Sap_Matl_Type)</td>
                <td></td>
            </tr>
            <tr style="display:none;" class="no-sort">
                <th></th>
                <td>
                    Storage Unit No
                </td>
                <td>
                    Pallet Weight (@Model.Ibr.Uom)
                </td>
                <td>
                    Received Date
                </td>
                <td>
                    SAP Sent Date
                </td>
                <td style="display:none;"></td>
                <td style="display:none;"></td>
                <td style="display:none;"></td>
                <td style="display:none;"></td>
                <td style="display:none;"></td>
                <td></td>
            </tr>

            @foreach (var item in Model.Polabels)
            {
                bool disabled = false;
                if (item.Label_Scan_Date != null)
                {
                    disabled = true;
                }
                string cls = "";
                if (item.Sent_Sap_Date != null)
                {
                    cls = " class=apm-bg-jade-gradient ";
                }
                <tr @cls>
                    <td class="bg"></td>
                    <td class="details-control">
                        @item.Label_Id
                    </td>
                    <td>
                        @string.Format("{0:#,0.000}", item.Amt_Received) @item.Uom
                    </td>

                    <td>
                        @item.Product_Received_Date.ToShortDateString()
                    </td>

                    <td>
                        @item.Sent_Sap_Date?.ToShortDateString()
                    </td>
                    <td style="display:none;"></td>
                    <td style="display:none;"></td>
                    <td style="display:none;"></td>
                    <td style="display:none;"></td>
                    <td style="display:none;"></td>
                    <td>
                        <button type="button" class="btnUpdate btn btn-link d-sm-block d-xl-inline-block py-sm-2 pt-xl-1 px-xl-1" title="Update" data-id="@item.Pol_Seq" disabled="@disabled"><i class="fas fa-edit fa-2x fa-blue"></i></button>
                        <button type="button" class="btnDelete btn btn-link d-sm-block d-xl-inline-block py-sm-2 pt-xl-1 px-xl-1" title="Delete" data-id="@item.Pol_Seq" disabled="@disabled"><i class="far fa-trash-alt fa-2x fa-blue"></i></button>
                        <button type="button" class="btnReprint btn btn-link d-sm-block d-xl-inline-block py-sm-2 pt-xl-1 px-xl-1" title="Reprint" data-id="@item.Pol_Seq"><i class="fas fa-tags fa-2x fa-blue"></i></button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

