﻿@model WebApp.ViewModels.InternalSTOViewModel

@{
    @using System.Linq;
    @using DataLibrary.Models;
    ViewBag.Title = "Stock Transfer Order";

    var packaging = Model.PackingMaterial ? "Yes" : "No";
    string Labels_CSV = ViewData["Labels_CSV"].ToString();
    string Labels_CSV_ALL = ViewData["Labels_CSV_ALL"].ToString();
    List<STODeliveryDetailsModel> Item_Nbr_Container = new List<STODeliveryDetailsModel>();
    Item_Nbr_Container = (List<STODeliveryDetailsModel>)ViewData["Item_Nbr_Container"];
    string totalscanneddisplay = (Model.Ibr.Too.ToLower() != "im" && Model.Ibr.FRM.ToLower() != "im") ? "block" : "none";
}
<script>
    function labelscanchange() {
        var sl = $('#LabelScanSTO').val().replace(/,/g, "").replace(/ /g, "").replace(" ", "");
        sl = sl.match(/.{1,9}/g).join(',');
        $('#LabelScanSTO').val(sl);
        console.log($('#LabelScanSTO').val());
    }

    function ScanExternalSTO(scandata) {
        console.log(scandata);
        //$("#stoModal").modal('show');
        var StorageUnitNumberMultiple = scandata.split(",");
        var ItemNo = $('#Item_Nbr').val();
        var DeliveryNo = $('#DeliveryNo').val();
        var DocNum = $('#DocNum').val();
        var mtldetail = $("#Item_Nbr option:selected").text().split("/");
        var ItemID = mtldetail[0];

        if (StorageUnitNumberMultiple.length > 0) {
            $("#labelModalSpinner").show();
            $.ajax({
                type: "POST",
                url: "/RawMaterial/SearchForStorageUnitMultiple",
                data: { StorageUnitNumberMultiple, DeliveryNo, ItemNo, DocNum, ItemID },
                dataType: "json",
                error: function () {
                    showErrorMessage("The serial number is not found.");
                    setTimeout(function () { $("#stoModal").modal('hide'); location.reload(); }, 3000);
                    document.getElementById("scanSTO").value = "";
                },
                success: function (data) {
                    $("#labelModalSpinner").hide();
                    if (data > 0) {
                        showSuccessMessage("Received!");
                        setTimeout(function () { $("#stoModal").modal('hide'); location.reload(); }, 3000);
                        //data.UnitNumber
                        //data.MaterialId
                        //data.BatchId
                        //data.NetQuantity
                        //data.UnitOfMeasure
                    }
                    else {
                        showErrorMessage("The Lable ID :" + StorageUnitNumberMultiple + " is not found.");
                        setTimeout(function () { $("#stoModal").modal('hide'); location.reload(); }, 3000);
                    }

                    document.getElementById("scanSTO").value = "";
                }
            });
        }
        else {
            $("#alertMsgError").html("Please scan your label.");
            $("#alertMsgError").show();
            $("#alertMsgError").fadeTo(3000, 2000).slideUp(1000, function () {
                $("#alertMsgError").slideUp(1000);
            });

        }

    }

    function ScanningSTONew() {
        var scandata = $("#LabelScanSTO").val();
        console.log($("#DeliveryNo").val());
        var lblsarr_All = ($('#Labels_CSV_ALL').val() + ',' + $('#Labels_CSV').val() + ',' + $('#DeliveryNo').val()).split(",");
        console.log($("#LabelScanSTO").val());
        var mtldetail = ($("#LabelScanSTO").val() + ",").split(",");
        var serialNumber = [];
        var notfoundLabels = "";
        for (var i = 0; i < mtldetail.length; i++) {
            if (mtldetail[i] != null && mtldetail[i] != "")
                serialNumber.push(mtldetail[i]);
            var found = 0;
            for (var j = 0; j < lblsarr_All.length; j++) {
                if (lblsarr_All[j] == mtldetail[i] && lblsarr_All[j] != '')
                    found = 1;
            }
            if (found == 0)
                notfoundLabels = notfoundLabels + mtldetail[i];
        }

        //if (notfoundLabels != "") {
        //    alert("Labels not valid : " + notfoundLabels);
        //}


        //var serialNumber = $('#scanSTO').val();
        //serialNumber.replace(/[\n\r]+/g, '');
        //serialNumber.replace(/\s{2,10}/g, ' ');
        //if ($('#LabelScanSTO').val() != "" && notfoundLabels == "") {
        if ($('#LabelScanSTO').val() != "") {
            $("#labelModal").modal('show');
            $('#modalTitle1').html("Scan Label ...");
            $("#labelModalSpinner").show();
            $.ajax({
                type: "POST",
                url: "/RawMaterial/STOScan",
                data: { serialNumber },
                dataType: "json",
                error: function () {
                    showErrorMessage("The serial number is not found.");
                    setTimeout(function () { $("#labelModal").modal('hide'); location.reload(); }, 3000);
                    //document.getElementById("LabelScanSTO").value = "";
                },
                success: function (data) {
                    $("#labelModalSpinner").hide();
                    if (data.success) {
                        showSuccessMessage("Received!");
                        setTimeout(function () { $("#labelModal").modal('hide'); location.reload(); }, 3000);
                    }
                    else {
                        //showErrorMessage("The Label ID :" + $('#LabelScanSTO').val() + " is not found.");
                        ScanExternalSTO(scandata);
                        //setTimeout(function () { $("#labelModal").modal('hide'); location.reload(); }, 3000);
                    }

                    //document.getElementById("LabelScanSTO").value = "";
                }
            });
        }
        else {
            $("#alertMsgError").html("Please scan your label.");
            $("#alertMsgError").show();
            $("#alertMsgError").fadeTo(3000, 2000).slideUp(1000, function () {
                $("#alertMsgError").slideUp(1000);
            });
        }
        $('#ScanButtonContainer').html('');
        $('#delRec1').html('');
    }
</script>

<div class="" id="STOScanner" style="float: right;">
    <div class="apm-icon-home">
        <a id="ExportExcelSTO"><i class="fas fa-download apm-icon"></i><span>Download Excel</span></a>
    </div>
</div>
<div class="" id="STOScanner" style="float: right;">
    <div class="apm-icon-home">
        <a id="scanSTO"><i class="fas fa-barcode apm-icon"></i><span>Scan Label</span></a>
    </div>
</div>

<partial name="_NavLinks" />

<br />
<br />
<br />
<main class="apm-main">
    <br />
    <div class="row">
        <div class="col-md-12">
            <h2>
                <center style="color:red;">
                    Material is comming from @Model.Ibr.FRM and shipping to @Model.Ibr.Too
                </center>
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-4 apm-pagenav">
            @*<input id="DocNum" value="@Model.Ibr.Ib_Raw_Mtls_Id" type="hidden" />*@

            <input id="DocNum" value="@Model.Ibr.Document_Nbr" type="hidden" />
            <input id="TotQty" value="@Model.Ibr.Quantity" type="hidden" />
            <input id="DeliveryNo" value="@Model.Ibr.Delivery_No" type="hidden" />
            <input id="PackagingMaterial" value="@packaging" type="hidden" />
            <input id="frm_value" value="@Model.Ibr.FRM" type="hidden" />
            <input id="too_value" value="@Model.Ibr.Too" type="hidden" />
            

            <input id="StOuom" value="@Model.Ibr.Uom" type="hidden" />
            <input id="StoItemNbr" value="@Model.Ibr.Item_Nbr" type="hidden" />
            <input type="hidden" id="Source_Plant" value="@Model.Ibr.Supplier_Nbr" />
            @*<input type="hidden" id="Delivery_Nbr" value="@Model.Ibr.Delivery_No" />*@
            <input type="hidden" id="Matl_Nbr" value="@Model.Ibr.Matl_Nbr" />
            <input type="hidden" id="PackingMaterial" value="@Model.PackingMaterial" />
            <input id="Labels_CSV" value="@Labels_CSV" hidden="hidden" />
            <input id="Labels_CSV_ALL" value="@Labels_CSV_ALL" hidden="hidden" />
            <input id="POSupplierNo" value="@Model.Ibr.Supplier_Nbr" type="hidden" />
        </div>
        <div class="col-4">
            <div class="alert alert-info collapse" id="alertMsg">
                <div id="sMsg"></div>
            </div>
        </div>

        <div class="modal fade" id="YesNoAlert" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true" style="margin-top:140px!important">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-header" id="modalTitle">
                            Confirm Sending To SAP
                        </h4>
                    </div>

                    <div class="modal-body">
                        <div id="updateLabelHtmlSAP" class="">
                            @if (Model.Ibr.FRM != "WM")
                            {
                                @if (Convert.ToInt32(Model.TotalScanned) > Convert.ToInt32(Model.ExpectedQty))
                                {
                                    <h4 style="color:red">
                                        Receiving of <span id="scannedamount">@Model.TotalScanned.ToString("00.000") (@Model.Ibr.Uom)</span> against expected <span id="expectedamount">@Model.ExpectedQty.ToString("00.000") (@Model.Ibr.Uom)</span> amount
                                        Which is Exceeded, Unable to sand to SAP
                                    </h4>
                                }
                                else
                                {
                                    <h4>
                                        Receiving of <span id="scannedamount">@Model.TotalScanned.ToString("00.000") (@Model.Ibr.Uom)</span> against expected <span id="expectedamount">@Model.ExpectedQty.ToString("00.000") (@Model.Ibr.Uom)</span> amount
                                    </h4>
                                }
                            }
                            else
                            {
                                @if (Convert.ToInt32(Model.TotalReceived) > Convert.ToInt32(Model.ExpectedQty))
                                {
                                    <h4 style="color:red">
                                        Receiving of <span id="scannedamount">@Model.TotalReceived.ToString("00.000") (@Model.Ibr.Uom)</span> against expected <span id="expectedamount">@Model.ExpectedQty.ToString("00.000") (@Model.Ibr.Uom)</span> amount
                                        Which is Exceeded, Unable to sand to SAP
                                    </h4>
                                }
                                else
                                {
                                    <h4>
                                        Receiving of <span id="scannedamount">@Model.TotalReceived.ToString("00.000") (@Model.Ibr.Uom)</span> against expected <span id="expectedamount">@Model.ExpectedQty.ToString("00.000") (@Model.Ibr.Uom)</span> amount
                                    </h4>
                                }
                            }


                        </div>
                        <div id="delRec"></div>
                        <div id="labelModalSpinner3" class="text-center collapse">
                            <div class="spinner-border mt-3" role="status" style="width:3rem;height:3rem;">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer" style="display:block;">
                        <div id="feedback" class="float-left">
                            <div class="alert alert-success collapse" id="success-alert3">
                                <strong>Success! </strong> Label has been saved.
                            </div>
                            <div class="alert alert-danger collapse" id="error-alert3">
                                <strong>Success! </strong> Label has not been saved.
                            </div>
                        </div>
                        <input type="hidden" id="seq" />
                        <div class="float-right col-sm-3">
                            <button id="sendsapcancel" class="btn apm-bg-blue-gradient float-right" onclick="$('#YesNoAlert').modal('hide');">Cancel</button>
                            @if (Convert.ToInt32(Model.TotalScanned) <= Convert.ToInt32(Model.ExpectedQty))
                            {
                                <button id="STOReportToSAP" class="btn apm-bg-jade-gradient float-right" style="margin-right:10px;" disabled="@(Model.sto!=null?false:true)">Yes</button>
                            }
                            @*<button type="button" class="btn apm-bg-blue-gradient" data-dismiss="modal" id="cancelModal">Close</button>*@
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="row mt-3">

        <div class="blue-card-screen ">
            <div class="col-sm-12">
                @using (Html.BeginForm("Create", "RawMaterial", FormMethod.Post, new { id = "NewSTOForm" }))
                {
                    <div class="card">

                        <div class="card-header">
                            <table style="width: 100%; background: linear-gradient( 360deg, #003c71 10%, #00b9bd 360%) !important;">
                                <tr>
                                    <td style="width: 33%; background: linear-gradient( 360deg, #003c71 10%, #00b9bd 360%) !important;">
                                        <i class="fa fa-minus apm-expand-icon" id="label-btn-icon" data-toggle="collapse" data-target="#label-detail"></i>
                                    </td>
                                    <td style="width: 33%; background: linear-gradient( 360deg, #003c71 10%, #00b9bd 360%) !important;">
                                        <text id="POLabel-title">Stock Transfer Order </text>
                                    </td>
                                    <td style="width: 33%; background: linear-gradient( 360deg, #003c71 10%, #00b9bd 360%) !important;">
                                        <button type="button" id="startSendSAP" class="btn apm-bg-jade-gradient pt-1 px-2 float-right" style="margin-right:-20px;" onclick="$('#YesNoAlert').modal('show');$('.modal-backdrop').hide();" disabled="@(((Model.sto!=null && Model.sto.Count>0) || (Model.stoOld!=null && Model.stoOld.Count>0)) && !Model.notScanned?false:true)">Report to SAP</button>
                                        @if (Model.Ibr.FRM != "WM" && !Model.PackingMaterial && ((Model.PackingMaterial != true && Model.TotalScanned < Model.ExpectedQty) || (Model.PackingMaterial != false && Model.TotalReceived < Model.ExpectedQty)))
                                        {
                                            if (Item_Nbr_Container.FindAll(x => x.ValidBatchID == false).Count > 0)
                                            {
                                                @if (string.IsNullOrEmpty(@Model.sentSAPDate.ToString()))
                                                {
                                                    <button type="submit" class="btn apm-bg-jade-gradient pt-1 px-2 float-right" id="STO-save-btn" style="margin-right:10px!important;">
                                                        Save Receiving
                                                    </button>
                                                }
                                            }
                                        }
                                        @*<button id="STOReportToSAP" class="btn apm-bg-jade-gradient pt-1 px-2 float-right" disabled="@(Model.sto!=null?false:true)">Report to SAP</button>*@

                                        @if (!string.IsNullOrEmpty(@Model.sentSAPDate.ToString()))
                                        {
                                            <div class="text-danger small mt-1 float-right mr-3">Last sent @Model.sentSAPDate</div>
                                        }
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="card-body collapse show" id="label-detail1">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-sm-12 col-md-6 col-lg-1">
                                        <div class="form-group">
                                            <span class="font-weight-bold">@Html.DisplayNameFor(model => model.Ibr.Document_Nbr)</span><br />
                                            @Html.DisplayFor(model => model.Ibr.Document_Nbr) <input type="hidden" id="PONum" value="@Model.Ibr.Document_Nbr" />
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6 col-lg-1">
                                        <div class="form-group">
                                            <span class="font-weight-bold">Item No.</span><br />
                                            @Html.DisplayFor(model => model.Ibr.Item_Nbr) <input type="hidden" value="@Model.Ibr.Item_Nbr" />
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6 col-lg-2">
                                        <div class="form-group">
                                            <span class="font-weight-bold">@Html.DisplayNameFor(model => model.Ibr.Delivery_No)</span><br />
                                            @Html.DisplayFor(model => model.Ibr.Delivery_No)
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6 col-lg-2">
                                        <div class="form-group">
                                            <span class="font-weight-bold">@Html.DisplayNameFor(model => model.Ibr.Storage_Location)</span><br />
                                            @Html.DisplayFor(model => model.Ibr.Storage_Location)
                                        </div>
                                    </div>

                                    <div class="col-sm-12 col-md-6 col-lg-2">
                                        <div class="form-group">
                                            <span class="font-weight-bold">
                                                @Html.DisplayNameFor(model => model.Ibr.Supplier_Name)
                                            </span><br />
                                            @Html.DisplayFor(model => model.Ibr.Supplier_Name)
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6 col-lg-1">
                                        <div class="form-group">
                                            <span class="font-weight-bold">Quantity</span><br />
                                            @Model.ExpectedQty.ToString("00.000") (@Html.DisplayFor(model => model.Ibr.Uom))
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6 col-lg-1">
                                        <div class="form-group">
                                            <span class="font-weight-bold">UOM</span><br />
                                            @Html.DisplayFor(model => model.Ibr.Uom)
                                        </div>
                                    </div>

                                    <div class="col-sm-12 col-md-6 col-lg-2">
                                        <div class="form-group">
                                            <span class="font-weight-bold">Source Plant</span><br />
                                            @Html.DisplayFor(model => model.Ibr.Supplier_Nbr)
                                        </div>
                                    </div>
                                    @if (Model.Ibr.FRM != "WM" && !Model.PackingMaterial)
                                    {
                                        //if (Item_Nbr_Container.FindAll(x => x.ValidBatchID == false).Count > 0)
                                        //{
                                        <div class="col-sm-12 col-md-6 col-lg-4">
                                            <div class="form-group">
                                                <label for="Item_Nbr">Item No/Material No/Material Type Description/Batch ID</label>
                                                @Html.DropDownList("Item_Nbr", null, new { @class = "selectpicker form-control form-control-sm", @style = "max-width: 100%!important;", @required = "required" })
                                            </div>
                                        </div>
                                        //}
                                    }
                                </div>

                                @if (Model.TotalScanned >= Model.ExpectedQty)
                                {
                                    <div class="row">
                                        <div class="col-sm-12 col-md-6 col-lg-4 ">
                                            <div class="alert alert-success">
                                                <strong>All the materials are received!</strong>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                            <!--Add Receiving Form -->

                            <div class="apm-card-footer" id="POLabel-footer">
                                <div class="container-fluid">
                                    @if (string.IsNullOrEmpty(Model.Ibr.Delivery_No))
                                    {
                                        <div class="row apm-bg-cherry-gradient mb-3 p-3">
                                            <div class="col-12">
                                                <label>The delivery number is not found. The process can't proceed. Please contact the administrator.</label>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {

                                        @*<div class="row mb-3 p-3">
                                            </div>*@
                                        @if (Model.Ibr.FRM != "WM" && !Model.PackingMaterial && ((Model.PackingMaterial != true && Model.TotalScanned < Model.ExpectedQty) || (Model.PackingMaterial != false && Model.TotalReceived < Model.ExpectedQty)))
                                        {
                                            if (Item_Nbr_Container.FindAll(x => x.ValidBatchID == false).Count > 0)
                                            {
                                                <div class="WithLabel" id="STOWithLabel">
                                                    <div class="row">
                                                        <div class="col-sm-12 col-md-6 col-lg-2">
                                                            <div class="form-group">
                                                                <label for="Product_Received_Date">Product Received Date *</label>
                                                                <input type="date" class="form-control form-control-sm" id="Product_Received_Date" name="Product_Received_Date" required>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-12 col-md-6 col-lg-2">
                                                            <div class="form-group">
                                                                <label for="Bill_Of_Lading">Bill Of Lading</label>
                                                                <input type="text" class="form-control form-control-sm" id="Bill_Of_Lading" name="Bill_Of_Lading">
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-12 col-md-6 col-lg-2">
                                                            <div class="form-group">
                                                                <label for="CountryOrigin">Country Origin</label>
                                                                <select class="selectpicker countrypicker form-control form-control-sm" data-default="US" data-live-search="true" id="CountryOrigin" name="CountryOrigin" required></select>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    @*<div class="col-sm-12 col-md-6 col-lg-4">
                                                            <div class="form-group">
                                                                <label for="Item_Nbr">Item No/Material No/Material Type Description</label>
                                                                @Html.DropDownList("Item_Nbr", null, new { @class = "selectpicker form-control form-control-sm", @style = "max-width: 100%!important;", @required = "required" })
                                                            </div>
                                                        </div>*@

                                                    <input type="hidden" id="Container_No" />
                                                    <input type="hidden" id="Amt_Received" />
                                                    <input type="hidden" id="UnitPick" />
                                                    @*<input type="hidden" id="Bill_Of_Lading" />*@
                                                    @*<input type="hidden" id="CountryOrigin" />*@
                                                    <input type="hidden" id="RowsToCreate" value="@(Item_Nbr_Container.FindAll(x => x.ValidBatchID == false).Count)" />
                                                    @if (Item_Nbr_Container != null && Item_Nbr_Container.Count > 0)
                                                    {
                                                        <hr />

                                                        int rowId = 0;
                                                        @foreach (var item in Item_Nbr_Container.FindAll(x => x.ValidBatchID == false))
                                                        {
                                                            rowId += 1;
                                                            <div class="row">
                                                                <div class="col-sm-12 col-md-6 col-lg-1">
                                                                    <div class="form-group">
                                                                        <label for="Batch_No">Item No. </label>
                                                                        <input type="hidden" id="Item_Nbr_@(rowId)" name="Item_Nbr_@(rowId)" value="@item.IB_Raw_Mtls_Id" />
                                                                        <input type="hidden" id="Item_NbrVLS_@(rowId)" name="Item_NbrVLS_@(rowId)" value="@(item.Item_Nbr.ToString() + "/" + item.Matl_Nbr.ToString() + "/" + item.SAP_MATL_DESCR.Replace("/", " ") + "/" + item.STO_DOC_ITEM_NBR + "/" + item.Batch_Nbr)" />
                                                                        <input type="text" class="form-control form-control-sm" id="Item_Nbr_@(rowId)" value="@(item.Item_Nbr.ToString())" readonly>
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-12 col-md-6 col-lg-2">
                                                                    <div class="form-group">
                                                                        <label for="Batch_No">Batch No. </label>
                                                                        <input type="text" class="form-control form-control-sm" id="Batch_No_@(rowId)" name="Batch_No_@(rowId)" value="@item.Batch_Nbr" onkeyup="checkValidation(this.value, this.id);">
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-12 col-md-6 col-lg-2">
                                                                    <div class="form-group">
                                                                        <label for="Container_No">No. of Container(s) *</label>
                                                                        <input type="text" class="form-control form-control-sm" id="Container_No_@(rowId)" name="Container_No_@(rowId)" value="0" required @*onkeyup="checkValidationNotZero(this.value, this.id);"*@>
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-12 col-md-6 col-lg-4">
                                                                    <div class="form-group">
                                                                        <label for="Amt_Received">Tot. Net Weight (@Model.Ibr.Uom) *</label>
                                                                        <table>
                                                                            <tr>
                                                                                <td style="width:60%">
                                                                                    <input type="number" class="form-control qtyReceived" value="" id="Amt_Received_@(rowId)" name="Amt_Received_@(rowId)" onkeyup="checkValidationNotZero(this.value, this.id);">
                                                                                    @*@if (Model.TotalReceived <= Model.ExpectedQty)
                                                                                        {
                                                                                            <input type="number" class="form-control qtyReceived" value="@((Model.ExpectedQty-Model.TotalReceived).ToString("00.000"))" id="Amt_Received_@(rowId)" name="Amt_Received_@(rowId)" onkeyup="checkValidationNotZero(this.value, this.id);">
                                                                                        }
                                                                                        else
                                                                                        {
                                                                                            <input type="number" class="form-control form-control-sm qtyReceived" value="@Model.sto.FirstOrDefault().Amt_Received.ToString("00.000")" id="Amt_Received_@(rowId)" name="Amt_Received_@(rowId)" required onkeyup="checkValidationNotZero(this.value, this.id);">
                                                                                        }*@
                                                                                </td>
                                                                                <td style="width:30%">
                                                                                    @if (Model.Ibr.Uom.Replace(" ", "") == "PC")
                                                                                    {
                                                                                        <select class="form-control" id="UnitPick_@(rowId)" name="UnitPick_@(rowId)" data-default="@Model.Ibr.Uom.Replace(" ", "")">
                                                                                            <option selected="selected">PC</option>
                                                                                        </select>
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        <select class="form-control" id="UnitPick_@(rowId)" name="UnitPick_@(rowId)" data-default="@Model.Ibr.Uom.Replace(" ", "")">
                                                                                            @if (Model.Ibr.Uom.Replace(" ", "").ToUpper() == "KG")
                                                                                            {
                                                                                                <option selected="selected">KG</option>
                                                                                                <option>LB</option>
                                                                                            }
                                                                                            else if (Model.Ibr.Uom.Replace(" ", "").ToUpper() == "LB")
                                                                                            {
                                                                                                <option>KG</option>
                                                                                                <option selected="selected">LB</option>
                                                                                            }
                                                                                        </select>
                                                                                    }
                                                                                </td>
                                                                            </tr>
                                                                        </table>
                                                                    </div>
                                                                </div>


                                                            </div>
                                                        }
                                                    }
                                                    <div class="row">

                                                        <div class="col-sm-12 col-md-12 col-lg-12">
                                                            <div class="form-group">
                                                                <label for="Note">Comment</label>
                                                                <textarea class="form-control form-control-sm" id="Note" name="Note"></textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }

                                        }
                                    }
                                    @*@if (Model.PackingMaterial)
                                        {
                                            <div class="row">
                                                <div class="col-12 col-md-6 col-lg-8">
                                                    Quantity Received <input type="checkbox" id="PMReceived" value="@Model.Ibr.Delivery_No" checked="@Model.ReceivedAll" />
                                                </div>
                                            </div>
                                        }*@
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    @if (!Model.PackingMaterial)
    {
        <div class="row mt-3" id="stoScan" style="display:none;">
            <div class="blue-card-screen ">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <i class="fa fa-minus apm-expand-icon" id="scan-btn-icon" data-toggle="collapse" data-target="#label-scan2"></i>
                            <text id="POLabel-title">Scanning</text>
                        </div>
                        <div class="card-body collapse show" id="label-scan2">
                            <div class="container-fluid">

                                @if (Model.TotalReceived < Model.ExpectedQty)
                                {

                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    <div class="row mt-3">
        <div class="col-lg-6 col-sm-12">
            @if (Model.Ibr.FRM?.ToLower() == "im" && Model.Ibr.Too?.ToLower() == "im")
            {
                <h4>Total Quantity Received: @Model.Ibr.Quantity.ToString("00.000") (@Model.Ibr.Uom)</h4>
            }
            else if (Model.Ibr.FRM != "WM")
            {
                <h4>Total Quantity Scanned: @Model.TotalScanned.ToString("00.000") (@Model.Ibr.Uom)</h4>
            }
            else
            {
                <h4>Total Quantity Received: @Model.TotalReceived.ToString("00.000") (@Model.Ibr.Uom)</h4>
            }
        </div>
        <div class="col-lg-3 col-sm-12">

        </div>
        <div class="col-lg-3 col-sm-12">
            <div class="form-check-inline" style="float:right;">
                <button id="selectReprint" class="btn apm-bg-blue-gradient">Print Labels</button>
            </div>
        </div>

    </div>

    <div class="apm-table-blue">
        @if (Model.sto != null)
        {
            <table id="stoListing" class="table table-bordered table-hover table-sm selectAllRow" style="width:100%">
                <thead>
                    <tr class="select-checkbox noprint">
                        <th class="text-center"><input type="checkbox" class="selectAll" /></th>
                        <th class="searchable">
                            Item Number
                        </th>
                        <th class="searchable">Material Number</th>
                        @if (!Model.PackingMaterial)
                        {
                            <th class="searchable">
                                Storage Unit Number
                            </th>

                            <th class="searchable">
                                STO Batch Number
                            </th>
                            <th class="searchable">
                                Ascend Batch ID
                            </th>
                        }

                        <th class="searchable">
                            Quantity Received
                        </th>
                        <th class="searchable">
                            Date Received
                        </th>
                        @if (Model.Ibr.FRM != "WM")
                        {
                            if (!Model.PackingMaterial)
                            {
                                <th class="searchable">
                                    Label Scan Date
                                </th>
                            }
                            //@if (Model.Ibr.Too.ToLower() != "im" && Model.Ibr.FRM.ToLower() != "im")
                            //{

                                <th class="searchable" style="display:@totalscanneddisplay">
                                    Delivery Scan Date
                                </th>
                            //}
                        }

                        <th class="searchable">
                            Date Sent to SAP
                        </th>
                        <th class="searchable">
                            Print Date
                        </th>
                        <th></th>
                    </tr>

                </thead>
                <tbody>
                    <tr style="display:none;">
                        <th class="noprint"></th>
                        <th>
                            @Html.DisplayNameFor(model => model.Ibr.Document_Nbr) : @Html.DisplayFor(model => model.Ibr.Document_Nbr)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Ibr.Delivery_No) : @Html.DisplayFor(model => model.Ibr.Delivery_No)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Ibr.Storage_Location) : @Html.DisplayFor(model => model.Ibr.Storage_Location)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Ibr.Supplier_Name) :  @Html.DisplayFor(model => model.Ibr.Supplier_Name)
                        </th>
                        <th>
                            Quantity : @Model.ExpectedQty.ToString("00.00") (@Html.DisplayFor(model => model.Ibr.Uom))
                        </th>
                        <th>
                            UOM : @Html.DisplayFor(model => model.Ibr.Uom)
                        </th>
                        <th>Source Plant : @Html.DisplayFor(model => model.Ibr.Supplier_Nbr)</th>
                        <th></th>
                        @if (!Model.PackingMaterial)
                        {
                            <th></th>
                            <th></th>
                            if (Model.Ibr.FRM != "WM")
                            {
                                @*@if (Model.Ibr.Too.ToLower() != "im" && Model.Ibr.FRM.ToLower() != "im")
                                {*@
                    <th style="display:@totalscanneddisplay"></th>
                                //}
                                <th></th>
                            }
                        }
                    </tr>

                    <tr style="display:none;">
                        <td></td>
                        <td>
                            Item Number
                        </td>
                        <td>Material Number</td>
                        @if (!Model.PackingMaterial)
                        {
                            <td>
                                Storage Unit Number
                            </td>

                            <td>
                                Batch Number
                            </td>
                            <td>
                                Batch ID
                            </td>
                        }

                        <td>
                            Quantity Received
                        </td>
                        <td>
                            Date Received
                        </td>
                        @if (Model.Ibr.FRM != "WM")
                        {
                            @if (!Model.PackingMaterial)
                            {
                                <td>
                                    Label Scan Date
                                </td>

                            }
                            @*@if (Model.Ibr.Too.ToLower() != "im" && Model.Ibr.FRM.ToLower() != "im")
                            {*@
                    <td style="display:@totalscanneddisplay">
                        Delivery Scan Date
                    </td>
                            //}
                        }

                        <td>
                            Date Sent to SAP
                        </td>
                        <td>
                            Print Date
                        </td>
                        <td></td>
                    </tr>
                    @foreach (var item in Model.sto)
                    {
                        string cls = "";
                        if (item.Sent_Sap_Date != null)
                        {
                            cls = " class=apm-bg-jade-gradient ";
                        }

                        <tr @cls>
                            <td class="bg"></td>
                            <td>@item.ItemNo</td>
                            <td>@item.MATL_NBR</td>
                            @if (!Model.PackingMaterial)
                            {
                                <td>
                                    @item.Label_Id
                                </td>
                                <td>
                                    @item.Vendor_Batch
                                </td>
                                <td>
                                    @item.Batch_Id
                                </td>
                            }

                            <td>@string.Format("{0:#,0.000}", item.Amt_Received) @item.Uom</td>
                            <td>
                                @item.Product_Received_Date.ToShortDateString()
                            </td>
                            @if (Model.Ibr.FRM != "WM")
                            {
                                @if (!Model.PackingMaterial)
                                {
                                    @*@if (Model.Ibr.Too.ToLower() != "im" && Model.Ibr.FRM.ToLower() != "im")
                                    {*@
                        <td style="display:@totalscanneddisplay">
                            @item.Label_Scan_Date?.ToShortDateString()
                        </td>
                                    //}
                                }
                                @*@if (Model.Ibr.Too.ToLower() != "im" && Model.Ibr.FRM.ToLower() != "im")
                                {*@
                        <td style="display:@totalscanneddisplay">
                            @item.Delivery_Scan_Date?.ToShortDateString()
                        </td>
                                //}
                            }
                            <td>@item.Sent_Sap_Date?.ToShortDateString()</td>
                            <td>@item.Label_Print_Date?.ToShortDateString()</td>
                            <td>
                                @if (!Model.PackingMaterial)
                                {
                                    @if (Model.Ibr.FRM != "WM" && item.Note != "nppqs")
                                    {
                                        <button type="button" class="btnUpdate btn btn-link d-sm-block d-xl-inline-block py-sm-2 pt-xl-1 px-xl-1" title="Update" data-id="@item.Pol_Seq" disabled="@(item.Sent_Sap_Date!=null || item.Label_Print_Date!=null?true:false)"><i class="fas fa-edit fa-2x fa-blue"></i></button>
                                        <button type="button" class="btnDelete btn btn-link d-sm-block d-xl-inline-block py-sm-2 pt-xl-1 px-xl-1" title="Delete" data-id="@item.Pol_Seq" disabled="@(item.Sent_Sap_Date!=null || item.Label_Print_Date!=null?true:false)"><i class="far fa-trash-alt fa-2x fa-blue"></i></button>
                                    }
                                    <button type="button" class="btnReprint btn btn-link d-sm-block d-xl-inline-block py-sm-2 pt-xl-1 px-xl-1" title="Reprint" data-id="@item.Label_Id"><i class="fas fa-tags fa-2x fa-blue"></i></button>
                                }
                            </td>
                        </tr>
                    }
                    @*Old*@
                    @foreach (var item in Model.stoOld)
                    {
                        string cls = "";
                        if (item.Date_Sent_Sap != null)
                        {
                            cls = " class=apm-bg-jade-gradient ";
                        }
                        <tr @cls>
                            <td class="bg"></td>
                            <td>@int.Parse(item.Item_Nbr).ToString()</td>
                            <td>@item.Matl_Nbr</td>
                            @*<td>
                                    @item.Source_Plant
                                </td>*@
                            @if (!Model.PackingMaterial)
                            {
                                <td>
                                    @item.Storage_Unit_Nbr
                                </td>
                                <td>
                                    @item.Batch_Nbr
                                </td>
                                <td>
                                    @item.Batch_Id
                                </td>
                            }

                            @*<td>@string.Format("{0:n}", item.Amt_Received) </td>*@
                            <td>@string.Format("{0:#,0.000}", item.Amt_Received)  @item.Uom</td>
                            @*<td>@item.Uom</td>*@
                            @*<td>
                                    @item.Delivery_Date?.ToShortDateString()
                                </td>*@
                            <td>
                                @item.Date_Added?.ToShortDateString()
                            </td>
                            @if (Model.Ibr.FRM != "WM")
                            {
                                if (!Model.PackingMaterial)
                                {
                                    <td>
                                        @item.Scan_Date?.ToShortDateString()
                                    </td>
                                }
                                <td>
                                    @item.Date_Received?.ToShortDateString()
                                </td>
                            }
                            <td>@item.Date_Sent_Sap?.ToShortDateString()</td>
                            <td>@item.Label_Print_Date?.ToShortDateString()</td>
                            <td>
                                @if (!Model.PackingMaterial)
                                {
                                    <button type="button" class="btnReprint btn btn-link d-sm-block d-xl-inline-block py-sm-2 pt-xl-1 px-xl-1" title="Reprint" data-id="@item.Storage_Unit_Nbr"><i class="fas fa-tags fa-2x fa-blue"></i></button>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>


    <div class="modal fade" id="stoModal" tabindex="-1" role="dialog" aria-labelledby="scanModalLabel" aria-hidden="true" style="margin-top:140px!important">
        <div class="modal-dialog modal-lg" role="document">

            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-header" id="modalTitle">Receiving STO</h4>
                </div>

                <div class="modal-body">
                    <div id="delRec"></div>

                    <div id="labelModalSpinner2" class="text-center collapse">
                        <div class="spinner-border mt-3" role="status" style="width:3rem;height:3rem;">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                </div>

                @*<div class="modal-footer" style="display:block;">
                        <div id="feedback" class="float-left">
                            <div class="alert alert-success collapse" id="success-alert">
                                <strong>Success! </strong> Label has been saved.
                            </div>
                            <div class="alert alert-danger collapse" id="error-alert">
                                <strong>Success! </strong> Label has not been saved.
                            </div>
                        </div>
                        <input type="hidden" id="seq" />
                        <div class="float-right">
                            <button type="button" class="btn apm-bg-blue-gradient" data-dismiss="modal" id="cancelModal">Close</button>
                        </div>
                    </div>*@
            </div>

        </div>
    </div>

    <div class="modal fade" id="labelModal" tabindex="-1" role="dialog" aria-labelledby="scanModalLabel" aria-hidden="true" style="margin-top:140px!important">
        <div class="modal-dialog modal-lg" role="document">
            <form id='labelModalForm' method='post' action='/RawMaterial/UpdateSTO' style="width:80%">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-header" id="modalTitle1">Are you sure to delete this label?</h4>
                    </div>

                    <div class="modal-body">
                        <div id="delRec1"></div>
                        <div id="updateLabelHtml" class="collapse">
                            <table class="table">
                                <input type="hidden" id="labelRecId" />
                                <input type="hidden" id="labelReceiveDate" />
                                <input type="hidden" id="labelVendorBatch" />
                                <input type="hidden" id="labelTotalBags" />
                                <tr><td class="font-weight-bold align-bottom">Storage Unit No.</td><td><input type="text" name="labelIdUpd" id="labelIdUpd" class="form-control" readonly /></td></tr>
                                <tr><td class="font-weight-bold align-bottom">Vendor Batch/Lot No.</td><td><input id="batchNoUpd" name="batchNoUpd" class="form-control form-control-sm"></td></tr>
                                <tr><td class="font-weight-bold align-bottom">Amount Received (@Model.Ibr.Uom) *</td><td><input type="number" class="form-control form-control-sm qtyReceived" id="amtUpd" name="amtUpd" required onkeyup="checkValidation(this.value, this.id);"></td></tr>
                                @* <tr><td class="font-weight-bold align-bottom">Country Origin *</td><td><select class="selectpicker countrypicker form-control" id="originUpd" name="originUpd" data-live-search="true" required onkeyup="checkValidation(this.value, this.id);"></select></td></tr>*@
                                @*<tr><td class="font-weight-bold align-bottom">Tot. Bags/ Pallet</td><td><input type="number" class="form-control form-control-sm" id="bagNoUpd" name="bagNoUpd" onkeyup="checkValidationAllowNull(this.value, this.id);"></td></tr>*@
                                @*<tr><td class="font-weight-bold align-bottom">Pallet No.</td><td><input type="text" class="form-control form-control-sm" id="lotNoUpd" name="lotNoUpd"></td></tr>*@
                            </table>
                        </div>
                        <div id="labelModalSpinner" class="text-center collapse">
                            <div class="spinner-border mt-3" role="status" style="width:3rem;height:3rem;">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer" style="display:block;">
                        <div id="feedback" class="float-left">
                            <div class="alert alert-success collapse" id="success-alert">
                                <strong>Success! </strong> Label has been saved.
                            </div>
                            <div class="alert alert-danger collapse" id="error-alert">
                                <strong>Success! </strong> Label has not been saved.
                            </div>
                        </div>
                        <input type="hidden" id="seq" />
                        <div class="float-right">
                            <button type="button" class="btn btn-danger pt-1 px-2 collapse" id="delConfirm">Delete</button>
                            <button type="button" class="btn apm-bg-blue-gradient pt-1 px-2 collapse" id="btnReprintConfirm">Reprint</button>
                            <button type="submit" class="btn apm-bg-blue-gradient pt-1 px-2 collapse" id="btnUpdateConfirm">Update</button>
                            <button type="button" class="btn apm-bg-blue-gradient" data-dismiss="modal" onclick="$('#ScanButtonContainer').html('');$('#delRec1').html('');" id="cancelModal">Close</button>
                        </div>
                        <div id="ScanButtonContainer"></div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</main>


@section Scripts {
    <script src="/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>


    <link rel="stylesheet" type="text/css" href="~/js/DataTables/DataTables-1.10.23/css/dataTables.bootstrap4.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.3.3/css/select.dataTables.min.css" />
    <script type="text/javascript" src="~/js/DataTables/DataTables-1.10.23/js/jquery.dataTables.min.js"></script>
    <script src="~/js/DataTables/DataTables-1.10.23/js/dataTables.buttons.min.js"></script>
    <script src="~/js/DataTables/DataTables-1.10.23/js/jszip.min.js"></script>
    <script src="~/js/DataTables/DataTables-1.10.23/js/pdfmake.min.js"></script>
    <script src="~/js/DataTables/DataTables-1.10.23/js/vfs_fonts.js"></script>
    <script src="~/js/DataTables/DataTables-1.10.23/js/buttons.html5.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/select/1.3.3/js/dataTables.select.min.js"></script>
    <script type="text/javascript" src="~/js/DataTables/DataTables-1.10.23/js/dataTables.bootstrap4.min.js"></script>

    <script src="~/js/View/ScannerScript.js" asp-append-version="true"></script>
    <script src="~/js/View/InternalSTO.js" asp-append-version="true"></script>
    @if (Model.PackingMaterial)
    {
        <script src="~/js/View/STOPackaging.js" asp-append-version="true"></script>
    }
    else
    {
        <script src="~/js/View/STOValidate.js" asp-append-version="true"></script>
    }

    <script src="~/js/View/Common.js" asp-append-version="true"></script>


}



