﻿@model WebApp.ViewModels.RawMaterialViewModel
@{
    ViewBag.Title = "Purchase Order";

    var packaging = Model.PackingMaterial ? "Yes" : "No";
    string Labels_CSV_ALL = ViewData["Labels_CSV_ALL"].ToString();
    bool BMIMTOIM = false;
    BMIMTOIM = (Model.Sapm.BATCH_MANAGED == "0" && Model.Ibr.FRM == "IM" && Model.Ibr.Too == "IM" ? true : false);
    bool savereceivebuttondisable = false;
    bool sendtoSAPbuttondisable = false;
    bool totalAmountEqualled = false;
     string totalscanneddisplay = (Model.Ibr.Too.ToLower() != "im" && Model.Ibr.FRM.ToLower() != "im") ? "block" : "none";

    if (Model.Ibr.Too != "WM")
    {

        if (@Model.PoLablesAmount == Model.Ibr.Quantity)
        {
            totalAmountEqualled = true;
        }
        else
        {
            if (@Model.ScannedAmount == Model.Ibr.Quantity)
            {
                totalAmountEqualled = true;
            }
        }
    }

}
<script>
    function labelscanchange() {
        var sl = $('#LabelScanPO').val().replace(/,/g, "").replace(/ /g, "").replace(" ", "");
        sl = sl.match(/.{1,9}/g).join(',');
        $('#LabelScanPO').val(sl);
    }
    function ScanLabelPONew() {
        console.log($("#Delivery_No").val());
        var lblsarr_All = ($('#Labels_CSV_ALL').val() + ',' + $("#Delivery_No").val() + ',').split(",");
        console.log(lblsarr_All);
        var mtldetail = ($("#LabelScanPO").val() + ",").split(",");
        var serialNumberPO = [];
        var notfoundLabels = "";
        for (var i = 0; i < mtldetail.length; i++) {
            if (mtldetail[i] != null && mtldetail[i] != "")
                serialNumberPO.push(mtldetail[i]);
            var found = 0;
            for (var j = 0; j < lblsarr_All.length; j++) {
                if (lblsarr_All[j] == mtldetail[i] && lblsarr_All[j] != '')
                    found = 1;
            }
            if (found == 0)
                notfoundLabels = notfoundLabels + mtldetail[i];
        }
        if (notfoundLabels != "") {
            alert("Labels not valid : " + notfoundLabels);
        }
        //$("#labelModal").modal('show');
        //$('#modalTitle').html("Scan Label ...")
        //var serialNumber = $('#LabelScanPO').val();
        //serialNumber.replace(/[\n\r]+/g, '');
        //serialNumber.replace(/\s{2,10}/g, ' ');
        if (serialNumberPO.length > 0 && notfoundLabels == "") {
            $("#labelModalSpinner").show();
            $.ajax({
                type: "POST",
                url: "/RawMaterial/Scanned",
                data: {
                    labelId: serialNumberPO
                },
                dataType: "json",
                error: function () {
                    showErrorMessage("The label Id is not found.");
                    setTimeout(function () { $("#labelModal").modal('hide'); location.reload(); }, 3000);
                    document.getElementById("LabelScanPO").value = "";
                },
                success: function (data) {
                    $("#labelModalSpinner").hide();
                    if (data.success) {
                        showSuccessMessage("Scanned!");
                        if (!data.batchSentSuccess) {
                            $('#error-alert').html("Batch information was not successfully sent.")
                            $('#error-alert').show();
                        }

                        location.reload();
                        //setTimeout(function () { $("#labelModal").modal('hide'); location.reload(); }, 3000);
                    }
                    else {
                        showErrorMessage("The label Id is not found.");
                        setTimeout(function () { $("#labelModal").modal('hide'); location.reload(); }, 3000);
                    }

                    document.getElementById("LabelScanPO").value = "";
                }
            });
        }
        $('#ScanButtonContainer').html('');
        $('#scanbox').html('');
    }

</script>
<div class="" id="STOScanner" style="float: right;">
    <div class="apm-icon-home">
        @if (Model.PackingMaterial)
        {
            <a id="ExportExcelPOPM"><i class="fas fa-download apm-icon"></i><span>Download Excel</span></a>
        }
        else
        {
            <a id="ExportExcelPO"><i class="fas fa-download apm-icon"></i><span>Download Excel</span></a>
        }
    </div>
</div>
<div class="" id="POScanner" style="float:right;">
    <div class="apm-icon-home">
        <a id="scanPO"><i class="fas fa-barcode apm-icon"></i><span>Scan Label</span></a>
    </div>
</div>
<partial name="_NavLinks" />
<br />
<br />
<br />
<main class="apm-main">
    <br />
    <div class="row">
        <div class="col-4 apm-pagenav">
            <input id="DocNum" value="@Model.Ibr?.Ib_Raw_Mtls_Id" type="hidden" />
            <input id="TotQty" value="@Model.Ibr?.Quantity" type="hidden" />
            <input id="CurrentQty" value="@Model.PoLablesAmount" type="hidden" />
            <input id="PackagingMaterial" value="@packaging" type="hidden" />
            <input id="RMuom" value="@Model.Ibr.Uom" type="hidden" />
            <input id="Delivery_No" value="@Model.Ibr.Delivery_No" type="hidden" />
            <input id="Labels_CSV_ALL" value="@Labels_CSV_ALL" type="hidden" />
            <input id="POItemNbr" value="@Model.Ibr.Item_Nbr" type="hidden" />
            <input id="POSupplierNo" value="@Model.Ibr.Supplier_Nbr" type="hidden" />
            <input id="hdnTotalAmountEqualled" value="@Model.Ibr.Supplier_Nbr" type="hidden" />
        </div>
        <div class="col-4">
            <div class="alert alert-info collapse" id="alertMsg">
                <div id="sMsg"></div>
            </div>
        </div>
        <div class="col-4">

        </div>
        <div class="modal fade" id="YesNoAlert" tabindex="-1" role="dialog" aria-labelledby="scanModalLabel" aria-hidden="true" style="margin-top:140px!important">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-header" id="modalTitle1">
                            Confirm Sending To SAP
                        </h4>
                    </div>

                    <div class="modal-body">
                        <div id="updateLabelHtml2" class="">

                            @if (Convert.ToInt32(Model.ScannedAmount) > Convert.ToInt32(Model.Ibr.Quantity))
                            {
                                <h4 style="color:red;">
                                    Receiving of <span id="scannedamount">@Model.ScannedAmount.ToString("00.000") (@Model.Ibr.Uom)</span> against expected <span id="expectedamount">@Model.Ibr.Quantity.ToString("00.000") (@Model.Ibr.Uom)</span>amount
                                    Which is Exceeded, Unable to sand to SAP
                                </h4>
                            }
                            else
                            {

                                @if (Model.Ibr.Too != "WM")
                                {
                                    <h4>
                                        Receiving of <span id="scannedamount">@Model.PoLablesAmount.ToString("00.000") (@Model.Ibr.Uom)</span> against expected <span id="expectedamount">@Model.Ibr.Quantity.ToString("00.000") (@Model.Ibr.Uom)</span>amount
                                    </h4>
                                }
                                else
                                {

                                    <h4>
                                        Receiving of <span id="scannedamount">@Model.ScannedAmount.ToString("00.000") (@Model.Ibr.Uom)</span> against expected <span id="expectedamount">@Model.Ibr.Quantity.ToString("00.000") (@Model.Ibr.Uom)</span>amount
                                    </h4>
                                }
                            }

                        </div>
                        <div id="delRec"></div>
                        <div id="labelModalSpinner3" class="text-center collapse">
                            <div class="spinner-border mt-3" role="status" style="width:3rem;height:3rem;">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer3" style="display:block;">
                        <div id="feedback" class="float-left">
                            <div class="alert alert-success collapse" id="success-alert3">
                                <strong>Success! </strong> Label has been saved.
                            </div>
                            <div class="alert alert-danger collapse" id="error-alert3">
                                <strong>Success! </strong> Label has not been saved.
                            </div>
                        </div>
                        <input type="hidden" id="seq" />
                        <div class="float-right col-sm-3">
                            <button id="sendsapcancel" class="btn apm-bg-blue-gradient float-right" onclick="$('#YesNoAlert').modal('hide');">Cancel</button>
                            @if (Convert.ToInt32(Model.ScannedAmount) <= Convert.ToInt32(Model.Ibr.Quantity))
                            {
                                <button id="ReportToSAP" class="btn apm-bg-jade-gradient float-right" style="margin-right:10px;" disabled="@(Model.Polabels!=null ?false:true)">Yes</button>
                            }
                            @*<button type="button" class="btn apm-bg-blue-gradient" data-dismiss="modal" id="cancelModal">Close</button>*@
                        </div>
                        <br />
                        <br />
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="blue-card-screen ">
            <div class="col-sm-12">
                <!--Label Creation Form -->
                @using (Html.BeginForm("Create", "RawMaterial", FormMethod.Post, new { id = "POLabelform" }))
                {
                    <div class="card">

                        <div class="card-header">
                            <i class="fa fa-minus apm-expand-icon" id="label-btn-icon" data-toggle="collapse" data-target="#label-detail"></i>
                            <text id="POLabel-title">Purchase Order</text>

                            @if (Model.Polabels != null && Model.Polabels.Count() > 0 && Model.AllScanned)
                            {
                                sendtoSAPbuttondisable = false;
                            }
                            else
                            {
                                sendtoSAPbuttondisable = true;
                            }
                            @if (Model.SapSentDate != null)
                            {
                                sendtoSAPbuttondisable = true;
                            }
                            <button type="button" id="startSendSAP" class="btn apm-bg-jade-gradient pt-1 px-2 float-right" style="margin-right:-20px;" onclick="$('#YesNoAlert').modal('show');$('.modal-backdrop').hide();" disabled="@sendtoSAPbuttondisable">Report to SAP</button>

                            @*@if (Model.Ibr.FRM.ToLower() != "im" && Model.Ibr.Too.ToLower() != "im")
        {*@
                            @if (!Model.Completed)
                            {
                                savereceivebuttondisable = Model.Completed;
                                savereceivebuttondisable = @totalAmountEqualled;
                                <button type="submit" class="btn apm-bg-jade-gradient pt-1 px-2 float-right" id="POLabel-save-btn" style="margin-right: 10px !important;" disabled="@savereceivebuttondisable">
                                    Save Receiving
                                </button>
                            }
                            @*  *@
                            @*<button id="ReportToSAP" class="btn apm-bg-jade-gradient pt-1 px-2 float-right" disabled="@(Model.Polabels.Count()>0)">Report to SAP</button>*@
                            @{
                                if (Model.SapSentDate != null)
                                {
                                    <div class="text-danger small mt-1 float-right mr-3">Last sent @Model.SapSentDate</div>
                                }
                            }

                        </div>
                        <div class="card-body collapse show" id="label-detail">
                            <div class="container-fluid">

                                <partial name="_PODetailForLabel" model="Model.Ibr" />
                                @if (Model.Completed)
                                {

                                    <div class="row">
                                        <div class="col-sm-12 col-md-6 col-lg-4 ">
                                            <div class="alert alert-success">
                                                <strong>All the materials are received!</strong>
                                            </div>
                                        </div>
                                    </div>
                                }


                            </div>
                            @if (!Model.Completed)
                            {

                                <div class="apm-card-footer" id="POLabel-footer">
                                    <div class="container-fluid">


                                        @*@if (Model.Polabels.Count() < 1)
                                            {*@
                                        @*//if (Item_Nbr_Container.FindAll(x => x.ValidBatchID == false).Count > 0)
                                            //{*@
                                        <div class="WithLabel" id="STOWithLabel"></div>

                                        <div class="row">
                                            <div class="col-sm-12 col-md-6 col-lg-2">
                                                <div class="form-group">
                                                    <label for="Product_Received_Date">Product Received Date *</label>
                                                    <input type="date" class="form-control form-control-sm" id="Product_Received_Date" name="Product_Received_Date" required readonly="@Model.Completed">
                                                </div>
                                            </div>
                                            <div class="col-sm-12 col-md-6 col-lg-2">
                                                <div class="form-group">
                                                    <label for="palletNo">No. of Container(s) *</label>
                                                    <input type="number" class="form-control form-control-sm" id="palletNo" name="palletNo" required onkeyup="checkValidationNotZero(this.value, this.id);" readonly="@Model.Completed">
                                                </div>
                                            </div>
                                            <div class="col-sm-12 col-md-6 col-lg-2">
                                                <div class="form-group">
                                                    <label for="Tot_Bag_No">Tot.Unit Per Container</label>@*<span><i class='fas fa-undo apm-reset-button' data-toggle="tooltip" title="Reset" onclick="$('#Tot_Bag_No').val(''); checkValidation($('#Tot_Bag_No').val(''), 'Tot_Bag_No');"></i></span>*@
                                                    <input type="number" class="form-control form-control-sm" id="Tot_Bag_No" name="Tot_Bag_No" readonly="@Model.Completed">
                                                </div>
                                            </div>
                                            <div class="col-sm-12 col-md-6 col-lg-2">
                                                <div class="form-group">
                                                    <label for="Amt_Received">Tot. Net Weight Per Container (@Model.Ibr.Uom) *</label>
                                                    @*<input type="number" class="form-control form-control-sm qtyReceived" id="Amt_Received" name="Amt_Received" required onkeyup="checkValidationNotZero(this.value, this.id);" readonly="@Model.Completed">*@
                                                    <table>
                                                        <tr>
                                                            <td style="width:60%">
                                                                @if (Model.PoLablesAmount <= Model.Ibr.Quantity)
                                                                {
                                                                    <input type="number" class="form-control qtyReceived" value="@((Model.Ibr.Quantity-Model.PoLablesAmount).ToString("00.000"))"
                                                                           id="Amt_Received" name="Amt_Received" readonly="@Model.Completed">
                                                                }
                                                                else
                                                                {
                                                                    <input type="number" class="form-control qtyReceived" value="00.000"
                                                                           id="Amt_Received" name="Amt_Received" readonly="@Model.Completed">
                                                                }

                                                            </td>
                                                            <td style="width:30%">
                                                                @if (Model.Ibr.Uom.Replace(" ", "") == "PC")
                                                                {
                                                                    <select class="form-control" id="UnitPick" name="UnitPick" data-default="@Model.Ibr.Uom.Replace(" ", "")">
                                                                        <option selected="selected">PC</option>
                                                                    </select>
                                                                }
                                                                else
                                                                {
                                                                    <select class="form-control" id="UnitPick" name="UnitPick" data-default="@Model.Ibr.Uom">
                                                                        @if (Model.Ibr.Uom.ToUpper() == "KG")
                                                                        {
                                                                            <option selected="selected">KG</option>
                                                                            <option>LB</option>
                                                                        }
                                                                        else if (Model.Ibr.Uom.ToUpper() == "LB")
                                                                        {
                                                                            <option>KG</option>
                                                                            <option selected="selected">LB</option>
                                                                        }
                                                                    </select>
                                                                }
                                                            </td>
                                                        </tr>
                                                    </table>
                                                    <div id="amtMsg" class="collapse error"></div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 col-md-6 col-lg-2">
                                                <div class="form-group">

                                                    @if (Model.PackingMaterial)
                                                    {
                                                        <label for="Batch_No">Vendor Batch/ Lot No.</label>
                                                        <input type="text" class="form-control form-control-sm" id="Batch_No" name="Batch_No" readonly="@Model.Completed">
                                                    }
                                                    else
                                                    {
                                                        <label for="Batch_No">Batch No. *</label>
                                                        <input type="text" class="form-control form-control-sm" id="Batch_No" name="Batch_No" required onkeyup="checkValidation(this.value, this.id);" readonly="@Model.Completed">
                                                    }

                                                </div>
                                            </div>
                                            <div class="col-sm-12 col-md-6 col-lg-2">
                                                <div class="form-group">
                                                    <label for="Bill_Of_Lading">Bill Of Lading</label>
                                                    <input type="text" class="form-control form-control-sm" id="Bill_Of_Lading" name="Bill_Of_Lading" readonly="@Model.Completed">

                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">
                                            @*<div class="col-sm-12 col-md-6 col-lg-2">
                                                    <div class="form-group">
                                                        <label for="Lot_Nbr">Pallet No.</label>
                                                        <input type="text" class="form-control form-control-sm" id="Lot_Nbr" name="Lot_Nbr" readonly="@Model.Completed">

                                                    </div>
                                                </div>*@
                                            <div class="col-sm-12 col-md-6 col-lg-2">
                                                <div class="form-group">
                                                    <label for="CountryOrigin">Country Origin</label>
                                                    <select class="selectpicker countrypicker form-control form-control-sm" data-default="US" data-live-search="true" id="CountryOrigin" name="CountryOrigin" required disabled="@Model.Completed"></select>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 col-md-6 col-lg-2">
                                                <div class="form-group">
                                                    <label for="Note">Comment</label>
                                                    <textarea class="form-control form-control-sm" id="Note" name="Note" readonly="@Model.Completed"></textarea>
                                                </div>
                                            </div>
                                            <!--<div class="col-sm-12 col-md-6 col-lg-2">
                                                <div class="form-group float-left">
                                                    <button type="submit" class="btn apm-bg-blue-gradient pt-1 px-2 mt-5" id="POLabel-save-btn" disabled="@Model.Completed">
                                                        Save Receiving
                                                    </button>
                                                </div>
                                            </div>-->
                                            <div class="col-sm-12 col-md-6 col-lg-4">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            } <!--Label Creation Form -->
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

    @if (Model.Polabels.ToList().Count > 0)
    {


        if (Model.PackingMaterial)
        {
            <partial name="_PackagingMaterialView" model="Model" />
        }
        else
        {
            <div class="row mt-3" id="stoScan" style="display:none;">
                <div class="blue-card-screen ">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <i class="fa fa-minus apm-expand-icon" id="scan-btn-icon" data-toggle="collapse" data-target="#label-scan2"></i>
                                <text id="POLabel-title">Scan Label</text>
                            </div>
                            <div class="card-body collapse show" id="label-scan2">
                                <div class="container-fluid">
                                    <div class="row mb-5">
                                        <div class="col-2"></div>
                                        @*<div class="col-10">
                                                <input id="LabelScanPO" onkeyup="labelscanchange();" placeholder="Please put the mouse cursor here!" class="form-control col-10" />
                                            </div>*@
                                        <div class="col-2"></div>
                                    </div>
                                </div>
                                <div class="apm-card-footer" id="POLabel-footer">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <partial name="_LabelListView" model="Model" />
        }
    }

    <div class="modal fade" id="labelModal" tabindex="-1" role="dialog" aria-labelledby="scanModalLabel" aria-hidden="true" style="margin-top:140px!important">
        <div class="modal-dialog modal-lg" role="document">
            <form id='labelModalForm' method='post' action='/RawMaterial/Create' style="width:80%">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-header" id="modalTitle">Are you sure to delete this label?</h4>
                    </div>

                    <div class="modal-body">
                        <div id="delRec1"></div>
                        <div id="scanbox"></div>
                        <div id="updateLabelHtml" class="collapse" style="display:none">
                            <table class="table">
                                <input type="hidden" id="labelRecId" />
                                <input type="hidden" id="labelReceiveDate" />
                                <input type="hidden" id="labelVendorBatch" />
                                <input type="hidden" id="labelTotalBags" />
                                <tr><td class="font-weight-bold align-bottom">Label Id</td><td><input type="text" name="labelIdUpd" id="labelIdUpd" class="form-control" readonly /></td></tr>
                                <tr><td class="font-weight-bold align-bottom">Vendor Batch/Lot No.</td><td><input id="batchNoUpd" name="batchNoUpd" class="form-control form-control-sm" readonly></td></tr>
                                <tr><td class="font-weight-bold align-bottom">Pallet Weight (@Model.Ibr.Uom) *</td><td><input type="number" class="form-control form-control-sm qtyReceived" id="amtUpd" name="amtUpd" required onkeyup="checkValidation(this.value, this.id);"></td></tr>
                                <tr><td class="font-weight-bold align-bottom">Tot. Bags/ Pallet</td><td><input type="number" class="form-control form-control-sm" id="bagNoUpd" name="bagNoUpd" onkeyup="checkValidationAllowNull(this.value, this.id);"></td></tr>
                                <tr style="display:none;"><td class="font-weight-bold align-bottom">Pallet No.</td><td><input type="text" class="form-control form-control-sm" id="lotNoUpd" name="lotNoUpd"></td></tr>
                                @* <tr><td class="font-weight-bold align-bottom">Country Origin *</td><td><select class="selectpicker countrypicker form-control" id="originUpd" name="originUpd" data-live-search="true" required onkeyup="checkValidation(this.value, this.id);"></select></td></tr>*@
                            </table>
                        </div>
                        <div id="labelModalSpinner" class="text-center collapse">
                            <div class="spinner-border mt-3" role="status" style="width:3rem;height:3rem;">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer" style="display:block;">
                        <div id="feedback" class="float-left">
                            <div class="alert alert-success collapse" id="success-alert">
                                <strong>Success! </strong> Label has been saved.
                            </div>
                            <div class="alert alert-danger collapse" id="error-alert">
                                <strong>Success! </strong> Label has not been saved.
                            </div>
                        </div>
                        <input type="hidden" id="seq" />
                        <input type="hidden" id="lblidtoprint" />
                        <div class="float-right">
                            <button type="button" class="btn btn-danger pt-1 px-2 collapse" id="delConfirm">Delete</button>
                            <button type="button" class="btn apm-bg-blue-gradient pt-1 px-2 collapse" id="btnReprintConfirm">Reprint</button>
                            <button type="submit" class="btn apm-bg-blue-gradient pt-1 px-2 collapse" id="btnUpdateConfirm">Update</button>
                            <button type="button" class="btn apm-bg-blue-gradient" data-dismiss="modal" onclick="$('#ScanButtonContainer').html('');$('#scanbox').html('');" id="cancelModal">Close</button>
                        </div>
                        <div id="ScanButtonContainer"></div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</main>

@section Scripts {
    <script src="/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/js/DataTables/DataTables-1.10.23/css/dataTables.bootstrap4.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.3.3/css/select.dataTables.min.css" />
    <script type="text/javascript" src="~/js/DataTables/DataTables-1.10.23/js/jquery.dataTables.min.js"></script>
    <script src="~/js/DataTables/DataTables-1.10.23/js/dataTables.buttons.min.js"></script>
    <script src="~/js/DataTables/DataTables-1.10.23/js/jszip.min.js"></script>
    <script src="~/js/DataTables/DataTables-1.10.23/js/pdfmake.min.js"></script>
    <script src="~/js/DataTables/DataTables-1.10.23/js/vfs_fonts.js"></script>
    <script src="~/js/DataTables/DataTables-1.10.23/js/buttons.html5.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/select/1.3.3/js/dataTables.select.min.js"></script>
    <script type="text/javascript" src="~/js/DataTables/DataTables-1.10.23/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/js/View/ScannerScript.js" asp-append-version="true"></script>
    <script src="~/js/View/PurchaseOrderLabel.js" asp-append-version="true"></script>
    <script src="~/js/View/Common.js" asp-append-version="true"></script>


}


