﻿

@{
    ViewBag.Title = "UnConsumption Scan";
}
<partial name="NavLinks" />
<div class="container-fluid">   
    <p>
        <button type="button" class="btn btn-info btn tabLinks" title="Scan Raw Materials" data-toggle="modal" data-target="#scanModal">Scan In Raw Materials To Un-Consume</button>
    </p>

    <div class="modal fade" id="scanModal" tabindex="-1" role="dialog" aria-labelledby="scanModalLabel" aria-hidden="true" style="margin-top:140px!important">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-header" id="modalTitle">Scanning Un-Consumed Materials</h2>
                    <div>
                        <input type="text" id="GetUnConsumeLabels" />
                    </div>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="row" style="column-count:2">
                            <div class="column" style="padding-left:1em">
                                <label for="materialDescription">Ascend Material Description</label>
                                <input type="text" class="form-control" id="materialDescription" value="">
                            </div>
                            <div class="column">
                                <label for="scannedMaterial">Scanned Materials</label>
                                <input type="text" class="form-control" id="scannedMaterials" placeholder="">
                            </div>
                        </div>
                        <div class="row" style="column-count:2">
                            <div class="column" style="padding-left:1em">
                                <label for="scannedPounds">Original Pounds</label>
                                <input type="text" class="form-control" id="orignialPounds" placeholder="">
                            </div>
                            <div class="column" style="padding-left:1em">
                                <label for="enteredPounds">Adjusted Pounds</label>
                                <input type="text" class="form-control" id="adjustedPounds" placeholder="" />
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" id="UnConsumeSave">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>
    @section Scripts {
        <script src="~/js/View/ScannerScript.js"></script>

    }
